description = "學院影音新聞"
==
<h2 class="index_title right_title">
    <!--<span class="title_tw">影音專區</span>-->
    <span class="title_tw">Video Tube</span>
    <!--<span class="title_en">Video Tube</span>-->
</h2>
<div class="area_layout eqh-3">
    <div class="video_slider">
        <div class="owl-carousel owl-theme">
            {% for link in site.video_links %}
                <div class="item">
                    <div class="owl_img_block">
                        <a href="JavaScript:html5Lightbox.showLightbox(2, 'https://www.youtube.com/embed/{{link.videoId}}&amp;autoplay=1', 'YouTube lightbox');" class="html5lightbox" data-width="1000" data-height="563" title="{{link.title}}">
                            <span class="owl_img">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{link.videoId}}" frameborder="0" allowfullscreen></iframe>
                            </span>
                            <span class="owl_overlay"></span>
                            <span class="owl_text">
                                <span>{{link.title}}</span>
                            </span>
                        </a>
                    </div>
                </div>
            {% endfor %} 
         </div>
    </div>
</div>