<p>1. 學校課程查詢與選課相關規定，請詳見 &nbsp;<a href="http://esquery.tku.edu.tw/acad/" target="_blank">課程查詢系統(教學大綱)</a></p>

<p>2. 通識核心課程選課 <a href="http://www.core.tku.edu.tw/news/news.php?Sn=234">http://www.core.tku.edu.tw/news/news.php?Sn=234</a></p>

<p>
	<br>
</p>

<p><strong>3.英文學系擋修規定</strong></p>

<p>&nbsp; (1) 擋修課程 : 英文系所有必修課程</p>

<p>&nbsp; (2) 擋修成績: 上學期成績未達50分或未修, 無法續修下學期課程</p>

<p>&nbsp; (3) 擋修<strong>進階課程</strong>：</p>

<p>&nbsp; &nbsp; &nbsp; (i)英國文學(一)、英國文學(二)；</p>

<p>&nbsp; &nbsp; &nbsp; (ii)英作文(一)、英作文(二)、英作文(三)；</p>

<p>&nbsp; &nbsp; &nbsp; (iii)英語會話、英語口語表達、英語演講。</p>

<p>4. 英文系必修課程選課規定：</p>

<p>　(1) 英語會話、英語口語表達、英語演講、英作文(一)、(二)、(三) 、英文翻譯 採小班上課，<strong>請勿任意更換小組課</strong><strong>，</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; 避免造成小組課因人數不足而停開，</strong><strong>損及其他同學權益。</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; 若初選擬更換小班課程班(組)別　或　因退選後無法選入擬修課程班(組)別者，請於加退選期間自行網路加退選。&nbsp;</strong></p>

<p>&nbsp; &nbsp; (2) 特殊情況者可依系上公告小班加退選時間至系辦辦理人工加選。惟人工選課時，加選班級人數已滿，</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;將依各組人數公平分配原則處理，同學不得有異議。英文系「小班課人工加簽」辦理時間及注意事項，開學第1週公告於系網。</p>

<p>　(3) <u>選修課程(含英文系、校共同科、院共同科、核心課程)，須於學校規定選課時間自行網路選課，不受理人工加選&nbsp;</u>。&nbsp;</p>

<p>5. 選課學分數上限為25學分；上學期成績滿80分者、經核准加修輔系、雙主修者，最多超修6學分。</p>

<p>&nbsp; &nbsp; 一. 二. 三年級不得低於12學分，四年級不得低於9學分，延修生至少修一科。</p>

<p>　學校選課相關規定請詳閱「<a href="http://oa.tku.edu.tw/Law.nsf/8a19663a9342a6a748256e6b00446781/1f54e17235547f69482570ee00089066?OpenDocument&amp;Highlight=0,%E9%81%B8%E8%AA%B2"><u>淡江大學學生選課規則</u></a>」、「<a href="http://oa.tku.edu.tw/Law.nsf/8a19663a9342a6a748256e6b00446781/692ea5274046b3dc48257b890021e9f2?OpenDocument&amp;Highlight=0,%E9%81%B8%E8%AA%B2"><u>淡江大學學生期中退選實施要點</u></a>」&nbsp;</p>

<p>6. 英文系畢業門檻 :</p>

<p>&nbsp; &nbsp;替代課程 (高級英文) 僅限「有報考過英文檢定考試但未達本系畢業門檻標準」的大四生(含延畢生)申請，<strong>自109學年度起, 請於第二學期開學第一週持成績單找系辦助理報名</strong>。(109.5.26更新)</p>

<p>7. 英文系選修課--企業實習，有意選修同學請於開學第一週向系辦助理報名（提供：姓名. 學號. mail. 電話）。</p>