<p><strong>1. 第二外語規定</strong></p>

<p><strong>&nbsp; &nbsp;</strong>日間部 -- 「外國語文學門」（Q群）開設之其他外文課程, 共8學分</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; 可選擇的語言有：</p>

<ol>
	<li>「西班牙文（一）」（4學分）。</li>
	<li>「西班牙文（二）」（4學分）。</li>
	<li>「法文（一）」（4學分）。</li>
	<li>「法文（二）」（4學分）。</li>
	<li>「德文（一）」（4學分）。</li>
	<li>「德文（二）」（4學分）。</li>
	<li>「日文（一）」（4學分）。</li>
	<li>「日文（二）」（4學分）。</li>
	<li>「俄文（一）」（4學分）。</li>
	<li>「俄文（二）」（4學分）。</li>
</ol>

<p><strong>&nbsp; &nbsp; 進學班</strong> -- 大一. 大二修 日文(一). 日文(二), 共8學分 </p>

<p><strong>2. 英文學系擋修課程規定</strong></p>

<p>&nbsp; (1) 擋修課程 : 英文系必修課程</p>

<p>&nbsp; (2) 擋修成績: 上學期成綪未達50分或未修, 無法續修下學期課程</p>

<p>&nbsp; (3) 擋修進階課程：</p>

<p>&nbsp; &nbsp; &nbsp; (I)英國文學(一)、英國文學(二)；</p>

<p>&nbsp; &nbsp; &nbsp; (II)英作文(一)、英作文(二)、英作文(三)；</p>

<p>&nbsp; &nbsp; &nbsp; (III)英語會話、英語口語表達、英語演講。</p>

<p>&nbsp; <strong>&nbsp; &nbsp;</strong></p>

<p><strong>3. 畢業學分規定</strong></p>

<p><strong>&nbsp;</strong>(一) 畢業學分：128學分 (107學年度入學新生起適用)。</p>

<p>&nbsp;(二) 必修學分：英文系必修62學分 及 通識核心課程26學分。</p>

<p>&nbsp;(三) 系內選修學分：20學分。 <strong>&nbsp;( 自109學年度起，取消修2門一學年課程的規定 )</strong></p>

<p>&nbsp;(四) 自由選修學分：20學分 (非英文系開的課)。&nbsp;</p>

<p>&nbsp;(五) 英文系不承認外系開設之英文(一)(二)課程、及「跨校數位學習學程」之學分。</p>

<p>
	<br>
</p>