<h4><strong>轉學考試</strong></h4>

<p>約每年5月辦理報名, 請詳見<a href="https://adms.tku.edu.tw/">本校招生資訊</a></p>

<h4>
	<br>
</h4>

<h4><strong>轉系申請</strong></h4>

<p>約每年3月辦理申請, 詳請見<a href="http://www.acad.tku.edu.tw/RS/main.php">本校註冊組</a>公告。</p>

<p>
	<br>
</p>