<p><strong>英文學系全英語學士班是１１０學年度新增開的一班，本班學生與其他三班學生一樣，均</strong><strong><em>在淡水校園上課</em></strong><strong>。但與其他三班不同之處在：</strong></p>

<p><strong>１、本班學生在一年級與二年級都必須住校，宿舍也在淡水校園；</strong></p>

<p><strong>２、本班學生所有課程均採全英語授課，畢業學分內所承認的課程都必須是全英語授課的課程；</strong></p>

<p><strong>３、本班學生在三年級時，<em>必須，必須，必須</em>到國外的姊妹校自費留學一年，同時，淡江的學費也必須繳交四分之一。</strong></p>

<p><strong>本班學生在個人申請面試時，地點也在淡水校園。</strong></p>