<p><span style="font-size:16px;"><strong>繁星推薦</strong></span></p>

<p>
	<br>
</p>
<div align="center">

	<table border="1" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td colspan="2" rowspan="2" width="141">

					<p align="center" style="text-align: center;"><strong>淡江大學<br>英文學系</strong></p>
				</td>
				<td colspan="2" width="151">

					<p align="center" style="text-align: center;">學測、英聽檢定</p>
				</td>
				<td width="260">

					<p align="center" style="text-align: center;">分發比序項目</p>
				</td>
			</tr>
			<tr>
				<td width="76">

					<p align="center" style="text-align: center;">科目</p>
				</td>
				<td width="76">

					<p align="center" style="text-align: center;">標準</p>
				</td>
				<td rowspan="7" valign="top" width="260">

					<p style="text-align: center;">1、在校學業成績全校排名百分比
						<br>2、學測英文級分
						<br>3、學測國文級分
						<br>4、學測社會級分</p>
				</td>
			</tr>
			<tr>
				<td width="75">

					<p align="center" style="text-align: center;">校系代碼</p>
				</td>
				<td width="66">

					<p align="center" style="text-align: center;">01407</p>
				</td>
				<td width="76">

					<p align="center" style="text-align: center;">國文</p>
				</td>
				<td width="76">

					<p align="center" style="text-align: center;">--</p>
				</td>
			</tr>
			<tr>
				<td width="75">

					<p align="center" style="text-align: center;">學群類別</p>
				</td>
				<td width="66">

					<p align="center" style="text-align: center;">第一類學群</p>
				</td>
				<td width="76">

					<p align="center" style="text-align: center;">英文</p>
				</td>
				<td width="76">

					<p align="center" style="text-align: center;">均標</p>
				</td>
			</tr>
			<tr>
				<td width="75">

					<p align="center" style="text-align: center;">招生名額</p>
				</td>
				<td width="66">

					<p align="center" style="text-align: center;">32</p>
				</td>
				<td width="76">

					<p align="center" style="text-align: center;">數學</p>
				</td>
				<td width="76">

					<p align="center" style="text-align: center;">--</p>
				</td>
			</tr>
			<tr>
				<td width="75">

					<p align="center" style="text-align: center;">可填志願數</p>
				</td>
				<td width="66">

					<p align="center" style="text-align: center;">31</p>
				</td>
				<td width="76">

					<p align="center" style="text-align: center;">社會</p>
				</td>
				<td width="76">

					<p align="center" style="text-align: center;">--</p>
				</td>
			</tr>
			<tr>
				<td width="75">

					<p align="center" style="text-align: center;">外加名額</p>
				</td>
				<td width="66">

					<p align="center" style="text-align: center;">3</p>
				</td>
				<td width="76">

					<p align="center" style="text-align: center;">自然</p>
				</td>
				<td width="76">

					<p align="center" style="text-align: center;">--</p>
				</td>
			</tr>
			<tr>
				<td width="75">

					<p align="center" style="text-align: center;">可填志願數</p>
				</td>
				<td width="66">

					<p align="center" style="text-align: center;">22</p>
				</td>
				<td width="76">

					<p align="center" style="text-align: center;">英聽</p>
				</td>
				<td width="76">

					<p align="center" style="text-align: center;">--</p>
				</td>
			</tr>
			<tr>
				<td width="75">

					<p align="center" style="text-align: center;">備註</p>
				</td>
				<td colspan="4" valign="top" width="478">

					<p style="text-align: left;">1.大三經甄選可赴美國、加拿大、澳洲等國留學一年。
						<br>2.畢業門檻為通過全民英檢中高級(初試)相對等級(含)以上。
						<br>3.聯絡電話：(02)26215656 分機2343
						<br>4.網址：http://www.tflx.tku.edu.tw/</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<p>
	<br>
</p>

<p><a href="https://www.cac.edu.tw/CacLink/star109/109star_KresultO_9ch3ekq/html_109koko/ColReport/one2seven/collegeList.htm" rel="noopener noreferrer" target="_blank">109學年度大學「繁星推薦入學」招生錄取查詢</a></p>

<p>&nbsp;</p>

<p><span style="font-size:16px;"><strong>個人申請</strong></span></p>

<p>109學年度大學「個人申請入學」<a href="http://www.acad.tku.edu.tw/AS/news/news.php?Sn=1905" rel="noopener noreferrer" target="_blank">第二階段甄試事宜</a>
	<br>109學年度第二階段面試 (109年4月25、26日) <a href="http://www.acad.tku.edu.tw/AS/news/news.php?Sn=1973" rel="noopener noreferrer" target="_blank">時間衝突處理原則</a></p>

<p>＊其他未盡事宜請洽本校招生組，分機2513 楊立偉&nbsp;先生</p>

<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td rowspan="3" valign="top" width="21%">

				<p><strong>淡江大學</strong><strong><br></strong><strong>英文學系</strong></p>
			</td>
			<td colspan="3" width="16%">

				<p align="center"><strong>學測、英聽篩選方式</strong></p>
			</td>
			<td colspan="5" width="43%">

				<p align="center">甄選總成績採計方式及佔總成績比例</p>
			</td>
			<td rowspan="3" width="23%">

				<p align="center">甄選總成績同分參酌之順序</p>
			</td>
		</tr>
		<tr>
			<td colspan="3" width="16%">

				<p align="center"><strong>第一階段</strong></p>
			</td>
			<td colspan="5" width="43%">

				<p align="center">第二階段</p>
			</td>
		</tr>
		<tr>
			<td width="5%">

				<p align="center"><strong>科目</strong></p>
			</td>
			<td width="6%">

				<p align="center"><strong>檢定</strong></p>
			</td>
			<td width="5%">

				<p align="center"><strong>篩選</strong><strong><br></strong><strong>倍率</strong></p>
			</td>
			<td width="6%">

				<p align="center">學測成績
					<br>採計方式</p>
			</td>
			<td width="7%">

				<p align="center">佔甄選總
					<br>成績比例</p>
			</td>
			<td width="15%">

				<p align="center">指定項目</p>
			</td>
			<td width="5%">

				<p align="center">檢定</p>
			</td>
			<td width="10%">

				<p align="center">佔甄選總
					<br>成績比例</p>
			</td>
		</tr>
		<tr height="0">
			<td width="149">
				<br>
			</td>
			<td width="35">
				<br>
			</td>
			<td width="42">
				<br>
			</td>
			<td width="35">
				<br>
			</td>
			<td width="42">
				<br>
			</td>
			<td width="49">
				<br>
			</td>
			<td width="106">
				<br>
			</td>
			<td width="35">
				<br>
			</td>
			<td width="71">
				<br>
			</td>
			<td width="141">
				<br>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<br>
</p>

<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td width="12%">

				<p align="center">校系代碼</p>
			</td>
			<td width="8%">

				<p align="center">014072</p>
			</td>
			<td width="5%">

				<p align="center"><strong>國文</strong></p>
			</td>
			<td width="6%">

				<p align="center"><strong>--</strong></p>
			</td>
			<td width="5%">

				<p align="center"><strong>3</strong></p>
			</td>
			<td width="6%">

				<p align="center">--</p>
			</td>
			<td rowspan="7" width="7%">

				<p align="center">50%</p>
			</td>
			<td width="15%">

				<p>審查資料</p>
			</td>
			<td width="5%">

				<p align="center">--</p>
			</td>
			<td width="10%">

				<p align="center">10%</p>
			</td>
			<td rowspan="4" valign="top" width="20%">

				<p>一、學測英文級分
					<br>二、學測國文級分
					<br>三、面試
					<br>四、審查資料</p>
			</td>
		</tr>
		<tr>
			<td width="12%">

				<p align="center">招生名額</p>
			</td>
			<td width="8%">

				<p align="center">58</p>
			</td>
			<td width="5%">

				<p align="center"><strong>英文</strong></p>
			</td>
			<td width="6%">

				<p align="center"><strong>均標</strong></p>
			</td>
			<td width="5%">

				<p align="center"><strong>6</strong></p>
			</td>
			<td width="6%">

				<p align="center">*2.00</p>
			</td>
			<td width="15%">

				<p>面試</p>
			</td>
			<td width="5%">

				<p align="center">--</p>
			</td>
			<td width="10%">

				<p align="center">40%</p>
			</td>
		</tr>
		<tr>
			<td width="12%">

				<p align="center">性別要求</p>
			</td>
			<td width="8%">

				<p align="center">無</p>
			</td>
			<td width="5%">

				<p align="center"><strong>數學</strong></p>
			</td>
			<td width="6%">

				<p align="center"><strong>--</strong></p>
			</td>
			<td width="5%">

				<p align="center"><strong>--</strong></p>
			</td>
			<td width="6%">

				<p align="center">--</p>
			</td>
			<td width="15%">

				<p>
					<br>
				</p>
			</td>
			<td width="5%">

				<p align="center">
					<br>
				</p>
			</td>
			<td width="10%">

				<p align="center">
					<br>
				</p>
			</td>
		</tr>
		<tr>
			<td width="12%">

				<p align="center">預計甄試人數</p>
			</td>
			<td width="8%">

				<p align="center">174</p>
			</td>
			<td width="5%">

				<p align="center"><strong>社會</strong></p>
			</td>
			<td width="6%">

				<p align="center"><strong>--</strong></p>
			</td>
			<td width="5%">

				<p align="center"><strong>--</strong></p>
			</td>
			<td width="6%">

				<p align="center">--</p>
			</td>
			<td width="15%">

				<p>
					<br>
				</p>
			</td>
			<td width="5%">

				<p align="center">
					<br>
				</p>
			</td>
			<td width="10%">

				<p align="center">
					<br>
				</p>
			</td>
		</tr>
		<tr>
			<td width="12%">

				<p align="center">原住民外加名額</p>
			</td>
			<td width="8%">

				<p align="center">3</p>
			</td>
			<td width="5%">

				<p align="center"><strong>自然</strong></p>
			</td>
			<td width="6%">

				<p align="center"><strong>--</strong></p>
			</td>
			<td width="5%">

				<p align="center"><strong>--</strong></p>
			</td>
			<td width="6%">

				<p align="center">--</p>
			</td>
			<td width="15%">

				<p>
					<br>
				</p>
			</td>
			<td width="5%">

				<p align="center">
					<br>
				</p>
			</td>
			<td width="10%">

				<p align="center">
					<br>
				</p>
			</td>
			<td width="20%">

				<p align="center">離島外加名額縣市別限制</p>
			</td>
		</tr>
		<tr>
			<td width="12%">

				<p align="center">離島外加名額</p>
			</td>
			<td width="8%">

				<p align="center">1</p>
			</td>
			<td width="5%">

				<p align="center"><strong>--</strong></p>
			</td>
			<td width="6%">

				<p align="center"><strong>--</strong></p>
			</td>
			<td width="5%">

				<p align="center"><strong>--</strong></p>
			</td>
			<td width="6%">

				<p align="center">--</p>
			</td>
			<td width="15%">

				<p>
					<br>
				</p>
			</td>
			<td width="5%">

				<p align="center">
					<br>
				</p>
			</td>
			<td width="10%">

				<p align="center">
					<br>
				</p>
			</td>
			<td rowspan="2" valign="top" width="20%">

				<p>1名限金門縣</p>
			</td>
		</tr>
		<tr>
			<td width="12%">

				<p align="center">指定項目甄試費</p>
			</td>
			<td width="8%">

				<p align="center">1100</p>
			</td>
			<td width="5%">

				<p align="center"><strong>英聽</strong></p>
			</td>
			<td width="6%">

				<p align="center"><strong>--</strong></p>
			</td>
			<td width="5%">

				<p align="center"><strong>--</strong></p>
			</td>
			<td width="6%">

				<p align="center">--</p>
			</td>
			<td width="15%">

				<p>
					<br>
				</p>
			</td>
			<td width="5%">

				<p align="center">
					<br>
				</p>
			</td>
			<td width="10%">

				<p align="center">
					<br>
				</p>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<br>
</p>

<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td width="12%">

				<p align="center">寄發(或公告)指定
					<br>項目甄試通知</p>
			</td>
			<td width="9%">

				<p align="center">109.4.1</p>
			</td>
			<td rowspan="5" width="9%">

				<p align="center">指定
					<br>項目
					<br>內容</p>
			</td>
			<td rowspan="3" width="9%">

				<p align="center">審查
					<br>資料</p>
			</td>
			<td rowspan="3" valign="top" width="60%">

				<p>項目：修課紀錄 ( B )、多元表現 ( F )、學習歷程自述 ( N、O )
					<br>　　　※<a href="https://www.cac.edu.tw/apply109/system/109ColQrytk4p_forapply_os92k5w/html/109a_tks__ReviewData.pdf" target="_blank">項目內容請參照本簡章「貳、分則」乙、審查資料項目對照表 (第20頁)</a>。
					<br>
					<br>說明：學習歷程自述(N.自傳、O.讀書計畫)請用英文撰寫</p>
			</td>
		</tr>
		<tr>
			<td width="12%">

				<p align="center">繳交資料收件截止</p>
			</td>
			<td width="9%">

				<p align="center">109.4.13</p>
			</td>
		</tr>
		<tr>
			<td width="12%">

				<p align="center">指定項目甄試日期</p>
			</td>
			<td width="9%">

				<p align="center">109.4.25
					<br>至
					<br>109.4.26</p>
			</td>
		</tr>
		<tr>
			<td width="12%">

				<p align="center">榜示</p>
			</td>
			<td width="9%">

				<p align="center">109.5.2</p>
			</td>
			<td rowspan="2" width="9%">

				<p align="center">甄試
					<br>說明</p>
			</td>
			<td rowspan="2" valign="top" width="60%">

				<p>*本系於招生名額內優先錄取低收及中低收入戶考生，至多3名。</p>
			</td>
		</tr>
		<tr>
			<td width="12%">

				<p align="center">甄選總成績複查
					<br>截止</p>
			</td>
			<td width="9%">

				<p align="center">109.5.3</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" width="21%">

				<p align="center"><strong>同級分</strong><strong>(</strong><strong>分數</strong><strong>)</strong><strong>超額篩選方式</strong></p>
			</td>
			<td colspan="3">

				<p><strong>一、學測國文、英文之級分總和　二、學測英文級分</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="2" width="21%">

				<p align="center">備註</p>
			</td>
			<td colspan="3" valign="top">

				<p>1.本系旨在培養學生英美語言及文學專業能力，課程實用且教學多元，有碩博士班，提供預研生修讀碩士學位。</p>

				<p>2.實施大三出國制度，經甄選後可赴本系簽訂的姊妹校留學一年；學生須通過本系外語能力畢業檢定考試，始得畢業。</p>

				<p>3.通過第一階段篩選者，請務必於4月13日前繳交第二階段甄試費及完成審查資料上傳。本校招生資訊網頁「第二階段甄試補充規定」，網址: http://www.acad.tku.edu.tw/AS/。</p>

				<p>4.本系聯絡電話：(02)26215656分機2343；網址：https://www.tflx.tku.edu.tw/english/</p>
			</td>
		</tr>
	</tbody>
</table>

<p>請欲申請本系學生注意以下事宜：</p>

<ul>
	<li><strong>上傳審查資料</strong></li>
</ul>

<p style="margin-left:40px;">上傳審查資料：<span style="color:#ff0000;"><strong>109年4月2日(星期四)至4月13日(星期一)，每日上午9時至下午9時</strong></span></p>

<p style="margin-left:40px;">本校上傳截止日期：<strong><span style="color:#ff0000;">109年4月13日(星期一)下午9時&nbsp;</span></strong>&nbsp; &nbsp; &nbsp;*請務必確認上傳之資料無誤再點選<strong><span style="color:#ff0000;">「確認」</span></strong>鍵！</p>

<p style="margin-left:40px;">&nbsp; &nbsp; &nbsp;&nbsp;</p>

<ul>
	<li><strong>報名費</strong></li>
</ul>

<p style="margin-left:40px;">查詢繳費帳號＆繳費狀態網站（http://exam.tku.edu.tw/）</p>

<p style="margin-left:40px;">繳費日期：<span style="color:#ff0000;"><strong>109年4月1日(星期三)至4月13日(星期一)&nbsp;</strong></span><span style="color:#0000ff;">*中低收入戶. 低收入戶者免繳費</span></p>

<p style="margin-left:40px;">
	<br>
</p>

<p>面試時間：<strong>109年4月25日(星期六)、4月26日(星期日)</strong></p>

<p>詳細梯次及面試相關事宜會於<span style="color:#ff0000;">4/22(星期三)</span>與本校同步公告，若需調整面試之梯次，請致電 2621-5656分機2343 鄭助理 &nbsp;<span style="font-size:14px;">(2020/4/1更新)</span></p>

<p>
	<br><span style="font-size:16px;"><span style="font-family:Arial,Helvetica,sans-serif;">109學年度「大學個人申請入學」_第二階段指定項目甄試錄取名單 <span style="font-size:14px;">(2020/5/5更新)&nbsp;</span></span></span></p>

<p><span style="font-size:16px;">錄取名單查詢頁面：<a href="https://adms.tku.edu.tw/uploads/asset/data/5ead1c508820d70c490078d9/915.pdf">https://adms.tku.edu.tw/uploads/asset/data/5ead1c508820d70c490078d9/915.pdf</a> &nbsp;</span></p>

<p><span style="font-size:16px;"><span style="color:#ff0000;">恭喜所有錄取同學！</span></span></p>

<p>&nbsp;</p>

<p>&nbsp;<span style="font-size:16px;"><strong>入學分發</strong></span></p>

<table border="0" cellpadding="0" cellspacing="0" width="772">
	<tbody>
		<tr>
			<td rowspan="2" width="107">

				<p align="center">學系</p>
			</td>
			<td rowspan="2" width="35">

				<p align="center">高中英語聽力測驗檢定標準</p>
			</td>
			<td width="135">

				<p align="center">指定考試</p>
			</td>
			<td colspan="2" width="109">

				<p align="center">同分參酌</p>
			</td>
			<td rowspan="2" width="387">

				<p align="center">選系說明</p>
			</td>
		</tr>
		<tr>
			<td width="135">

				<p align="center">採計科目及方法</p>
			</td>
			<td colspan="2" width="109">

				<p align="center">順序</p>
			</td>
		</tr>
		<tr>
			<td rowspan="3" width="107">

				<p><strong>淡江大學</strong><strong><br></strong><strong>英文學系</strong></p>
			</td>
			<td rowspan="3" width="35">

				<p align="center">---</p>
			</td>
			<td width="135">

				<p>國　文 x1.00</p>
			</td>
			<td width="25">

				<p align="center">1</p>
			</td>
			<td width="84">

				<p>英　文</p>
			</td>
			<td rowspan="3" width="387">

				<p>本系旨在培養學生英美語言及文學專業能力。課程提供實用且教學多元，有碩博士班，提供預研生修讀碩士學位。實施大三出國制度，經甄選後可赴本系簽訂的姊妹校留學一年；學生須通過本系外語能力畢業檢定試，始得畢業。本系組受理符合登記分發及入學資格第十八款者。</p>
			</td>
		</tr>
		<tr>
			<td width="135">

				<p>英　文 x 2.00</p>
			</td>
			<td width="25">

				<p align="center">2</p>
			</td>
			<td width="84">

				<p>國　文</p>
			</td>
		</tr>
		<tr>
			<td width="135">

				<p>歷　史 x 1.00</p>
			</td>
			<td width="25">

				<p align="center">3</p>
			</td>
			<td width="84">

				<p>歷　史</p>
			</td>
		</tr>
	</tbody>
</table>

<p align="center">表單的頂端</p>

<p align="center">表單的底部</p>

<p>
	<br>
</p>

<p>
	<br>
</p>