<h4>1. <strong>110學年度轉學生報到日期：110年8月17日，採線上報到註冊（報到方式請詳教務處通知）。</strong></h4>

<p>
	<br>
</p>

<h4><strong>2. 110學年度抵免規則請見註冊組公告之學分抵免規則及相關事宜說明</strong><strong>（</strong><a href="http://www.acad.tku.edu.tw/RS/news/news.php?Sn=2124">http://www.acad.tku.edu.tw/RS/news/news.php?Sn=2124</a><strong>）</strong></h4>

<p>
	<br>
</p>

<h4>3. 110學年度轉學生自110年8月25日、新生自110年9月22日起辦理學分抵免，</h4>

<h4>&nbsp; &nbsp; <strong>學分抵免系統</strong><strong>&nbsp;<a href="http://w3.emis.tku.edu.tw">http://w3.emis.tku.edu.tw</a>, 日間部請洽分機#2343 鄭助理, 進學班請洽分機#2194 施助理。</strong></h4>

<p>
	<br>
</p>

<h4>4. 轉學生代選課程為轉入年級之課程，如有擋修科目，請先退選代選課程，另行加選適當年級之科目<strong>。</strong></h4>

<p>
	<br>
</p>

<h4 class="oc-text-uppercase"><strong>5. 110學年度英文系轉學生抵免「大一英文」測驗時間待訂</strong><strong style="color: inherit; font-family: inherit; background-color: transparent;">&nbsp; （英文系轉學生如原校非英文系可報名參加此測驗）</strong></h4>