<h3><strong>輔系 / 雙主修申請約每年4、5月辦理，詳請見<a href="http://www.acad.tku.edu.tw/RS/main.php">本校註冊組</a>公告。</strong></h3>

<p>
	<br>
</p>

<p><strong>輔系</strong>申請條件：各系學生（不包括延長修業年限者）得自每學年度第二學期申請加修一個輔系，經主修系及輔系系主任同意轉教務處備</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 查。 惟修讀後未滿一年者不得退選或轉選輔系。大陸地區學生申請輔系，須於教育部核定當學年度得招收陸生之校系</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 範圍內辦理。</p>

<p><strong>雙主修</strong>申請條件：本校學生（不包括延長修業年限者），其前一學期所修習學分達十五學分以上且學期學業成績平均達七十五分以上者，</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 得自每學年度第二學期申請加選一個雙主修。經主修系或學位學程及加修系系主任或學位學程主管同意轉教務處備查。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 大陸地區學生申請雙主修，須於教育部核定當學年度得招收陸生之校系範圍內辦理。</p>

<p>
	<br>
</p>

<p>輔系 / 雙主修規定及選課須知</p>

<ol>
	<li>&nbsp;申請輔系及放棄輔系，請依教務處規定辦理。</li>
	<li>&nbsp;選課注意事項：英國文學（一）、英國文學（二）隨班選讀；</li>
</ol>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;英語會話、英語口語表達、英作文（一）、(二），限選<strong>輔系班</strong>。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;3. &nbsp;輔系/ 雙主修費用需另支付學分費。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;4. &nbsp;修習科目及學分數，請詳英文系輔系/雙主修應修科目表。</p>