<p><a href="http://adms.tku.edu.tw/zh_tw/news/108%E5%AD%B8%E5%B9%B4%E5%BA%A6%E5%A4%A7%E5%AD%B8-%E7%B9%81%E6%98%9F%E6%8E%A8%E8%96%A6%E5%85%A5%E5%AD%B8-%E6%8B%9B%E7%94%9F-%E9%8C%84%E5%8F%96%E6%9F%A5%E8%A9%A2-67553290" rel="noopener noreferrer" target="_blank">108學年度大學「繁星推薦入學」招生錄取查詢</a></p>
<hr>

<p>108學年度大學「個人申請入學」_第二階段甄試事宜，請見招生組<a href="http://adms.tku.edu.tw/zh_tw/news/108%E5%AD%B8%E5%B9%B4%E5%BA%A6%E5%A4%A7%E5%AD%B8-%E5%80%8B%E4%BA%BA%E7%94%B3%E8%AB%8B%E5%85%A5%E5%AD%B8-%E7%AC%AC%E4%BA%8C%E9%9A%8E%E6%AE%B5%E8%A3%9C%E5%85%85%E8%A6%8F%E5%AE%9A-2243675" rel="noopener noreferrer" target="_blank">招生資訊</a></p>

<p>
	<br>
</p>

<p>108學年度第二階段面試(4月20、21日)<a href="http://adms.tku.edu.tw/zh_tw/news/108%E5%AD%B8%E5%B9%B4%E5%BA%A6%E7%AC%AC%E4%BA%8C%E9%9A%8E%E6%AE%B5%E9%9D%A2%E8%A9%A6-4%E6%9C%8820-21%E6%97%A5-%E6%99%82%E9%96%93%E8%A1%9D%E7%AA%81%E8%99%95%E7%90%86%E5%8E%9F%E5%89%87-8238545" rel="noopener noreferrer" target="_blank">時間衝突處理原則</a></p>

<p>
	<br>
</p>

<p>請欲申請本系學生注意以下事宜：</p>

<ul>
	<li><strong>上傳審查資料</strong></li>
</ul>

<p>上傳審查資料：108年3月29日(星期五)至4月9日(星期二)，每日上午9時至晚上9時</p>

<p>本校上傳截止日期：108年4月9日(星期二)晚上9時</p>

<ul>
	<li><strong>報名費</strong></li>
</ul>

<p>查詢繳費帳號＆繳費狀態網站（<a href="http://exam.tku.edu.tw/una/list.asp">http://exam.tku.edu.tw/</a>）</p>

<p>繳費日期：108年3月28日(星期四)至4月9日(星期二)</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>