<h3><strong>招生簡章</strong></h3>

<h4>108學年度進修學士班招生簡章，請見<a href="http://www.acad.tku.edu.tw/AS/news/news.php?Sn=1770" rel="noopener noreferrer" target="_blank">招生組公告</a>。</h4>

<h4>107學年度進修學士班寒轉招生簡章，請見<a href="http://www.acad.tku.edu.tw/AS/news/news.php?Sn=1701" rel="noopener noreferrer" target="_blank">招生組公告</a>。</h4>

<h4>
	<br>
</h4>