<p>輔系 / 雙主修規定及選課須知</p>

<ol>
	<li>&nbsp;申請輔系及放棄輔系，請依教務處規定辦理。</li>
	<li><strong>&nbsp;選課注意事項：英國文學（一）、英國文學（二）隨班選讀；</strong></li>
</ol>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;英語會話、英語口語表達、英作文（一）、(二），限選輔系班。</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;3. &nbsp;輔系班課程另繳學分費。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;4. &nbsp;修習科目及學分數，請詳英文系輔系/雙主修應修科目表。</p>