<p>
	<br>
</p>

<table style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 100%; text-align: justify;"><a class="fr-file" href="/storage/app/media/uploaded-files/TKU%20English%20Department%20Graduation%20Benchmark.pdf">TKU English Department Graduation Benchmark.pdf</a>
				<br>
			</td>
		</tr>
	</tbody>
</table>