<p>依「淡江大學學生修讀外國語文學門課程實施要點」，自104學年度起入學之大一新生，「外國語文學門」8學分含大一應修習「英文（一）」4學分、大二得自由選修「英文（二）」或其他外文4學分。修習英文或其他外文者，上、下學期必須為同一語種始得承認。</p>

<p><br />
一、「外國語文學門」（Q群）開設之其他外文課程如下：</p>

<ol>
	<li>「西班牙文（一）」（1學年，共4學分）。</li>
	<li>「西班牙文（二）」（1學年，共4學分）。</li>
	<li>「法文（一）」（1學年，共4學分）。</li>
	<li>「法文（二）」（1學年，共4學分）。</li>
	<li>「德文（一）」（1學年，共4學分）。</li>
	<li>「德文（二）」（1學年，共4學分）。</li>
	<li>「日文（一）」（1學年，共4學分）。</li>
	<li>「日文（二）」（1學年，共4學分）。</li>
	<li>「俄文（一）」（1學年，共4學分）。</li>
	<li>「俄文（二）」（1學年，共4學分）。</li>
</ol>

<p>二、選課方式：</p>

<ol>
	<li>於大一修畢「英文（一）」4學分者，升大二時，課務組皆會自動為其代選「英文（二）」。</li>
	<li>擬改修其他外文者，請以網路加選欲選修的外文，確定加選成功之後，再退選「英文（二）」（因「英文（二）」一經退選則無法再以網路加選的緣故）。</li>
	<li>請自行視程度決定選修其他外文（一）或其他外文（二）。</li>
	<li>若因額滿、衝堂而無法以網路加選其他外文者，人工加選方式請逕洽各外語學系。</li>
</ol>

<p>三、其他外文（一）：</p>

<ol>
	<li>課程查詢：課程查詢系統／課程類別／通識教育課程／外國語文（含實習課）學門（Q群）。</li>
	<li>為1學年課程，搭配實習課授課。</li>
	<li>原則上皆以網路選課，以實習課之「開課序號」選課；選課成功時，系統會自動帶出正課含實習課之資料。</li>
	<li>「西班牙文（一）」、「法文（一）」與「日文（一）」，每班正課各有數個實習課可選擇，意即學生選課時，應先決定正課時間，再從該班正課對應的數個實習課中選擇其一搭配。</li>
</ol>

<p>四、其他外文（二）：</p>

<ol>
	<li>課程查詢：課程查詢系統／課程類別／通識教育課程／外國語文（含實習課）學門（Q群）。</li>
	<li>為1學年課程，無實習課。</li>
</ol>

<p>五、其他說明：</p>

<ol>
	<li>依選課規定，大二～大四擬修習大一課程者，請於加退選期間選課。由於其他外文課程為英文系大一新生之必修課，故第1學期初選期間必須先將該課程保留給大一新生加選，暫不開放2年級以上學生加選；2年級以上學生欲加選其他外文者，請於加退選期間選課。第2學期則無此限制。</li>
</ol>