<p>使命（Ｍｉｓｓｉｏｎ）</p>

<p>培育專業且具國際觀之全方位英美語文專才。</p>

<p><br />
願景（Ｖｉｓｉｏｎ）</p>

<p>&nbsp;秉持本系於英美文學及教學領域研究之悠久歷史，發展文學與教學跨領域研究。</p>

<p><br />
價值（Ｖａｌｕｅ）</p>

<p>全方位語言學習，英美文學與英語教學並重，理論與實用兼顧。</p>

<p><br />
策略（Ｓｔｒａｔｅｇｉｅｓ）</p>

<p>－發展英美文學、醫療人文、文化研究、生態文學以及英語教學等研究領域</p>

<p>－加強與國外著名大學的視訊教學</p>

<p>－實施英語能力檢測，提高學生就業競爭力和國際移動力</p>

<p>－密集訓練聽、說、讀、寫、譯五技並拓展大三出國留學計畫</p>