<p>英文系學生申請轉系須先經<span style="color:#ff0000"><strong>家長同意簽名或蓋章</strong></span>，附<span style="color:#ff0000"><strong>成績單正本</strong></span>(申請降轉者須於轉系申請表上之具結書簽名或蓋章)，再繳交至系辦給Judy助理。</p>

<p>108學年度轉系申請日期<span style="color:#ff0000"><strong>自3月7日(星期四)至3月13日(星期三)止</strong></span>，逾期不予受理。</p>