<p><strong>Mission</strong></p>

<p>To cultivate English experts in professional and international views.</p>

<p>
	<br>
</p>

<p><strong>Vision</strong></p>

<p>To maintain the established history and develop in English literature and educational research.</p>

<p>
	<br>
</p>

<p><strong>Value</strong></p>

<p>To cover all domains in language learning, mainly in English literature and English teaching which put emphasis on theory and practice.</p>

<p>
	<br>
</p>

<p><strong>Strategies</strong></p>

<p>-Develop in English literature, medical humanities, culture research, ecology literature and English educational research fields.</p>

<p>-Strengthen online courses with famous universities from other countries.</p>

<p>-Initiate in English Proficiency Tests, to increase students’ abilities and international mobility.</p>

<p>-Common practice in the five skills in reading, writing, listening, speaking and translation to expand students views in the Junior Abroad Program.</p>