<p><strong>1. &nbsp; &nbsp;English Department Prerequisite Course Policies</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;(1) &nbsp; &nbsp;Prerequisite Courses: Required courses in the English Department</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;(2) &nbsp; &nbsp;Prerequisite Scores: In the first semester should your score be 50 or under or if you did not take the course, you may not take said courses for the second semester.</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;(3) &nbsp; &nbsp;Advance Prerequisite Courses:</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(I) &nbsp; &nbsp;English Literature (I), English Literature (II);</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (II) &nbsp; &nbsp;English Composition (I), English Composition (II), English Composition (III);</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(III) &nbsp; &nbsp;English Conversation, Oral Communication, English Oral Presentation</p>

<p>
	<br>
</p>

<p><strong>2. &nbsp; &nbsp;Graduation Credits Regulations</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;(1) &nbsp; &nbsp;Graduation Credits: 128 credits (applied for freshman students who enrolled in the 2018 academic semester and further)</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;(2) &nbsp; &nbsp;Required Credits: 62 credits from the English Department and 26 credits from the General Education Core Curriculum.</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;(3) &nbsp; &nbsp;Department Elective Credits: 20 credits (From the 2020 academic semester, the regulation of the 2 courses that require an academic year to complete will be canceled)</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;(4) &nbsp; &nbsp;Free Elective Courses: 20 credits (courses that are not under the English Department)</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;(5) &nbsp; &nbsp;The English Department does not qualify credits for the English (I) (II) courses opened from other departments and Collaborative Digital Learning Program credits.</p>

<h3>Freshman Manual／Require, Elective Courses Download Area</h3>

<p>
	<br>
</p>

<table style="width: 100%;">
	<tbody>
		<tr>
			<td class="oc-cell-thick-border" style="width: 50%; background-color: rgb(209, 213, 216);">Name</td>
			<td class="oc-cell-thick-border" style="width: 50%; background-color: rgb(204, 204, 204);">
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 50.0000%;"><a class="fr-file" href="/storage/app/media/uploaded-files/Freshman%20Handbook.pdf">Freshman Handbook.pdf</a>
				<br>
			</td>
			<td style="width: 50.0000%;">
				<br>
			</td>
		</tr>
	</tbody>
</table>