<p><span style="font-size:16px"><strong>繁星推薦</strong></span></p>

<p><a href="https://www.cac.edu.tw/CacLink/star109/109star_KresultO_9ch3ekq/html_109koko/ColReport/one2seven/collegeList.htm">109學年度大學「繁星推薦入學」招生錄取查詢</a></p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><strong>個人申請</strong></span></p>

<p>108學年度大學「個人申請入學」<a href="http://adms.tku.edu.tw/zh_tw/news/108%E5%AD%B8%E5%B9%B4%E5%BA%A6%E5%A4%A7%E5%AD%B8-%E5%80%8B%E4%BA%BA%E7%94%B3%E8%AB%8B%E5%85%A5%E5%AD%B8-%E7%AC%AC%E4%BA%8C%E9%9A%8E%E6%AE%B5%E8%A3%9C%E5%85%85%E8%A6%8F%E5%AE%9A-2243675">第二階段甄試事宜</a><br />
108學年度第二階段面試(4月20、21日)&nbsp;<a href="http://adms.tku.edu.tw/zh_tw/news/108%E5%AD%B8%E5%B9%B4%E5%BA%A6%E7%AC%AC%E4%BA%8C%E9%9A%8E%E6%AE%B5%E9%9D%A2%E8%A9%A6-4%E6%9C%8820-21%E6%97%A5-%E6%99%82%E9%96%93%E8%A1%9D%E7%AA%81%E8%99%95%E7%90%86%E5%8E%9F%E5%89%87-8238545">時間衝突處理原則</a></p>

<p>＊其他未盡事宜請洽本校招生組，分機2513 楊立偉&nbsp;先生</p>

<p>&nbsp;</p>

<p>面試時間：<strong>4月20日(星期六)、4月21日(星期日)</strong></p>

<p>詳細梯次及面試相關事宜會於<span style="color:#ff0000">4/17(星期三)</span>與本校同步公告，若有需要調整面試之梯次，請致電分機2343 鄭助理&nbsp;</p>

<p><span style="font-size:14px">(2019/4/16更新)</span></p>

<p><span style="font-size:14px">面試梯次公告頁面：<a href="https://www.tflx.tku.edu.tw/english/web_page/966">https://www.tflx.tku.edu.tw/english/web_page/966</a></span></p>

<p><br />
請欲申請本系學生注意以下事宜：</p>

<ul>
	<li><strong>上傳審查資料</strong></li>
</ul>

<p style="margin-left:40px">上傳審查資料：<span style="color:#ff0000"><strong>108年3月29日(星期五)至4月9日(星期二)，每日上午9時至晚上9時</strong></span></p>

<p style="margin-left:40px">本校上傳截止日期：<strong><span style="color:#ff0000">108年4月9日(星期二)晚上9時</span></strong></p>

<p style="margin-left:40px">&nbsp; &nbsp; &nbsp;*請務必確認上傳之資料無誤再點選<strong><span style="color:#ff0000">「確認」</span></strong>鍵！</p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:40px">&nbsp; &nbsp; &nbsp; *若審查資料上傳未完成／須抽換部分資料，而<strong><span style="color:#0000ff">誤按確認鍵</span></strong>之情況，請將更新後之所有審查資料，轉換成一個<span style="color:#0000ff">PDF檔</span>，以「<span style="color:#0000ff">身分證號碼_姓名_英文學系</span>」命名，E-mail至本系郵件地址( tflx@oa.tku.edu.tw)。</p>

<p><span style="font-size:14px">(2019/4/10) 更新</span></p>

<p><span style="font-size:14px">若還有未上傳審查資料的同學，請於<strong><span style="color:#ff0000">明日(4/11)上午 8 點前</span></strong>，將所有審查資料合併成一個檔案，轉換成一個<span style="color:#0000ff">PDF檔</span>，以「<span style="color:#0000ff">身分證號碼_姓名_英文學系</span>」命名，E-mail至本校招生組郵件地址(<a href="mailto:ubah@mail.tku.edu.tw" target="_blank">ubah@mail.tku.edu.tw</a>)，謝謝。</span></p>

<p>&nbsp;</p>

<ul>
	<li><strong>報名費</strong></li>
</ul>

<p style="margin-left:40px">查詢繳費帳號＆繳費狀態網站（http://exam.tku.edu.tw/）</p>

<p style="margin-left:40px">繳費日期：<span style="color:#ff0000"><strong>108年3月28日(星期四)至4月9日(星期二)</strong></span></p>

<p style="margin-left:40px"><span style="color:#0000ff">*中低收入戶者免繳費</span></p>

<p style="margin-left:40px">&nbsp;</p>

<hr />
<p style="margin-left:40px">&nbsp;</p>

<p><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">108學年度「大學個人申請入學」_第二階段指定項目甄試錄取名單</span></span></p>

<p><span style="font-size:16px">錄取名單查詢頁面：<a href="http://www.acad.tku.edu.tw/AS/news/news.php?Sn=1736">http://www.acad.tku.edu.tw/AS/news/news.php?Sn=1736</a></span></p>

<p><span style="font-size:16px"><span style="color:#ff0000">恭喜所有錄取同學！</span></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:22px">108學年度「大學個人申請入學」統一分發結果公告</span></strong></p>

<p><strong><span style="font-size:22px">統一分發結果公告請至招生組頁面查詢：<a href="http://www.acad.tku.edu.tw/AS/news/news.php?Sn=1788">http://www.acad.tku.edu.tw/AS/news/news.php?Sn=1788</a></span></strong></p>

<p><strong><span style="font-size:22px"><span style="color:#ff0000">恭喜所有準大一新生！</span></span></strong></p>