<p><span>一、推甄入學</span></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

<table align="left" border="1" cellpadding="0" cellspacing="0" width="631">
	<tbody>
		<tr>
			<td width="59">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;系別
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="113">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>資格條件</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="236">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;備審資料
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="142">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>甄試方式</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="121">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;備註
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="59">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>碩士班</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td valign="top" width="113">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;英文、外文系大學畢業或相關學系畢業
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td valign="top" width="236">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>一、研讀計畫書</span>1<span>份</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;1.<span>曾修專業科目數及其成績</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;2.<span>讀書計畫及其他相關資料</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;3.<span>「語言測驗成績如</span>TOEFL (CBT/iBT)<span>、</span>TOEIC<span>、</span>IELTS<span>、</span>GEPT<span>、</span>Cambridge Main Suite<span>」</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;二、歷年成績單<span>1</span>份
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>三、推薦函</span>2<span>封</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;四、簡歷<span>1</span>份<span>(</span>含求學與成長過程、生涯目標<span>)</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;五、其他有助審查之資料<span>(</span>語言測驗成績、參與專題及公共事務、榮譽事蹟等<span>)</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td valign="top" width="142">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;一、書面審查
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>二、筆試：</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;A<span>組：英文</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;(<span>含英美文學議題</span>)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>B</span>組：英文
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>(</span>含英語語言學議題<span>)</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;三、面試
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td valign="top" width="121">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>一、繳交之資料均請使用英文版</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;二、<span>A</span>組：英美文學組，<span>B</span>組：英語教學組
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="59">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>博士班</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td valign="top" width="113">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;英美文學、英語教學碩士畢業或相關學系畢業
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td valign="top" width="236">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>一、研讀計畫書</span>1<span>份</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;1.<span>曾修專業科目數及其成績</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;2.<span>讀書計畫及其他相關資料</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;二、大學及碩士歷年成績單<span>1</span>份
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>三、推薦函</span>2<span>封</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;四、簡歷<span>1</span>份<span>(</span>含求學與成長過程、生涯目標<span>)</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;五、作品、研究成果論文或報告<span>(</span>含參與專題及公共事務情形、榮譽事蹟等<span>)</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td valign="top" width="142">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;一、書面審查
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>二、筆試：</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;A<span>組：英文</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;(<span>含英美文學議題</span>)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>B</span>組：英文
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>(</span>含英語語言學議題<span>)</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;三、面試
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td valign="top" width="121">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span>一、繳交之資料均請使用英文版</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;二、<span>A</span>組：英美文學組，<span>B</span>組：英語教學組
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><span><br><br><br><br><br><br><br><br><br><br><br><br></span><strong><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></strong><span>二、考試入學</span></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" width="629">
	<thead>
		<tr>
			<td width="76">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;班別
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="192">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;考試科目
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="397">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;注意事項
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width="76">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;碩士班
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td valign="top" width="192">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;A組1.英文
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;2.英國文學
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;3.美國文學
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;4.面試
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;B組1.英文
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;2.英語語言學概論
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;3.英語教學概論
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;4.面試
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td valign="top" width="397">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;一、獲學士學位或同等學力者。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;二、採筆試、面試2階段考試，錄取總成績皆筆試占75%、面試占25%。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;三、備取生平均成績相同時，依專業總成績、英文之順序以成績較高者錄取。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;四、同等學力報考者，Ａ組須補修西洋文學概論，Ｂ組須補修英語語言學概論。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="76">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;博士班
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td valign="top" width="192">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;一、書面審查
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;二、筆試
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Ａ組1.文學理論
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;2.英國文學
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;3.美國文學
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Ｂ組1.英語教材教學法
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;2.語言學
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;3.英文作文
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;三、面試
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td valign="top" width="397">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;一、獲碩士學位或同等學力者。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;二、書面審查30%、筆試45%、面試25%。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;三、Ａ組面試內容為文學理論、英美文學及研究計畫等。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;四、Ｂ組面試內容為語言學、語言教學及研讀計畫書等。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><span><br></span><span>三、申請入學</span></p>

<p>&nbsp;</p>

<p>1.<a href="http://english.tku.edu.tw/Admissions.asp"><span>外籍生與僑生申請入學網站</span></a></p>

<p>
	<a href="http://english.tku.edu.tw/Admissions.asp"></a><a href="http://english.tku.edu.tw/Admissions.asp">http://english.tku.edu.tw/Admissions.asp</a></p>

<p>&nbsp;</p>

<p>2.陸生申請入學網站</p>

<p>
	<a href="http://www.oieie.tku.edu.tw/down/archive.php?class=5012"></a><a href="http://www.oieie.tku.edu.tw/down/archive.php?class=5012">http://www.oieie.tku.edu.tw/down/archive.php?class=5012</a></p>