<p>TKU College of Foreign Languages and Literatures provides study programs in...</p>

<p>
	<br>
</p>

<p>1. &nbsp;Foreign Language Translation</p>

<p>2. Foreign Literature (will not be available from the 2018 academic school year)</p>

<p>3. Teaching Chinese as a Foreign Language</p>

<p>4. Language and Diplomacy</p>

<p>5. Foreign Language Economy and Trade Professionalist&nbsp;</p>

<p>
	<br>
</p>

<p>For further information regarding the study programs, please go to <a href="http://www.tf.tku.edu.tw/language/web_page/670">http://www.tf.tku.edu.tw/language/web_page/670</a></p>