<p>&nbsp;</p>

<h4>108學年度雙主修及輔系申請時間：<span style="color:#ff0000"><strong>108年5月8日(星期三)至5月21日(星期二)</strong></span>止<br />
詳細情形請關注註冊組<a href="http://www.acad.tku.edu.tw/RS/news/news.php?Sn=1805" rel="noopener noreferrer" target="_blank">最新消息</a></h4>

<p><a class="fr-file" href="https://www.tflx.tku.edu.tw/storage/app/media/uploaded-files/.doc">英文系輔系&amp;雙主修規定.doc</a></p>

<p>&nbsp;</p>