<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">The department offers undergraduate, master&rsquo;s, and doctoral programs and emphasizes on promoting a diversity of specializations in English teaching, English/American literature, and interdisciplinary studies. The English teaching curriculum focuses on teaching theory and practice, interpretation/translation, linguistics, and technology application as the four main axes, and aims at cultivating professional English teachers. The literature curriculum features four major areas, world literature, medical humanities, ecological research and image theory.</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Academic&nbsp;year of 2020-2021</span></span></p>

<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">1<sup>st</sup> semester</span></span></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">課程</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Courses</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">學制</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Program</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">學　分</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Credits</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">教　　師</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Instructor</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">上課時間</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Day &amp; Period</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">英文寫作（一）<strong>#</strong><strong>必修／</strong><strong>Required</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">ENGLISH WRITING (I)</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">杜德倫</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">文學研究方法與寫作<strong>#</strong><strong>選修</strong><strong>4</strong><strong>選</strong><strong>2</strong><strong>／</strong><strong>Elective (2/4)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">RESEARCH WRITING AND METHODOLOGY IN LITERARY STUDIES</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">陳佩筠</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">教學研究方法與寫作<strong>#</strong><strong>選修</strong><strong>4</strong><strong>選</strong><strong>2</strong><strong>／</strong><strong>Elective (2/4)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">RESEARCH WRITING AND METHODOLOGY IN LANGUAGE TEACHING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">胡映雪</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">09,10</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">中英口筆譯導論</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">INTRODUCTION TO ENGLISH-CHINESE TRANSLATION AND INTERPRETING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">張淑彩</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">一Mon.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">閱讀策略與教學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">RESEARCH AND PRACTICE OF READING STRATEGIES</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">李佳盈</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">文學見證與創傷專題</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">SEMINAR ON TESTIMONY AND TRAUMA IN LITERATURE</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">郭家珍</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">一Mon.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">黑色類型小說</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">NOIR FICTION</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">錢欽昭</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">09,10</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">語言習得與寫作研究</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">LANGUAGE ACQUISITION AND WRITING STUDIES</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">張慈珊</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">文學研究方法與寫作<strong>#</strong><strong>選修</strong><strong>2</strong><strong>選</strong><strong>1</strong><strong>／</strong><strong>Elective (1/2)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">RESEARCH WRITING AND METHODOLOGY IN LITERARY STUDIES</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">小澤自然</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">09,10</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">教學研究方法與寫作<strong>#</strong><strong>選修</strong><strong>2</strong><strong>選</strong><strong>1</strong><strong>／</strong><strong>Elective (1/2)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">RESEARCH WRITING AND METHODOLOGY IN LANGUAGE TEACHING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">林銘輝</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">量化研究</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">QUANTITATIVE RESEARCH METHODS</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">姚嘉苓</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">多媒體與美學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">MULTI MEDIA AND AESTHETICS</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">涂銘宏</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">文藝復興專題</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">SEMINAR IN RENAISSANCE LITERATURE</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">王慧娟</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">一Mon.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">09,10</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">動物研究</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">ANIMAL STUDIES</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">羅艾琳</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">一Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">09,10</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">2<sup>nd</sup> semester</span></span></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">課程</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Courses</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">學制</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Program</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">學　分</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Credits</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">教　　師</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Instructor</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">上課時間</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Day &amp; Period</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">英文寫作（二）<strong>#</strong><strong>必修／</strong><strong>Required</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">ENGLISH WRITING (II)</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">杜德倫</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">文學理論<strong>#</strong><strong>選修</strong><strong>4</strong><strong>選</strong><strong>2</strong><strong>／</strong><strong>Elective (2/4)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">LITERARY THEORY</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">陳佩筠</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">第二語言習得與教法<strong>#</strong><strong>選修</strong><strong>4</strong><strong>選</strong><strong>2</strong><strong>／</strong><strong>Elective (2/4)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">SECOND LANGUAGE ACQUISITION AND TEACHING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">張慈珊</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">中英筆譯練習</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PRACTICE FOR ENGLISH-CHINESE TRANSLATION</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">張淑彩</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">一Mon.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">語言測驗</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">LANGUAGE TESTING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">李佳盈</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">女性（主義）小說專題</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">SEMINAR ON WOMEN/FEIMINIST WRITERS</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">郭家珍</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">一Mon.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">旅遊文學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">TRAVEL WRITING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">小澤自然</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">09,10</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">語料庫教學研究</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">CORPUS-AIDED LANGUAGE TEACHING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">林銘輝</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">閱讀教學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">TEACHING SECOND LANGUAGE READING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">姚嘉苓</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">閱讀障礙研究</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">READING DIFFICULTIES</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">薛玉政</span></span></p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">情慾辯證</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">FROM GENDER TO TRANSGENDER</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">陳宜武</span></span></p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">文學中的植物研究</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PLANT STUDIES IN LITERATURE</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">羅艾琳</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">09,10</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Academic year of 2019-2020</span></span></p>

<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">1<sup>st</sup> semester</span></span></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">課程</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Courses</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">學制</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Program</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">學　分</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Credits</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">教　　師</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Instructor</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">上課時間</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Day &amp; Period</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">英文寫作（一）<strong>#</strong><strong>必修／</strong><strong>Required</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">ENGLISH WRITING (I)</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">張慈珊</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">文學研究方法與寫作<strong>#</strong><strong>選修</strong><strong>4</strong><strong>選</strong><strong>2</strong><strong>／</strong><strong>Elective(2/4)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">RESEARCH WRITING AND METHODOLOGY IN LITERARY STUDIES</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">陳佩筠</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">教學研究方法與寫作<strong>#</strong><strong>選修</strong><strong>4</strong><strong>選</strong><strong>2</strong><strong>／</strong><strong>Elective(2/4)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">RESEARCH WRITING AND METHODOLOGY IN LANGUAGE TEACHING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">郭怡君</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">莫里森專題</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">SEMINAR ON TONI MORRISON</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">游錫熙</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">基礎語言學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">BASICS IN LINGUISTICS</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">曾郁景</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">05,06</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">讀寫合併教學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">TEACHING L2 LITERACY THROUGH READING-WRITING CONNECTIONS</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">蔡瑞敏</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">05,06</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">失能研究與生態論述</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">DISABILITY STUDIES AND ECOLOGY</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">蔡振興</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">遊戲學習理論入門</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">INTRODUCTION TO GAME-BASED LEARNING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">林銘輝</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">文學研究方法與寫作<strong>#</strong><strong>選修</strong><strong>2</strong><strong>選</strong><strong>1</strong><strong>／</strong><strong>Elective (1/2)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">RESEARCH WRITING AND METHODOLOGY IN LITERARY STUDIES</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">羅艾琳</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">五Fri.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">教學研究方法與寫作<strong>#</strong><strong>選修</strong><strong>2</strong><strong>選</strong><strong>1</strong><strong>／</strong><strong>Elective (1/2)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">RESEARCH WRITING AND METHODOLOGY IN LANGUAGE TEACHING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">胡映雪</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">質化研究</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">QUALITATIVE RESEARCH</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">姚嘉苓</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">翻譯研究的焦點議題</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">MAIN ISSUES OF TRANSLATION STUDIES</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">陳佩筠</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">一Mon.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">2<sup>nd</sup> semester</span></span></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">課程</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Courses</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">學制</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Program</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">學　分</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Credits</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">教　　師</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Instructor</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">上課時間</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Day &amp; Period</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">英文寫作（二）<strong>#</strong><strong>必修／</strong><strong>Required</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">ENGLISH WRITING (II)</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">張慈珊</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">文學理論<strong>#</strong><strong>選修</strong><strong>4</strong><strong>選</strong><strong>2</strong><strong>／</strong><strong>Selective(2/4)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">LITERARY THEORY</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">陳佩筠</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">第二語言習得與教法<strong>#</strong><strong>選修</strong><strong>4</strong><strong>選</strong><strong>2</strong><strong>／</strong><strong>Selective(2/4)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">SECOND LANGUAGE ACQUISITION AND TEACHING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">林怡弟</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">兒童文學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">CHILDREN&#39;S LITERATURE</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">姚嘉苓</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">女性主義文學批評</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">FEMINIST LITERARY THEORY AND CRITICISM</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">楊雅筑</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">05,06</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">英語實務教學與研究</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">ESL TEACHING PRACTICE AND RESEARCH</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">林銘輝</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">09,10</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">醫療人文：理論與實踐</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">HEALTH HUMANITIES: THEORY AND PRACTICE</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">蔡振興</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">05,06</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">生態女性主義</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">ECOFEMINISM</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">黃逸民</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">五Fri.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">認知語言學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">COGNITIVE LINGUISTICS</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">胡映雪</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">09,10</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">福克納專題</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">SEMINAR ON WILLIAM FAULKNER</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">游錫熙</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">電腦科技與語言教學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">COMPUTER TECHNOLOGIES AND LANGUAGE EDUCATION</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">蔡瑞敏</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">05,06</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">攝影與文學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PHOTOGRAPHY AND LITERATURE</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">鄧秋蓉</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">一Mon.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">後帝國英國文學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">SEMINAR ON POST-IMPERIAL BRITISH LITERATURE</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">小澤自然</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">心理語言學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PSYCHOLINGUISTICS</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">郭怡君</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Academic&nbsp;year of 2018-2019</span></span></p>

<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">1<sup>st</sup> semester</span></span></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">課程</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Courses</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">學制</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Program</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">學　分</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Credits</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">教　　師</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Instructor</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">上課時間</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Day &amp; Period</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">英文寫作（一）<strong>#</strong><strong>必修／</strong><strong>Required</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">ENGLISH WRITING (I)</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">張雅慧</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">文學研究方法與寫作<strong>#</strong><strong>選修</strong><strong>4</strong><strong>選</strong><strong>2</strong><strong>／</strong><strong>Elective(2/4)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">RESEARCH WRITING, AND METHODOLOGY IN LITERARY STUDIES</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">陳佩筠</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">教學研究方法與寫作<strong>#</strong><strong>選修</strong><strong>4</strong><strong>選</strong><strong>2</strong><strong>／</strong><strong>Elective(2/4)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">RESEARCH WRITING, AND METHODOLOGY IN LANGUAGE TEACHING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">胡映雪</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">09,10</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">吳爾芙專題</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">VIRGINIA WOOLF</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">郭家珍</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">一Mon.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">09,10</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">後殖民文學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">POSTCOLONIAL LITERATURE</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">小澤自然</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">基礎口譯</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">BASIC INTERPRETING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">羅得彰</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">實地英語教學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">TESOL PRACTICUM</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">３</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">蔡瑞敏</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08,09</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">英文寫作（三）</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">ENGLISH WRITING (III)</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">１</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">羅艾琳</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">五Fri.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">英文寫作（三）</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">ENGLISH WRITING (III)</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">１</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">胡映雪</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">文學研究方法與寫作<strong>#</strong><strong>選修</strong><strong>2</strong><strong>選</strong><strong>1</strong><strong>／</strong><strong>Elective(1/2)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">RESEARCH WRITING, AND METHODOLOGY IN LITERARY STUDIES</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">蔡振興</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">教學研究方法與寫作<strong>#</strong><strong>選修</strong><strong>2</strong><strong>選</strong><strong>1</strong><strong>／</strong><strong>Elective(1/2)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">RESEARCH WRITING, AND METHODOLOGY IN LANGUAGE TEACHING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">林銘輝</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">01,02</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">量化研究</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">QUANTITATIVE RESEARCH METHODS</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">姚嘉苓</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">音樂與文學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">LITERATURE AND MUSIC</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">涂銘宏</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">五Fri.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">生態批評與環境正義文學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">ECOCRITICISM AND ENVIRONMENTAL JUSTICE LITERATURE</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">３</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">甘　柏</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">暑期密集授課</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">偵探小說</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">DETECTIVE FICTION</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">錢欽昭</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">09,10</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">2<sup>nd</sup> semester</span></span></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">課程</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Courses</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">學制</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Program</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">學　分</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Credits</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">教　　師</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Instructor</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">上課時間</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Day &amp; Period</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">英文寫作（二）<strong>#</strong><strong>必修／</strong><strong>Required</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">ENGLISH WRITING (II)</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">張雅慧</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">文學理論<strong>#</strong><strong>選修</strong><strong>4</strong><strong>選</strong><strong>2</strong><strong>／</strong><strong>Elective (2/4)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">LITERARY THEORY</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">陳佩筠</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">第二語言習得與教法<strong>#</strong><strong>選修</strong><strong>4</strong><strong>選</strong><strong>2</strong><strong>／</strong><strong>Elective (2/4)</strong></span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">SECOND LANGUAGE ACQUISITION AND TEACHING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">胡映雪</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">09,10</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">語言測驗</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">LANGUAGE TESTING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">李佳盈</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">進階口譯</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">INTERMEDIATE INTERPRETING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">羅得彰</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">03,04</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">旅行與文學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">TRAVEL AND LITERATURE</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">鄧秋蓉</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">一Mon.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">05,06</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">識字與成因</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">LITERACY AND FACILITATORS</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">薛玉政</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">一Mon.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">第二語言習得與教法</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">SECOND LANGUAGE ACQUISITION AND TEACHING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">碩班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">Master</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">胡映雪</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">09,10</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">科幻小說與生態</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">SCIENCE FICTION AND ECOLOGY</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">蔡振興</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">閱讀教學</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">TEACHING SECOND LANGUAGE READING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">姚嘉苓</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">四Thu.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">後人類與動物研究</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">POSTHUMANISM AND ANIMAL STUDIES</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">羅艾琳</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">五Fri.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">06,07</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">女性文學與生態論述</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">WOMEN LITERATURE AND ECOLOGICAL DISCOURCE</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">楊雅筑</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">05,06</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">語料庫教學研究</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">CORPUS-AIDED LANGUAGE TEACHING</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">林銘輝</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">二Tue.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">01,02</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">改編研究專題</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">SEMINAR ON ADAPTATION STUDIES</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">博班</span></span></p>

			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">PhD</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">２</span></span></p>
			</td>
			<td>
			<p style="text-align: center;"><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">陳佩筠</span></span></p>
			</td>
			<td>
			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">三Wed.</span></span></p>

			<p><span style="font-size:18px"><span style="font-family:Comic Sans MS,cursive">07,08</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>