<p>Graduation Benchmark and Regulations for English Majors</p>

<p>
	<br>
</p>

<p>Suitable: Students</p>

<p>Last Updated: 2019-09-05 08:00:00</p>

<p><strong>Should you have any questions, please contact Chelsea (02) 2621-5656 (#2344)</strong> <a data-fr-linked="true" href="mailto:chelsea@mail.tku.edu.tw">chelsea@mail.tku.edu.tw</a>&nbsp;</p>

<p>
	<br>
</p>

<p>Related Documents:</p>

<table style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 100.0000%;">
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 100.0000%;"><a class="fr-file" href="/storage/app/media/uploaded-files/TKU%20English%20Department%20Graduation%20Benchmark.pdf">TKU English Department Graduation Benchmark.pdf</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 100.0000%;">
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 100.0000%;">
				<br>
			</td>
		</tr>
	</tbody>
</table>