<p>1. &nbsp; &nbsp;<strong>Transfer students from the 2020 academic year check-in date: 2020/ 08/18, after checking in please come to the English Department (Foreign Language and Literatures Building 2F Room 207 ) to attend the Credit Waiver orientation (Begins at 10:30 A.M.)</strong></p>

<p>
	<br>
</p>

<p>2. &nbsp; &nbsp;For more information about credit waivers in the 2020 academic year please go to the Division of Registration’s webpage for more information</p>

<p>(<a href="http://www.acad.tku.edu.tw/RS/news/news.php?Sn=2124" rel="noopener noreferrer" target="_blank">http://www.acad.tku.edu.tw/RS/news/news.php?Sn=2124</a>)</p>

<p>
	<br>
</p>

<p>3. &nbsp; &nbsp;2020 academic year transfer students may apply for credit waivers from 2020/ 8/ 25, freshman students may apply for credit waivers from 2020/ 9/14. <strong>Credit waiver system</strong> <a href="http://w3.emis.tku.edu.tw" rel="noopener noreferrer" target="_blank">http://w3.emis.tku.edu.tw</a></p>

<p>
	<br>
</p>

<p>4. &nbsp; &nbsp;Transfer students who select prerequisite courses must drop the prerequisite course and take the previous course.</p>

<p>
	<br>
</p>

<p>5. &nbsp; &nbsp;<strong>2020 academic year English Department Credit Waiver for “Freshman English” Examination Date: 2020/09/09 (Wed.) 9:30 A.M., 9/11 (Fri.) 9:30 A.M.,&nbsp;</strong></p>

<p><strong>Please select a time slot &nbsp;(English majors who are transferring to another major must also attend the examination)　</strong></p>

<p>
	<br>
</p>