<h5>(Minor/ Dual Degrees ) Application Forms</h5>

<ul>
	<li>

		<h5>Minor/ Dual degree course selection regulations</h5>
	</li>
	<li>Last updated: 2021-03-25</li>
	<li>Form usage: Minor/ Dual course selection regulations&nbsp;</li>
</ul>

<p>
	<br>
</p>

<h3>Form Download</h3>

<p>
	<br>
</p>

<table style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 100%; background-color: rgb(255, 223, 210);">&nbsp; &nbsp;Form</td>
		</tr>
		<tr>
			<td>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 100.0000%;">&nbsp; &nbsp;<a class="fr-file" href="/storage/app/media/uploaded-files/English%20Department%20Minor%20Course%20Regulations.pdf">English Department Minor Course Regulations.pdf</a>
				<br>
			</td>
		</tr>
	</tbody>
</table>