<p align="center">淡江大學外語學院英文學系<strong><u>短、中、長程計畫<br></u></strong><strong>--規劃項目及參考格式</strong></p>

<p align="right">2009.04</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="3" valign="top" width="278">

				<p align="center">計畫類型</p>
			</td>
			<td valign="top" width="300">

				<p align="center">短程計畫</p>
			</td>
			<td valign="top" width="198">

				<p align="center">中程計畫</p>
			</td>
			<td valign="top" width="198">

				<p align="center">長程計畫</p>
			</td>
		</tr>
		<tr>
			<td colspan="3" valign="top" width="278">

				<p align="center">計畫時程</p>
			</td>
			<td valign="top" width="300">

				<p align="center">二年(2003年~2005年)</p>
			</td>
			<td valign="top" width="198">

				<p align="center">五年(2005年~2010年)</p>
			</td>
			<td valign="top" width="198">

				<p align="center">十年(2010年~2020年)</p>
			</td>
		</tr>
		<tr>
			<td colspan="3" valign="top" width="278">

				<p align="center">規劃項目(內容重點僅供參考)</p>
			</td>
			<td valign="top" width="300">

				<p align="center">具體執行項目</p>
			</td>
			<td valign="top" width="198">

				<p align="center">發展策略</p>
			</td>
			<td valign="top" width="198">

				<p align="center">原則性、方向性</p>
			</td>
		</tr>
		<tr>
			<td valign="top" width="37">

				<p align="center">1</p>
			</td>
			<td valign="top" width="60">

				<p align="center">引言</p>
			</td>
			<td valign="top" width="180">優良傳統(Legacy)
				<br>
			</td>
			<td colspan="3" valign="top" width="697">英文學系在本校一直扮演著先導的地位，從民國三十九年創校以來，本系目標都在訓練學生英美語言及文學的能力，民國五十四年本系重新設計課程，講授學士學位 的課程。從此開始，在台灣英文教育上一直扮演很重要的角色。我們師資優秀、課程活潑實用、教學活動多元，為國內外公私立機構培育積極、專業、具國際觀之全 方位英美語文專才，這是我們優良的傳統。
				<br>
			</td>
		</tr>
		<tr>
			<td rowspan="2" valign="top" width="37">

				<p align="center">2</p>
			</td>
			<td rowspan="2" valign="top" width="60">

				<p align="center">宗旨</p>
			</td>
			<td valign="top" width="180">組織任務(Institutional Missions)
				<br>
			</td>
			<td valign="top" width="300">1. &nbsp; &nbsp; &nbsp;培養聽、說、讀、寫、譯全方位人才
				<br>2. &nbsp; &nbsp; &nbsp;強化研究品質
				<br>
			</td>
			<td valign="top" width="198">1. &nbsp; &nbsp; &nbsp;培養聽、說、讀、寫、譯全方位人才
				<br>2. &nbsp; &nbsp; &nbsp;開始培養即時口譯人才
				<br>3. &nbsp; &nbsp; &nbsp;強化研究品質
				<br>
			</td>
			<td valign="top" width="198">1. 培養聽、說、讀、寫、譯全方位人才
				<br>2. 開始培養即席口譯專才
				<br>3. &nbsp; &nbsp; &nbsp;強化研究品質
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="180">市場需求(Market Smart)
				<br>
			</td>
			<td colspan="3" valign="top" width="697">文教及其他各行各業都很需要且重視我們的畢業生
				<br>
			</td>
		</tr>
		<tr>
			<td rowspan="2" valign="top" width="37">

				<p align="center">3</p>
			</td>
			<td rowspan="2" valign="top" width="60">

				<p align="center">定位</p>
			</td>
			<td valign="top" width="180">研究型、教學型、專業型、社區型
				<br>
			</td>
			<td colspan="3" rowspan="2" valign="top" width="697">英文系之特色，乃秉承五十八年之設系傳統，培養各種程度英語文人才，故特重口說英語及英文寫作之基本能力，再進入英語文之學術專長。英文系大學部，在培養 學生之英語文基礎與英文專業之基本能力，以利畢業後，從事文教與工商業務。碩士班在培養學術研究之基本能力及教學、翻譯及文化研究專長。博士班在培養高深 英語文及教學研究人才，以從事文學及教學等之行業。
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="180">目標市場(Market I、II、III)
				<br>
			</td>
		</tr>
		<tr>
			<td rowspan="3" valign="top" width="37">

				<p align="center">4</p>
			</td>
			<td rowspan="3" valign="top" width="60">

				<p align="center">參考</p>

				<p align="center">標竿</p>
			</td>
			<td rowspan="2" valign="top" width="180">標竿校(院系所)—國內
				<br>
			</td>
			<td colspan="2" valign="top" width="499">

				<p align="center">輔仁大學</p>優點：
				<br>1.網站資料設計豐富，建構完全。
				<br>2.課程豐富，特色為大三、四同學可由「文學與文化」、「<a href="http://www.eng.fju.edu.tw/undergraduate/curriculum/since89/advanced_c89lan.htm">語言研究</a>」範疇中選擇其一為未來方向。
				<br>2.研究所有比較文學所博士班、語言學所碩士班、翻譯所碩士班及英美文學所碩士班。研究所以全英語教學。
				<br>3.輔系分兩組，一為應用英文組，一為西方文化研究組。
				<br>4.出版刊物為輔仁學誌。
				<br>
			</td>
			<td rowspan="2" valign="top" width="198">

				<p align="center">台灣大學</p>優點：
				<br>1.師資陣容堅強（教授25位，副教授27位）。
				<br>2.課程設計豐富另外還要求學生修習第二外語。
				<br>3.系所健全，碩博士班名聲甚好。
				<br>4.出版刊物共有三類。
				<br>5.圖書及期刊種類繁多。
				<br>&nbsp;
				<br>
				<br>&nbsp;
				<br>本系應學習追趕的目標
				<br>A. &nbsp; &nbsp; 多增聘專任教授。
				<br>B. &nbsp; &nbsp; 規定碩博士班必須修習第二外語。
				<br>C. &nbsp; &nbsp; 強化碩博士班論文品質。
				<br>D. &nbsp; &nbsp; 本系的出版刊物中Tamkang Review 將在中程計畫中，重新進入國際期刊引得。&lt;&lt;生態人文主義&gt;&gt;叢刊將升格為半年刊。另外，Tamkang English Journal也發展為重要學術期刊。
				<br>E. &nbsp; &nbsp; &nbsp;繼續增購圖書及期刊，尤其強化生態文學期刊。
				<br>
			</td>
		</tr>
		<tr>
			<td colspan="2" valign="top" width="499">本系應學習追趕的目標：
				<br>
				<br>A. &nbsp; &nbsp; 本系跟輔大方向不同，我們將設法使大三大四同學有「英美文學、生態文學、文化研究及英語教學」四大範疇，讓學生可擇一追求未來方向。
				<br>B. &nbsp; &nbsp; 本系碩博班將繼續發展英美文學、生態文學方面及文化研究三大領域。英語教學方面將強化網路教學及語言學的面向。
				<br>C. &nbsp; &nbsp; 本系的出版刊物遠比輔大強，具有Tamkang Review 及&lt;&lt;生態人文主義&gt;&gt;叢刊。
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="180">標竿校(院系所)—國際
				<br>
			</td>
			<td valign="top" width="300">

				<p align="center">&nbsp;</p>
			</td>
			<td valign="top" width="198">

				<p align="center">&nbsp;</p>
			</td>
			<td valign="top" width="198">美國賓州印第安那大學
				<br>1.該校文學及英語教學課程設計豐富，包含英美文學、生態文學及語言教學。
				<br>2.該校教授陣容堅強，教學設備都已網路化，並有遠距教學課程。
				<br>3.該校博士畢業生人數名列全美第十名，學生品質優秀。
				<br>
			</td>
		</tr>
		<tr>
			<td rowspan="2" valign="top" width="37">

				<p align="center">5</p>
			</td>
			<td rowspan="2" valign="top" width="60">

				<p align="center">院系所需求</p>
			</td>
			<td valign="top" width="180"><strong>口號目標</strong>(Symbolic Construction)
				<br>
			</td>
			<td colspan="3" valign="top" width="697">

				<p align="center">教學、研究、服務前瞻化</p>
			</td>
		</tr>
		<tr>
			<td valign="top" width="180">資源投入(Material Investment)
				<br>
			</td>
			<td valign="top" width="300">1.利用English Corner加強輔導英文系及全校英文能力。
				<br>2.比照國內外大學辦刊物之需求，已新聘「淡江評論」 及Tamkang English Journal專責助理各一名。
				<br>3.為培育大三出國留學計畫，邀請姐妹校系主任及國交處來訪，需學校允許我們編列預算。
				<br>
			</td>
			<td valign="top" width="198">1.增置大耳朵。
				<br>2.建立師生討論研究室。
				<br>3.爭取預算，編列人力於下課時間做校園英文廣播教學。
				<br>
			</td>
			<td valign="top" width="198">1.增加專用多媒體會話教室。
				<br>2.增加口筆譯專用教室。
				<br>3.建立5間小型劇場，也可作為口譯工作坊。
				<br>
			</td>
		</tr>
		<tr>
			<td rowspan="2" valign="top" width="37">

				<p align="center">6</p>
			</td>
			<td rowspan="2" width="60">

				<p align="center">院系所</p>

				<p align="center">創新</p>
			</td>
			<td valign="top" width="180">系所活化
				<br>
			</td>
			<td colspan="3" valign="top" width="697">1.為教育學生為具有實力、見解、觀念、 及主張的專才，我們要聘請良師，使成為經師及人師。
				<br>2.更新活化課程，以符合學術潮流。我們也充實教學內容，強化課程的連貫性。
				<br>3.在這全球化的時代，積極的進行國際的學術交流，也密集的召開學術會議。
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="180">課程革新、<strong>跨系所學程</strong>
				<br>
			</td>
			<td valign="top" width="300">1. &nbsp;把大三下學期作文課改授論文寫作訓練。
				<br>2. 為程度不夠學生加開補救課程。
				<br>3. 加開口譯課程一班。
				<br>4. 大一英文及語練採用有銜接的教材，如選用不同程度系列，一為大一英文課使用，另一低階教材則為語練使用。
				<br>5.開設「托福」課程，使學生可以順利出國留學。
				<br>6.教學戲劇化。
				<br>7.高級班會話課，用短劇演出。
				<br>8.繼續目前的每週師生文學及英語教學議題的座談。
				<br>
			</td>
			<td valign="top" width="198">1.在全民英語口號下，全校應重視英文，在現有教材下另補充互動式溝通教材。
				<br>2.開設英語檢定相關課程。
				<br>3.購置 衛星電視供新聞英文或口譯課程教學使用。
				<br>4.建立五個小型劇場供戲劇課及英語會話課使用，以增加課程設計的多樣性。
				<br>
			</td>
			<td valign="top" width="198">1.發展翻譯學程，培養大型國際會議之即席口譯人才及書筆譯人才。
				<br>2.發展全校英檢線上學習課程。
				<br>3.開發英文補救課程。
				<br>
			</td>
		</tr>
		<tr>
			<td rowspan="2" valign="top" width="37">

				<p align="center">7</p>
			</td>
			<td rowspan="2" width="60">

				<p align="center">教學</p>

				<p align="center">研究</p>
			</td>
			<td valign="top" width="180"><strong>追求卓越教學品質</strong>
				<br>
			</td>
			<td valign="top" width="300">專任教師教學評鑑若低於3.5，則依學校規定授課時數不能超過基本時數，並得參加教學輔導。兼任教師 教學評鑑若低於3以下即解聘，以維護教學品質。
				<br>
			</td>
			<td valign="top" width="198">新進教師雖已完成養成教育，但缺乏教學經驗，宜安排orientation，非新進教師宜排參予充電講習，以確保教學品質，與時代同步。
				<br>
			</td>
			<td valign="top" width="198">1.各教學小組經常開會，討論問題學生及改進教學方法，使教學品質愈來愈優秀。
				<br>2.特優學生將組成精英班，加強其專業訓練。
				<br>3.請一些專家來講解教學研究心得。
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="180">提升研究成果—提升A&amp;HCI、SSCI 、SCI、EI數量及排名
				<br>
			</td>
			<td valign="top" width="300">1.「淡江評論」曾為國內唯一享有國際聲望的期刊，後被排除在國際期刊之外。為爭取校譽，將申請爭取專案輔助經費預算，擬聘用研究助理，以便弄好品質及編務後再行申請入A&amp;HCI期刊。
				<br>2.繼續出版「生態人文主義叢刊」及Tamkang English Journal。
				<br>
			</td>
			<td valign="top" width="198">1.鼓勵教師組織研究群，共同申請國科會整合型研究計畫，以期培養長期合作之可能性。
				<br>2.建立師生討論研究室，發展專業研究領域。如此亦可帶動研究生參與。
				<br>
			</td>
			<td valign="top" width="198">鼓勵教師研究方面，提供實質上的incentive，如減時授課，經費補助，提供研究助理等，尤其是對新進教師及擬申請升等者。
				<br>
			</td>
		</tr>
		<tr>
			<td rowspan="3" valign="top" width="37">

				<p align="center">8</p>
			</td>
			<td rowspan="3" width="60">

				<p align="center">落實三化之策略</p>
			</td>
			<td valign="top" width="180">國際化
				<br>
			</td>
			<td valign="top" width="300">1.希望擴大學生和國外交流，(一) 繼續爭取傅爾布萊特學者到校教學；(二) 聘任有國際視野的老師；(三) 開課科目須能兼顧本系特色，如增加文化研究及生態研究課程等。
				<br>2.舉辦國際會議。
				<br>3.邀請國外著名學者來校演講。
				<br>4.全校標示牌及學生證加英文，並改用政府採用之通用拼音系統。
				<br>
			</td>
			<td valign="top" width="198">1.除和美國賓州印第安那大學、美國維諾那大學及美國中佛羅里達大學有密切的合作外，將進行合作計劃推派學生到該校參加大三出國留學。並和Arizona South州之大學進行研究生互訪或短期研究。
				<br>2.邀請姐妹校系主任及國交處主任來訪。
				<br>
			</td>
			<td valign="top" width="198">開拓非正式課程（1學分，2小時）繼續補強至畢業，以因應國際化願景。
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="180">資訊化
				<br>
			</td>
			<td valign="top" width="300">1.將繼續致力推動教學電腦化、行政資訊化、研究網路化，尤其未來將致力推動網路教學。
				<br>2.請學者來校做有關制控學Cybernetic課程方面的演講。
				<br>3.定期更新英文版網頁，以達到網路國際化。
				<br>4.本系老師研究論文全文上網。
				<br>5.國際會議的論文集上網，加強與國外著名大學視訊教學，
				<br>
			</td>
			<td valign="top" width="198">1.出版網路教學的研究叢刊。
				<br>2.「淡江評論」開始網路化。
				<br>3.多購置應用多媒體教材 (超文本)，例如：莎士比亞詩的CD作輔助上課之用。
				<br>
			</td>
			<td valign="top" width="198">1.推廣教學平台廣泛使用。
				<br>2.實施遠距教學。
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="180">未來化
				<br>
			</td>
			<td valign="top" width="300">1. &nbsp; &nbsp; &nbsp;請系友回來作「未來企業發展」的系列演講。
				<br>2. &nbsp; &nbsp; &nbsp;設定未來國際會議的議題，使本系老師研究內容和國際尖端議題同步。
				<br>3. &nbsp; &nbsp; &nbsp;教材內容、思想、教法力求更新，使切合時代需要。
				<br>
			</td>
			<td valign="top" width="198">1.會話、新聞英文教學和BBC、CNN等內容同步。
				<br>2.開設ESP (English for specific purposes)課程，以符合未來社會需要。
				<br>
			</td>
			<td valign="top" width="198">1.開課及研究計畫和蘭陽校園結合。
				<br>2.不斷參考國外課程設計，將視時代進步全盤翻新。
				<br>3.全面加強教學平台功能，讓學生可在網路上自我學習。
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="37">

				<p align="center">9</p>
			</td>
			<td width="60">

				<p align="center">結語</p>
			</td>
			<td valign="top" width="180">&nbsp;
				<br>
			</td>
			<td colspan="3" valign="top" width="697">淡江英文系設立五十八年，時空環境已然大改變，但英文的重要性不減反增。英文儼然已成國家現代化的指標，也是國民對外溝通的基本技能，也因此使我們的英語文教育更形重要。在師資延攬，重新設計與時具進的課程，建立腳踏實地的優良學風，才能活化英文系所之課程。
				<br>
			</td>
		</tr>
	</tbody>
</table>