<p><strong>英文系轉學生學分抵免原則</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;108.08.08</p>

<p>1. <strong>系必修學分</strong>：由<strong>英文系</strong>審核依規定抵免。<strong>科目名稱不同需附該課程教學大綱。</strong></p>

<p>2. <strong>系選修學分</strong>：由<strong>英文系</strong>審核依規定抵免。<strong>科目名稱不同需附該課程教學大綱。</strong></p>

<p>3. <strong>通識課程學分</strong>：<strong>由相關開課單位</strong>審核後依規定抵免。<strong>科目名稱不同需附該課程教學大綱。</strong></p>

<p>4. <strong>自由選修學分</strong>：由<strong>開課單位</strong>審核後依規定抵免，<strong>科目名稱不同需附該課程教學大綱。</strong></p>

<p>5. <strong>抵免「大一英文」</strong>：</p>

<p>(1) 原校就讀為英文系者，成績及格者，經系上認證後得以抵免；</p>

<p>(2) 原校就讀非英文系者欲抵免「大一英文」，則須參加系上舉辦的英文考試，通過考試者得抵免<strong>。</strong></p>

<p><strong>&nbsp;(</strong><strong>開學後公告考試時間與地點)</strong></p>

<p><strong>註：五專一至三年級學分不可抵免。</strong></p>

<p><strong>更詳細抵免規則請見註冊組公告之學分抵免規則及相關事宜說明（</strong><a href="http://www.acad.tku.edu.tw/RS/news/news.php?Sn=1862">http://www.acad.tku.edu.tw/RS/news/news.php?Sn=1862</a><strong>）</strong></p>

<p>
	<br>
</p>

<p><strong>學分抵免系統 <a href="http://w3.emis.tku.edu.tw/">http://w3.emis.tku.edu.tw/</a>&nbsp;</strong></p>