<p>依本校「英語能力檢定畢業門檻實施要點」，日間學制學士班學生需符合下列<span style="color:#ff0000">任一</span>英語能力檢定畢業門檻條件，始得畢業：</p>

<p>一、修習本校「英文（一）」及「英文（二）」課程，且「英文能力測驗（二）」成績70分以上者。</p>

<p>二、依本校「新生抵免英文（一）、英文（二）課程實施要點」申請「英文（一）」或「英文（二）」學分抵免通過者。</p>

<p>三、參加各式英語能力檢定，通過本校「英語能力檢定畢業門檻實施要點<span style="color:#0000ff">」</span>規定之標準者。若各學院、系、學位學程另訂定較高之英語能力檢定標準，則以其標準為依據。</p>

<p>四、以英語為母語之外國學生。</p>

<p><span style="color:#ff0000">符合以上第一點者，其測驗成績結果會由英文系直接提供給註冊組做畢業資格審核，學生無需提出任何申請；符合第二點者，請至「<a href="http://w3.emis.tku.edu.tw/">淡江大學學分抵免作業系統</a>」提出申請；符合第三點者，請至「<a href="http://sinfo.ais.tku.edu.tw/MvcLicense/">外語能力檢定登錄暨審核系統</a> 」登錄通過之英檢成績，並由所屬學系進行審核；符合第四點者，請至註冊組下載、填寫「外籍學生英語能力證明書」，向所屬學系申請英語能力認證。</span></p>

<p><span style="color:#ff0000">英語能力檢定畢業門檻相關問題請逕向註冊組詢問（不是問英文系，英文系僅負責提供門檻標準訂定之專業意見與提供替代課程之師資）。</span></p>

<p>法規彙編：<a href="https://www.tflx.tku.edu.tw/storage/app/media/English/Ellen/5-33%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E8%8B%B1%E8%AA%9E%E8%83%BD%E5%8A%9B%E6%AA%A2%E5%AE%9A%E7%95%A2%E6%A5%AD%E9%96%80%E6%AA%BB%E5%AF%A6%E6%96%BD%E8%A6%81%E9%BB%9E.pdf">5-33淡江大學英語能力檢定畢業門檻實施要點.pdf</a>（108.05.17修正）。</p>

<p>&nbsp;</p>

<p>「進修英文」為非英文系學生未通過本校英語能力檢定畢業門檻之替代課程，屬單學期課程，每學期皆開課，採遠距非同步上課方式。</p>

<p>一、修課對象：</p>

<ol>
	<li>修習「英文（二）」課程並參加課堂上施測之「英文能力測驗（二）」，但「英文能力測驗（二）」成績未達70分者。</li>
	<li>已報考各式英語能力檢定但未通過本校「英語能力檢定畢業門檻實施要點<span style="color:#0000ff">」</span>規定之標準者。若各學院、系、學位學程另訂定較高之英語能力檢定標準，則以其標準為依據。</li>
	<li><span style="color:#ff0000">從未修習「英文（二）」或未參加「英文（二）」課堂上施測之「英文能力測驗（二）」</span><span style="color:#ff0000">者，或從未報考各式英語能力檢定者，恕無法修習「進修英文」。</span></li>
</ol>

<p>二、選課前置作業：</p>

<ol>
	<li>參加「英文能力測驗（二）」者，成績結果會由英文系提供給註冊組做畢業資格審核，故學生不用提出任何申請，註冊組便會自行依成績結果判斷學生是否通過英語能力檢定畢業門檻，並開放成績未達70分者加選「進修英文」之選課權限，學生即可於選課期間逕行上網加選該課程。</li>
	<li>參加各式英語能力檢定者，需至「外語能力檢定登錄暨審核系統 」登錄未通過之英檢成績，<span style="color:#ff0000">並請所屬學系進行審核，這就是為什麼非英文系的學生請勿找英文系審核，因為各系並無權限去對別系的學生進行審核。</span>所屬學系審核完畢後，由註冊組進行審核，確認資料無誤後，將開放學生加選「進修英文」之選課權限，學生即可於選課期間逕行上網加選該課程。</li>
</ol>

<p>三、選課：</p>

<ol>
	<li>課程查詢：課程查詢系統／其他查詢／輸入「X0002」。</li>
	<li>初選期間：完成選課前置作業者，即可於選課期間逕行上網加選該課程。若欲加選之班級額滿，請一律改選其他班級；只要任何一班尚有名額，就不開放原班加簽。</li>
	<li>加退選期間：同上。</li>
	<li>加退選結束後：請先完成選課前置作業，再至課務組下載、填寫「學生選課報告」，至英文系現場辦理，不用找授課教師加簽。</li>
	<li>欲申請超修者，請先完成選課前置作業，再至課務組下載、填寫「學生選課報告」，至英文系現場辦理，不用找授課教師加簽。</li>
	<li><span style="font-size:28px"><span style="color:#ff0000">110學年度第1學期已將每班人數設限調高為200人，200也已於今日（9月28日）選滿：</span></span></li>
</ol>

<ul style="margin-left:40px">
	<li><span style="font-size:28px"><span style="color:#ff0000"><u>延畢生以及特殊情況者，請至課務組下載「學生選課報告」，填寫後，於10月4日中午以前，以email寄至<a href="mailto:tflx@oa.tku.edu.tw">tflx@oa.tku.edu.tw</a>個案審理。</u></span></span></li>
	<li><span style="font-size:28px"><span style="color:#ff0000">其他學生，上學期選不到，請下學期再修；下學期選不到，請暑修再修。</span></span></li>
</ul>

<p>四、選課後注意事項：</p>

<ol>
	<li>「進修英文」採遠距非同步上課方式，意即通常只有開學第1週與期中、期末考週才需要依照開課的時間到實體教室上課（實際上仍要看授課教師的安排），其他週次僅需在授課教師規定的期限內，至Moodle平台完成學習、作業或小考。</li>
	<li>於開學後才加選者，因為錯過第1週實體上課之說明，請於選課完成之後，寫email聯絡授課教師（可至英文系網頁／本系簡介／本系成員／專任師資查詢授課教師的電子郵件信箱），問老師：</li>
</ol>

<ul style="margin-left:40px">
	<li>在第1週上實體課的時候，曾宣佈哪些重要事項？</li>
	<li>該班的Moodle平台要怎麼加入？</li>
	<li>是否有作業或考試需要補交、補考？</li>
</ul>

<p>五、其他說明：</p>

<ol>
	<li>「英文能力測驗（二）」成績可於<a href="https://www.tflx.tku.edu.tw/english/file/1178">英文系網頁／表單下載／通識外語學門</a>查找，或向註冊組詢問。</li>
	<li><span style="color:#ff0000">若再搞不清楚自己是否通過本校英語能力檢定畢業門檻、是否需要修習「進修英文」，請逕向註冊組詢問（不是問英文系，英文系僅負責提供門檻標準訂定之專業意見與提供替代課程之師資）。</span></li>
	<li>「進修英文」皆採遠距非同步上課方式，故選課時，無需太過考量開課時段，只要沒有衝堂問題，都建議趕快加選仍有名額的班級。</li>
	<li>「進修英文」第1學期通常選課人數不多，第2學期通常選課人數爆滿，故請趁還來得及的時候，盡早修習該課程，以免造成遺憾。</li>
	<li>「進修英文」暑修期間會開課，上、下期各開1班，能否成功開課則視報名人數是否達本校開課條件而定。<span style="color:#ff0000">暑修採一般授課方式授課，學生需至實體教室上課。</span>詳情與報名皆請見課務組公告（<span style="color:#ff0000">不是來英文系報名</span>）。</li>
</ol>

<p style="margin-left:24.0pt">&nbsp;</p>