<p>請依<a href="http://www.acad.tku.edu.tw/RS/main.php">註冊組公告</a>辦理。</p>

<p>&nbsp;</p>

<p>一、外國語文學門學分</p>

<ol>
	<li>轉學生學分抵免「英文（一）」、「英文（二）」</li>
</ol>

<ul style="margin-left:40px">
	<li>原校之英文課程必須同時有學分及成績，始得辦理抵免。</li>
	<li>請依「核心科目抵免對照表」說明辦理，<span style="color:#ff0000">無需會簽英文系</span>。</li>
	<li>原校之英文課程若屬英檢畢業門檻之替代課程，或持國外學歷者，<span style="color:#ff0000">則請先會簽英文系判斷</span>。</li>
	<li>原校系為淡江大學英文學系者，<span style="color:#ff0000">需會簽英文系</span>。</li>
</ul>

<ol start="2">
	<li>轉系生學分替代「英文（一）」、「英文（二）」</li>
</ol>

<ul style="margin-left:40px">
	<li>請至註冊組下載、填寫「學生替代科目申請表」，持成績單至英文系辦理。</li>
</ul>

<ol start="3">
	<li>轉學生學分抵免／轉系生學分替代其他外文：</li>
</ol>

<ul style="margin-left:40px">
	<li>請至外語學院各外語學系辦理。</li>
</ul>

<p>二、「英語能力檢定」學分</p>

<ol>
	<li>原校非為淡江大學者，不得以任何科目抵免「英語能力檢定」。</li>
	<li>原校為淡江大學者，若曾參加「英文能力測驗（二）」，以下列方式辦理之：</li>
</ol>

<ul style="margin-left:40px">
	<li>「英文能力測驗（二）」成績達70分者：抵免時，本校應修科目名稱為「英語能力檢定」，原校已修之科目名稱為「英文能力測驗（二）」。並至<a href="https://www.tflx.tku.edu.tw/english/file/1180">英文系網頁／表單下載／通識外語學門／英文能力測驗（二）成績</a>下載當初的成績紀錄，交由現在轉入之所屬學系審核即可。<span style="color:#ff0000">無需會簽英文系</span>。惟參加「英文能力測驗（二）」當學期若有休、退學之情形者˙，其成績將無法抵免。</li>
	<li>「英文能力測驗（二）」成績未達70分者：請至註冊組下載、填寫「淡江大學教務處學生報告用紙」，並至<a href="https://www.tflx.tku.edu.tw/english/file/1180">英文系網頁／表單下載／通識外語學門／英文能力測驗（二）成績</a>下載當初的成績紀錄，以便請註冊組協助將舊學號的紀錄轉移至新學號，始得修習本校英語能力檢定畢業門檻之替代課程「進修英文」。請將「淡江大學教務處學生報告用紙」與成績紀錄一併送至現在轉入之所屬學系辦理，再送至註冊組（成績業務）即可。<span style="color:#ff0000">無需會簽英文系</span>。惟參加「英文能力測驗（二）」當學期若有休、退學之情形者˙，其成績將無法抵免。</li>
</ul>