<p>通識與核心課程為本校大學部學生（含進學班）之必修課程，共分為基礎課程、特色核心課程、學院核心課程及校共通課程。其中，「外國語文學門」屬於基礎課程（簡稱Q群），共8學分，含大一應修習「英文（一）」4學分、大二得自由選修「英文（二）」或其他外文4學分。修習英文或其他外文者，上、下學期必須為同一語種始得承認。</p>

<p>法規彙編：<a href="https://www.tflx.tku.edu.tw/storage/app/media/English/Ellen/5-74%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E5%AD%B8%E7%94%9F%E4%BF%AE%E8%AE%80%E5%A4%96%E5%9C%8B%E8%AA%9E%E6%96%87%E5%AD%B8%E9%96%80%E8%AA%B2%E7%A8%8B%E5%AF%A6%E6%96%BD%E8%A6%81%E9%BB%9E.pdf">5-74淡江大學學生修讀外國語文學門課程實施要點.pdf</a>（109.05.29修正）。</p>

<p><img src="/storage/app/media/English/Ellen/Course Selection Guidelines for Foreign Languages and Drills of General Education Curriculum.jpg" /></p>