<table border="0" cellpadding="0" cellspacing="0" style="width:901px">
	<tbody>
		<tr>
			<td colspan="8" style="text-align:center">
			<p><strong><span style="font-size:22px">淡江大學_英文系、所畢業生-畢業滿1年就業情形</span></strong></p>

			<p style="text-align:right">最後更新時間：2021/12/01</p>

			<p style="text-align:right">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">畢<strong>業學年度</strong></td>
			<td style="text-align:center"><strong>畢業生總數</strong></td>
			<td style="text-align:center"><strong>已掌握就業情形學生數<br />
			（A+B+C+D)</strong></td>
			<td style="text-align:center"><strong>已就業學生數<br />
			（A+B+C)</strong></td>
			<td style="text-align:center"><strong>在職(A)</strong></td>
			<td style="text-align:center"><strong>服役中(B)</strong></td>
			<td style="text-align:center"><strong>繼續升學（C）</strong></td>
			<td style="text-align:center"><strong>待業中<br />
			(準備考試及其他)(D)</strong></td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p><span style="color:#800080">102</span></p>

			<p>103</p>

			<p><span style="color:#800080">104</span></p>

			<p>105</p>

			<p><span style="color:#800080">106</span></p>

			<p>107</p>

			<p><span style="color:#800080">108</span></p>

			<p><span style="color:#a52a2a">108(原語言系)</span></p>
			</td>
			<td style="text-align:center">
			<p><span style="color:#800080">277</span></p>

			<p>264</p>

			<p><span style="color:#800080">258</span></p>

			<p>247</p>

			<p><span style="color:#800080">268</span></p>

			<p>212</p>

			<p><span style="color:#800080">224</span></p>

			<p><span style="color:#800000">32</span></p>
			</td>
			<td style="text-align:center">
			<p><span style="color:#800080">155</span></p>

			<p>152</p>

			<p><span style="color:#800080">147</span></p>

			<p>163</p>

			<p><span style="color:#800080">165</span></p>

			<p>158</p>

			<p><span style="color:#800080">149</span></p>

			<p><span style="color:#800000">23</span></p>
			</td>
			<td style="text-align:center">
			<p><span style="color:#800080">142</span></p>

			<p>124</p>

			<p>121</p>

			<p>134</p>

			<p><span style="color:#800080">135</span></p>

			<p>133</p>

			<p><span style="color:#800080">130</span></p>

			<p><span style="color:#800000">22</span></p>
			</td>
			<td style="text-align:center">
			<p><span style="color:#800080">110</span></p>

			<p>111</p>

			<p><span style="color:#800080">96</span></p>

			<p>108</p>

			<p><span style="color:#800080">117</span></p>

			<p>113</p>

			<p><span style="color:#800080">113</span></p>

			<p><span style="color:#800000">21</span></p>
			</td>
			<td style="text-align:center">
			<p><span style="color:#800080">12</span></p>

			<p>7</p>

			<p><span style="color:#800080">7</span></p>

			<p>5</p>

			<p><span style="color:#800080">3</span></p>

			<p>0</p>

			<p><span style="color:#800080">1</span></p>

			<p><span style="color:#800000">0</span></p>
			</td>
			<td style="text-align:center">
			<p><span style="color:#800080">20</span></p>

			<p>6</p>

			<p><span style="color:#800080">18</span></p>

			<p>21</p>

			<p><span style="color:#800080">15</span></p>

			<p>20</p>

			<p><span style="color:#800080">16</span></p>

			<p><span style="color:#800000">1</span></p>
			</td>
			<td style="text-align:center">
			<p><span style="color:#800080">13</span></p>

			<p>28</p>

			<p><span style="color:#800080">26</span></p>

			<p>29</p>

			<p><span style="color:#800080">30</span></p>

			<p>25</p>

			<p><span style="color:#800080">19</span></p>

			<p><span style="color:#800000">2</span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<table border="0" cellpadding="0" cellspacing="0" style="width:901px">
	<tbody>
		<tr>
			<td colspan="8">
			<p style="text-align:center"><strong><span style="font-size:22px">淡江大學_英文系、所畢業生-畢業當年就業情形</span></strong></p>

			<p style="text-align:right">最後更新時間：2021/12/01</p>

			<p style="text-align:right">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">畢業學年度</td>
			<td style="text-align:center">畢業生總數</td>
			<td style="text-align:center">已掌握就業情形學生數<br />
			（A+B+C+D)</td>
			<td style="text-align:center">已就業學生數<br />
			（A+B+C)</td>
			<td style="text-align:center">在職(A)</td>
			<td style="text-align:center">服役中(B)</td>
			<td style="text-align:center">繼續升學（C）</td>
			<td style="text-align:center">待業中<br />
			(準備考試及其他)(D)</td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p><span style="color:#800000">101</span></p>

			<p>102</p>

			<p><span style="color:#800000">103</span></p>

			<p>104</p>

			<p><span style="color:#800000">105</span></p>

			<p>106</p>

			<p><span style="color:#800000">107</span></p>

			<p>108</p>

			<p><span style="color:#b22222">109</span></p>

			<p><span style="color:#b22222">109(原語言系)</span></p>
			</td>
			<td style="text-align:center">
			<p><span style="color:#8b4513">299</span></p>

			<p>293</p>

			<p><span style="color:#800000">264</span></p>

			<p>254</p>

			<p><span style="color:#800000">247</span></p>

			<p>263</p>

			<p><span style="color:#800000">212</span></p>

			<p>224</p>

			<p><span style="color:#b22222">201</span></p>

			<p><span style="color:#b22222">41</span></p>
			</td>
			<td style="text-align:center">
			<p><span style="color:#800000">259</span></p>

			<p>157</p>

			<p><span style="color:#800000">143</span></p>

			<p>197</p>

			<p><span style="color:#800000">164</span></p>

			<p>186</p>

			<p><span style="color:#800000">153</span></p>

			<p>154</p>

			<p><span style="color:#b22222">137</span></p>

			<p><span style="color:#b22222">23</span></p>
			</td>
			<td style="text-align:center">
			<p><span style="color:#800000">244</span></p>

			<p>143</p>

			<p><span style="color:#800000">128</span></p>

			<p>170</p>

			<p><span style="color:#800000">133</span></p>

			<p>161</p>

			<p><span style="color:#800000">127</span></p>

			<p>139</p>

			<p><span style="color:#b22222">124</span></p>

			<p><span style="color:#b22222">20</span></p>
			</td>
			<td style="text-align:center">
			<p><span style="color:#800000">163</span></p>

			<p>109</p>

			<p>100</p>

			<p>116</p>

			<p><span style="color:#800000">94</span></p>

			<p>121</p>

			<p><span style="color:#800000">102</span></p>

			<p>102</p>

			<p><span style="color:#b22222">114</span></p>

			<p><span style="color:#b22222">15</span></p>
			</td>
			<td style="text-align:center">
			<p><span style="color:#800000">31</span></p>

			<p>12</p>

			<p><span style="color:#800000">17</span></p>

			<p>29</p>

			<p>27</p>

			<p>23</p>

			<p><span style="color:#800000">11</span></p>

			<p>25</p>

			<p><span style="color:#b22222">4</span></p>

			<p><span style="color:#b22222">3</span></p>
			</td>
			<td style="text-align:center">
			<p><span style="color:#800000">50</span></p>

			<p>22</p>

			<p><span style="color:#800000">11</span></p>

			<p>25</p>

			<p><span style="color:#800000">12</span></p>

			<p>17</p>

			<p><span style="color:#800000">14</span></p>

			<p>12</p>

			<p><span style="color:#b22222">6</span></p>

			<p><span style="color:#b22222">2</span></p>
			</td>
			<td style="text-align:center">
			<p><span style="color:#800000">15</span></p>

			<p>14</p>

			<p><span style="color:#800000">13</span></p>

			<p>27</p>

			<p><span style="color:#800000">31</span></p>

			<p>25</p>

			<p><span style="color:#800000">26</span></p>

			<p>15</p>

			<p><span style="color:#b22222">13</span></p>

			<p><span style="color:#b22222">3</span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>