<p>&nbsp;</p>

<p><img src="https://www.tflx.tku.edu.tw/storage/app/media/English/Victor/class%20map-B.jpg" class="fr-fic fr-dii"></p>

<p><img src="https://www.tflx.tku.edu.tw/storage/app/media/English/Victor/class%20map-M.jpg" class="fr-fic fr-dii"></p>

<p><img src="https://www.tflx.tku.edu.tw/storage/app/media/English/Victor/class%20map-P.jpg" class="fr-fic fr-dii"></p>