<h3><strong>Legislations</strong></h3>

<p>
	<br>
</p>

<p>1. Select the procedure that best suits your identity</p>

<p>*<strong> Please contact Chelsea (02) 2621-5656 (#2344) <a data-fr-linked="true" href="mailto:chelsea@mail.tku.edu.tw">chelsea@mail.tku.edu.tw</a> if you have any questions.</strong></p>

<p>
	<br>
</p>

<table style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 45.4424%;"><strong>Document&nbsp;</strong></td>
			<td style="width: 21.1435%;"><strong>Identity&nbsp;</strong>
				<br>
				<br>
			</td>
			<td style="width: 33.3333%;"><strong>Last Revised</strong></td>
		</tr>
		<tr>
			<td style="width: 45.4424%;"><a class="fr-file" href="/storage/app/media/uploaded-files/graduation-benchmark-procedures-identity-upadated-done.pdf">Graduation Benchmark Procedures (Identity).pdf</a></td>
			<td style="width: 21.1435%;">Student
				<br>
				<br>
			</td>
			<td style="width: 33.3333%;">2021-09-10 08:00:00</td>
		</tr>
		<tr>
			<td style="width: 45.4424%;"><a class="fr-file" href="/storage/app/media/uploaded-files/TKU%20English%20Department%20Graduation%20Benchmark.pdf">TKU English Department Graduation Benchmark.pdf</a></td>
			<td style="width: 21.1435%;">Student&nbsp;</td>
			<td style="width: 33.3333%;">2021-09-05 08:00:00</td>
		</tr>
	</tbody>
</table>