<p>一、應對方式：</p>

<p>&nbsp;</p>

<p>請同學先依自己的身分，查詢正確的處理方式。<br />
<br />
&Oslash; <a href="https://drive.google.com/open?id=0B-Be425KHsnJLU9taUV6Z1hKMjQ">畢業門檻應對方式(依身份)</a></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>二、附檔：</p>

<p>&nbsp;</p>

<p>&Oslash; <a href="https://drive.google.com/file/d/0B-Be425KHsnJX21hRWxGTmY5SDQ/view?usp=sharing">英文系畢業門檻審核手冊(105.08.31)</a><strong><a href="https://drive.google.com/file/d/0ByLiKAkhSN0IblJBNHhEaWFyQlE/view?usp=sharing">&nbsp;</a></strong></p>

<p>&nbsp;</p>

<p><br />
<strong>&nbsp; &nbsp;(</strong><strong>本手冊僅適用於</strong><strong>100</strong><strong>學年度</strong><strong>(</strong><strong>含</strong><strong>)</strong><strong>後入學之學生；請先下載再開啟</strong><strong>)</strong><br />
<strong>&nbsp; ※ 99</strong><strong>學年度</strong><strong>(</strong><strong>含</strong><strong>)</strong><strong>以前入學之同學，欲洽詢畢業門檻資訊或修畢業門檻替代課程</strong>，<br />
&nbsp; &nbsp; &nbsp; &nbsp;<strong>請直接洽</strong><strong>Violet</strong><strong>助教。</strong><br />
<br />
&nbsp;</p>

<p>&Oslash; <a href="http://www.tflx.tku.edu.tw/download.php?filename=555_9aef0a51.pdf&amp;dir=archive&amp;title=%E7%95%A2%E6%A5%AD%E9%96%80%E6%AA%BB%E8%A6%8F%E5%89%87">英文系畢業標準檢定規則</a><a href="http://www.tflx.tku.edu.tw/download.php?filename=555_9aef0a51.pdf&amp;dir=archive&amp;title=%E7%95%A2%E6%A5%AD%E9%96%80%E6%AA%BB%E8%A6%8F%E5%89%87">(104.06.02)</a></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>※ &nbsp; &nbsp;<strong>若有任何疑問，請洽英文系</strong><strong>Violet</strong><strong>助教：</strong><br />
<strong>(02) 2621-5656 (</strong><strong>分機2344) &nbsp;&nbsp;</strong><strong><a href="mailto:vicky@mail.tku.edu.tw">violet2016@mail.tku.edu.tw</a></strong></p>

<p>&nbsp;</p>

<p>&nbsp;<br />
三、其他：<br />
&nbsp;</p>

<p>【重要】英檢畢業門檻登錄Q&amp;A</p>

<p>登錄系統: <a href="http://sinfo.ais.tku.edu.tw/MvcLicense/">http://sinfo.ais.tku.edu.tw/MvcLicense/</a></p>

<p>Q: 以前高中考過的英檢成績算嗎? 有時間限制嗎?<br />
A: 沒有。貼心提醒: 如果同學之後想要拿雅思或是托福做為其他用途(如申請研究所)，就要注意成績是否有過期。</p>

<p>Q: 系統上的證照時間，成績時間要怎麼填?<br />
A: 如果證照或是成績時間不知道，沒有填寫沒關係，但記得「考試時間」一定要填正確!</p>

<p>Q: 成績單拍照上傳可以嗎?<br />
A: 可以，但記得要拍得清楚。</p>

<p>Q: 附件怎麼上傳都無法成功耶&hellip;.<br />
A: 系統有檔案大小限制。請記得壓縮小於1MB，但不要縮的太小，會看不清楚。欲檢查有無上傳成功，請重新登入，會看到「下載」的按鈕即表示上傳成功!</p>

<p>Q: 我不會壓縮檔案耶&hellip;<br />
A: 最簡檔的方法: 若是PDF檔，請先轉存為JPEG圖片檔後，開啟「小畫家」，按上面的「常用」=&gt;「調整大小」，進行檔案的縮小。</p>

<p>Q: 什麼時間前要登錄完畢?<br />
A: 畢業前。</p>

<p>Q: 系統登錄完之後就好了嗎?<br />
A: 請攜帶正本成績單或證書，至系辦找助教辦理審核。</p>

<p>For more info: <a href="http://www.tflx.tku.edu.tw/course/super_pages.php?ID=course7">http://www.tflx.tku.edu.tw/course/super_pages.php?ID=course7</a></p>

<p>&nbsp;</p>