<p><span style="font-size:16px;">外國語文學院學分學程，設有：</span></p>

<p><span style="font-size:16px;">&nbsp; 1. 外語翻譯學分學程</span></p>

<p><span style="font-size:16px;">&nbsp; 2. 外國文學學分學程 (108學年度起終止)</span></p>

<p><span style="font-size:16px;">&nbsp; 3. 外語華語教學學分學程</span></p>

<p><span style="font-size:16px;">&nbsp; 4. 外文外交學分學程</span></p>

<p><span style="font-size:16px;">&nbsp; 5. 雙外語經貿人才學分學程</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px;">各學分學程相關規定, 請詳見&nbsp;<a href="http://www.tf.tku.edu.tw/language/web_page/670">http://www.tf.tku.edu.tw/language/web_page/670</a></span></p>