<h2><span style="font-family:Times New Roman,Times,serif"><strong>英文學系-大學部課程</strong></span></h2>

<p><img src="https://www.tflx.tku.edu.tw/storage/app/media/English/Ellen/interpretation.png" /></p>

<table border="1" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th rowspan="2" style="height:44px; width:200px">
			<p style="margin-left:14.2pt"><span style="font-family:Times New Roman,Times,serif">科目名稱</span></p>
			</th>
			<th rowspan="2" style="height:44px; width:28px">
			<p><span style="font-family:Times New Roman,Times,serif">學分</span></p>
			</th>
			<th colspan="2" style="height:44px; width:55px">
			<p style="margin-left:2.85pt"><span style="font-family:Times New Roman,Times,serif">第１</span></p>

			<p style="margin-left:2.85pt"><span style="font-family:Times New Roman,Times,serif">學年</span></p>
			</th>
			<th colspan="2" style="height:44px; width:55px">
			<p style="margin-left:2.85pt"><span style="font-family:Times New Roman,Times,serif">第２</span></p>

			<p style="margin-left:2.85pt"><span style="font-family:Times New Roman,Times,serif">學年</span></p>
			</th>
			<th colspan="2" style="height:44px; width:55px">
			<p style="margin-left:2.85pt"><span style="font-family:Times New Roman,Times,serif">第３</span></p>

			<p style="margin-left:2.85pt"><span style="font-family:Times New Roman,Times,serif">學年</span></p>
			</th>
			<th colspan="2" style="height:44px; width:55px">
			<p style="margin-left:2.85pt"><span style="font-family:Times New Roman,Times,serif">第４</span></p>

			<p style="margin-left:2.85pt"><span style="font-family:Times New Roman,Times,serif">學年</span></p>
			</th>
			<th colspan="2" style="height:44px; width:55px">
			<p style="margin-left:2.85pt"><span style="font-family:Times New Roman,Times,serif">第５</span></p>

			<p style="margin-left:2.85pt"><span style="font-family:Times New Roman,Times,serif">學年</span></p>
			</th>
			<th rowspan="2" style="height:44px; width:134px">
			<p style="margin-left:5.65pt"><span style="font-family:Times New Roman,Times,serif">備註</span></p>
			</th>
		</tr>
		<tr>
			<th style="height:23px; width:27px">
			<p><span style="font-family:Times New Roman,Times,serif">上</span></p>
			</th>
			<th style="height:23px; width:27px">
			<p><span style="font-family:Times New Roman,Times,serif">下</span></p>
			</th>
			<th style="height:23px; width:27px">
			<p><span style="font-family:Times New Roman,Times,serif">上</span></p>
			</th>
			<th style="height:23px; width:27px">
			<p><span style="font-family:Times New Roman,Times,serif">下</span></p>
			</th>
			<th style="height:23px; width:27px">
			<p><span style="font-family:Times New Roman,Times,serif">上</span></p>
			</th>
			<th style="height:23px; width:27px">
			<p><span style="font-family:Times New Roman,Times,serif">下</span></p>
			</th>
			<th style="height:23px; width:27px">
			<p><span style="font-family:Times New Roman,Times,serif">上</span></p>
			</th>
			<th style="height:23px; width:27px">
			<p><span style="font-family:Times New Roman,Times,serif">下</span></p>
			</th>
			<th style="height:23px; width:27px">
			<p><span style="font-family:Times New Roman,Times,serif">上</span></p>
			</th>
			<th style="height:23px; width:27px">
			<p><span style="font-family:Times New Roman,Times,serif">下</span></p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:200px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">大一英文</span></p>

			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">Freshman English</span></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">4</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">文學作品讀法</span></p>

			<p style="margin-left:5.5pt; text-align:center"><span style="font-family:Times New Roman,Times,serif">Appr. To the Study of Literature</span></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">4</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">西洋文學概論</span></p>

			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">Introduction to Western Literature</span></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">4</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">英作文(一)</span></p>

			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">English Composition <strong>(I)</strong></span></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">4</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">英語會話</span></p>

			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">English Conversation</span></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">4</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">英語口語表達</span></p>

			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">Oral Communication</span></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">4</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">英作文(二)</span></p>

			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">English Composition<strong>(II)</strong></span></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">4</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">英語語言學概論</span></p>

			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">Introduction to English Linguistics</span></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">4</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">英國文學(一)</span></p>

			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">English Literature <strong>(I)</strong></span></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">6</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">3</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">3</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">英國文學(二)</span></p>

			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">English Literature <strong>(II)</strong></span></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">6</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">3</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">3</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">英語演講</span></p>

			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">Oral Presentation in English</span></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">4</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">英作文(三)</span></p>

			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">English Composition<strong> (III)</strong></span></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">4</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">美國文學</span></p>

			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">American Literature</span></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">6</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">3</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">3</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">英文翻譯</span></p>

			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">English Translation</span></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">4</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center"><span style="font-family:Times New Roman,Times,serif">2</span></p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<h3>詳細請見<a href="https://www.tflx.tku.edu.tw/english/file/300">各學年度新生手冊</a></h3>

<p>&nbsp;</p>

<p><span style="font-size:72px"><img src="https://www.tflx.tku.edu.tw/storage/app/media/English/Judy/107%E8%AA%B2%E7%A8%8B%E5%9C%B0%E5%9C%96.jpg" /></span></p>