<p style="text-align:center"><span style="color:#0000ff"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:28px"><strong><span style="background-color:#ffff00">１０７學年（含）以後入學之「碩生」取得學位四步曲</span></strong></span></span></span></p>

<p style="text-align:center"><span style="color:#0000ff"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:26px"><strong><span style="background-color:#ffff00">4 steps to obtain the degree for &quot;Master&#39;s Program Students&quot; since 2018&nbsp;(included)</span></strong></span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong><span style="background-color:#d3d3d3">一步曲／</span></strong></span></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><strong><span style="background-color:#d3d3d3">Step 1</span></strong></span></span></p>

<p style="margin-left:40px"><span style="font-size:20px"><span style="color:#ffffff"><span style="font-family:Comic Sans MS,cursive"><strong><span style="background-color:#0000ff">任務一：拿到４個必修學分與２６個選修學分（必須註冊）</span></strong></span></span></span></p>

<p style="margin-left:120px"><span style="color:#ffffff"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong><span style="background-color:#0000ff">（１０９學年起入學者須拿到２４個選修學分）</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-size:20px"><span style="color:#ffffff"><span style="font-family:Comic Sans MS,cursive"><strong><span style="background-color:#0000ff">Mission 1 : Acquisition of 4 required credits and 26 elective credits(Must be registered)</span></strong></span></span></span></p>

<p style="margin-left:120px"><span style="color:#ffffff"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong><span style="background-color:#0000ff">(Acquisition of 24&nbsp;elective credits for students from 2020)</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-size:20px"><span style="color:#ffffff"><span style="font-family:Comic Sans MS,cursive"><strong><span style="background-color:#0000ff">任務二：參加１場學術研討會與３場學術演講</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#ffffff"><strong><span style="background-color:#0000ff">Mission 2 : Participation of 1 academic seminars and 3 academic lectures</span></strong></span></span></span></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">證據：</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Supporting documents :</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">研討會照片：一、開幕式；二、綜合座談；三、名牌+手冊。</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Photos of academic seminars : 1) Opening ceremony ; 2) Discussion session ; 3) Name tag &amp; Conference program</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">演講照片：一、演講會海報；二、演講中的講者。</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Photos of academic lectures : 1) Lecture poster ; 2) Speaker during the speech</span></span></strong></p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong><span style="background-color:#d3d3d3">二步曲／</span></strong></span></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><strong><span style="background-color:#d3d3d3">Step 2</span></strong></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#ffffff"><strong><span style="background-color:#0000ff">任務：提交論文大綱（可休學辦理）</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#ffffff"><strong><span style="background-color:#0000ff">Mission : Submission of thesis proposal(Students can apply during suspended semester)</span></strong></span></span></span></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">大綱內容：導論＋各章大綱＋書目</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Contents of thesis proposal : Introduction + Main point of each chapter + bibliographies/references</span></span></strong></p>

<p style="margin-left:120px"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong><span style="color:#000000">提交資料一：</span><u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff"><span style="background-color:#ffffff">指導教授申請表</span></span></a></u><span style="color:#000000">（確定在當學期提交論文大綱者才申請）</span></strong></span></span></p>

<p style="margin-left:120px"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong><span style="color:#000000">Required document 1:&nbsp;</span><u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff"><span style="background-color:#ffffff">Application form for applying for advisor</span></span></a></u><span style="color:#000000">&nbsp;(Only students are determined to submit the dissertation proposal&nbsp;in the current semester can apply)</span></strong></span></span></p>

<p style="margin-left:120px"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>提交時間：每學期初。請注意系網頁公告。</strong></span></span></span></p>

<p style="margin-left:120px"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>Submission period : At the beginning of each semester. Please pay attention to the latest news&nbsp;from the website of the department.</strong></span></span></span></p>

<p style="margin-left:120px"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong><span style="color:#000000">提交資料二：</span><u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">封面</span></a></u><span style="color:#000000">經指導教授簽名的整本大綱</span></strong></span></span></p>

<p style="margin-left:120px"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong><span style="color:#000000">Required document 2:&nbsp;</span><u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">The cover page of thesis or dessertation proposal</span></a></u><span style="color:#000000">&nbsp;signed by the advisor, and a complete disseration proposal.</span></strong></span></span></p>

<p style="margin-left: 120px;"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>提交時間：</strong></span></span></span></p>

<p style="margin-left: 120px;"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>Submission period:</strong></span></span></span></p>

<p style="margin-left: 120px;"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>一、當學期</strong></span></span></span><span style="color:#0000ff"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>要</strong></span></span></span><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>申請論文口試者：</strong></span></span></span><span style="color:#0000ff"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>當學期期中考週結束前，審查需時最多３週。</strong></span></span></span></p>

<p style="margin-left: 120px;"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>Students who </strong></span></span></span><span style="color:#0000ff"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>will</strong></span></span></span><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong> apply for the oral defense in the same semester should submit the proposal </strong></span></span></span><span style="color:#0000ff"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>before the end of midterm-exam week of the&nbsp;semester</strong></span></span></span><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>, the review process will take up to 3 weeks.</strong></span></span></span></p>

<p style="margin-left: 120px;"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>二、當學期</strong></span></span></span><span style="color:#ff0000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>不</strong></span></span></span><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>申請論文口試者：</strong></span></span></span><span style="color:#ff0000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>當學期第14週結束前，審查需時最多3週。</strong></span></span></span></p>

<p style="margin-left: 120px;"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>Students who </strong></span></span></span><span style="color:#ff0000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>will not</strong></span></span></span><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong> apply for the oral defense in the same semester should submit the proposal </strong></span></span></span><span style="color:#ff0000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>before the end of the 14th week&nbsp;of the&nbsp;semester</strong></span></span></span><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>, the review process will take up to 3 weeks.</strong></span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><strong><span style="background-color:#d3d3d3">三步曲／</span></strong></span><span style="font-size:20px"><strong><span style="background-color:#d3d3d3">Step 3</span></strong></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#ffffff"><strong><span style="background-color:#0000ff">任務：申請論文口試（必須註冊）</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#ffffff"><strong><span style="background-color:#0000ff">Mission : Application of Oral Defense(Must be registered)</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#ffffff"><strong><span style="background-color:#000000">★前題：完成論文大綱審查</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#ffffff"><strong><span style="background-color:#000000">★Precondition : Completion of the review of thesis proposal</span></strong></span></span></span></p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:80px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#00ff00"><span style="background-color:#008000">口試前／</span></span></span><span style="font-size:20px"><span style="color:#00ff00"><span style="background-color:#008000">Before oral defense</span></span></span></span></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">申請資料：</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Application documents :</span></span></strong></p>

<p style="margin-left:120px"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>文件一：上「<u><a href="http://w4.emis.tku.edu.tw/thesis/"><span style="color:#0000ff">研究生論文題目暨指導教授登錄系統</span></a></u>」填妥論文題目</strong></span></span></p>

<p style="margin-left:120px"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>Document 1 : Complete&nbsp;all fields in the system on <u><a href="http://w4.emis.tku.edu.tw/thesis/"><span style="color:#0000ff">http://w4.emis.tku.edu.tw/thesis/</span></a></u>.</strong></span></span></p>

<p style="margin-left:120px"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>文件二：上系網頁下載並填妥「<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">淡江大學英文學系碩博士班學位考試委員名冊推薦表</span></a></u>」後印出</strong></span></span></p>

<p style="margin-left:120px"><span style="font-size:20px"><span style="font-family:Comic Sans MS,cursive"><strong>Document 2 : Download and complete 「<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">Recommendation form of oral defense committee members-must ONLY in Chinese</span></a></u>」on the website of the department.</strong></span></span></p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">申請時間：第１學期約第８至１２週，第２學期約第５至１０週。請注意電郵通知及系網最新消息。</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Application time: Around the 8<sup>nd</sup> to 12</span><sup><span style="font-size:16.6667px">th</span></sup><span style="font-size:20px">&nbsp;week of the 1<sup>st</sup> semester and the 5<sup>th</sup> to 10<sup>th</sup> week of the 2<sup>nd</sup> semester. Please pay attention to the notice from your E-mail and the latest news from the website of department.</span></span></strong></p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:80px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#00ff00"><span style="background-color:#008000">口試時／</span></span></span><span style="font-size:20px"><span style="color:#00ff00"><span style="background-color:#008000">For oral defense</span></span></span></span></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">準備資料：</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Documents for oral defense :</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">上教務處註冊組網頁</span></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">下載以下資料：</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Download the following documents in the system on <u><a href="http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=306"><span style="color:#0000ff">http://www.acad.tku.edu.tw/RS/downs3/archive.php@class=306</span></a></u></span></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">&nbsp;:</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">資料一：「<span style="color:#ff0000">A7-淡江大學研究生學位考試評分表ATRX-Q03-001-FM034</span>」</span></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">３份</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Paper 1 : 3 oral defense score sheets</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">資料二：「<span style="color:#ff0000">A8-淡江大學研究生學位考試成績通知單ATRX-Q03-001-FM035</span>」</span></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">１份</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Paper 2 : 1 oral defense result notice</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">資料三：「<span style="color:#ff0000">A9-淡江大學碩士班學位考試委員簽名單ATRX-Q03-001-FM032</span>」</span></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">２份</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Paper 3 : 2 oral defense committee signature forms in Chinese</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">上系網頁下載以下資料：</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Download the following paper from the website of department :</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">資料四：上系網下載「<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">碩士學位考試委員簽名表-英文版</span></a></u><span style="color:#0000ff">」</span>２份並事先打上口試日期</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Paper 4 : 2 <u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">Master oral defense committee signature forms in English</span></a></u><span style="color:#0000ff">&nbsp;</span><span style="color:#000000">and the date of oral defense should be typed on before printed</span></span></span></strong></p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:80px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#00ff00"><span style="background-color:#008000">口試後／</span></span></span><span style="font-size:20px"><span style="color:#00ff00"><span style="background-color:#008000">After oral defense</span></span></span></span></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">將上述資料交給系助理</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Hand over all the abovementioned documents to the administrative assistant of the department.</span></span></strong></p>

<p>&nbsp;</p>

<p><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><strong><span style="background-color:#d3d3d3">四步曲／</span></strong></span><span style="font-size:20px"><strong><span style="background-color:#d3d3d3">Step 4</span></strong></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#ffffff"><strong><span style="background-color:#0000ff">任務：完成論文並取得畢業證書（必須註冊）</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#ffffff"><strong><span style="background-color:#0000ff">Mission : Complete the thesis and obtain the diploma(Must be registered)</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#ffffff"><strong><span style="background-color:#000000">★前題：完成論文口試</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#ffffff"><strong><span style="background-color:#000000">★Precondition : Completion of the oral defense</span></strong></span></span></span></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">期限：一個月內完成論文並上傳，必要時可寫<u><a href="http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=302"><span style="color:#0000ff">淡江大學教務處學生報告用紙</span></a></u>延長一個月</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Time limit : Finish the thesis and upload to the system in one month, may be extended for another month if necessary with a <u><a href="http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=302"><span style="color:#0000ff">Student Report</span></a></u>.</span></span></strong></p>

<p style="margin-left:120px">&nbsp;</p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">程序一：經指導教授簽署「<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">淡江大學英文學系碩博士論文上傳同意書</span></a></u>」後交給系助理或請指導教授透過電郵將同意書內容寄給系助理</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Procedure 1 : Hand over to the adminstrative assistant &quot;<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">Consent of uploading thesis or dessertation</span></a></u>&quot; signed by the advisor, or the advisor sends the same content of &quot;thesis upload consent form&quot; by E-mail to the adminstrative assistant.</span></span></strong></p>

<p style="margin-left:120px">&nbsp;</p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">程序二：將校徽浮水印設定在論文電子檔後上傳至圖書館的「<u><a href="http://etds.lib.tku.edu.tw/etdsystem/submit/submitLogin"><span style="color:#0000ff">淡江大學電子學位論文服務系統</span></a></u>」</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Procedure 2 : After setting the school badge watermark, upload the electronic file of the thesis to the library&#39;s &quot;<u><a href="http://etds.lib.tku.edu.tw/etdsystem/submit/submitLogin"><span style="color:#0000ff">Electronic theses &amp; Dissertations Service</span></a></u>&quot; (http://etds.lib.tku.edu.tw/en/etdsystem/submit/submitLogin).</span></span></strong></p>

<p style="margin-left:120px">&nbsp;</p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">程序三：至系辦領回考試委員簽名表後依規定印製４本論文，２本內附考試委員簽名表正本，２本內附考試委員簽名表影本。</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Procedure 3 : After taking back the oral defense committee signature forms from the department, print 4 copies of dissertation according to the regulations (2 copies of dissertation with the original signature forms from the oral defense committee members and the other 2 with the copied signature forms from the oral defense committee members).</span></span></strong></p>

<p style="margin-left:120px">&nbsp;</p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">程序四：持論文與「<u><a href="http://sinfo.ais.tku.edu.tw/tkuGrd/"><span style="color:#0000ff">畢業離校單</span></a></u>」辦理離校手續</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Procedure 4 : Proceed with the graduation procedure with the thesis and &quot;<u><a href="http://sinfo.ais.tku.edu.tw/tkuGrd/"><span style="color:#0000ff">Graduation Procedure List for Graduate School Student</span></a></u>&quot; (http://sinfo.ais.tku.edu.tw/tkuGrd/HomeE).</span></span></strong></p>

<p>&nbsp;</p>

<p style="text-align:center"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:24px"><strong><span style="color:#0000ff"><span style="background-color:#ffff00">恭喜！Congratulations !</span></span></strong></span></span></p>

<p>&nbsp;</p>

<p><img class="fr-dii fr-fic" src="/storage/app/media/English/Iris/qualification-exam-for-ma1061.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/English/Iris/qualification-exam-for-ma1062.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/English/Iris/qualification-exam-for-ma1063.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/English/Iris/qualification-exam-for-ma1064.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/English/Iris/qualification-exam-for-ma1065.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>