<p>1. &nbsp; &nbsp;For course searches and further policies, please go to the <a href="http://esquery.tku.edu.tw/acad/default.asp?func=eng">Tamkang University Course Catalogs&nbsp;</a>for further information</p>

<p>2. &nbsp; &nbsp;General Education and Core Curriculum Course Selections <a href="http://www.core.tku.edu.tw/news/news.php?Sn=234">http://www.core.tku.edu.tw/news/news.php?Sn=234</a></p>

<p><strong>3. &nbsp; &nbsp;English Department Prerequisite Policies</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;(1) &nbsp; &nbsp;Prerequisite Courses: All mandatory courses assigned by the department</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;(2) &nbsp; &nbsp;Prerequisite Grades: Should the previous semester score is under 50 or did not take the course, may not select the course for the following semester.</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;(3) &nbsp; &nbsp;Prerequisite Advanced Courses:</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(i) &nbsp; &nbsp;English Literature (I), English Literature (II) ;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(ii) &nbsp; &nbsp;English Composition (I), English Composition (II), English Composition (III)</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(iii) &nbsp; &nbsp;English Conversation, Oral Communication, English Oral Presentation.</p>

<p>&nbsp;</p>

<p><strong>4. &nbsp; &nbsp;English Department Regulations for Mandatory Courses</strong></p>

<p><strong>(1)</strong> &nbsp; &nbsp;English Conversation, Oral Communication, English Oral Presentation, English Composition (I), (II), (III), English Translation will be instructed in small classes.</p>

<p><strong>Do not switch your group, the course cannot open with insufficient students this will affect the other students' right to take the course.&nbsp;</strong></p>

<p><strong>During the first course selection if the group courses were switched or if the course was dropped and cannot be selected, please select the course on your own during the course selection week.</strong></p>

<p>
	<br>
</p>

<p><strong>(2)</strong> &nbsp; &nbsp;Students with special requirements that need to select or drop the group course can contact the English department and apply for manual course selections according to the dates announced on the department website.&nbsp;</p>

<p><strong>However during the manual course selections, if the course is already full, the number of students for each course is equally distributed and you may be assigned to the said course, there is no room for further reasoning.</strong>&nbsp;</p>

<p>The English Department “manual course selection” application and notices will be announced in the first week of the semester on the department’s website.</p>

<p>
	<br>
</p>

<p><strong>(3) &nbsp;&nbsp;</strong><em>&nbsp;Elective courses (including the English Department, Campus Courses, College Course, Core Curriculums) must complete the online course selection according to dates announced by the school, no manual course selection is allowed.&nbsp;</em></p>

<p>
	<br>
</p>

<p>5. &nbsp; &nbsp;The maximum credits for course selection are a total of 25 credits; those whose grades are 80 or over in the first semester, may apply for minor courses and or a dual degree after approval. 6 extra credits may be added. &nbsp;&nbsp;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;Freshman, sophomores, juniors cannot take under 12 credits in total, seniors cannot take under 9 credits in total, students who are delayed in graduation must select at least one course.</p>

<p>For more information about course selections please read <a href="http://oa.tku.edu.tw/Law.nsf/8a19663a9342a6a748256e6b00446781/1f54e17235547f69482570ee00089066?OpenDocument&amp;Highlight=0,%E9%81%B8%E8%AA%B2" rel="noopener noreferrer" target="_blank">TKU Students Course Selection Regulations</a>, <a href="http://oa.tku.edu.tw/Law.nsf/8a19663a9342a6a748256e6b00446781/692ea5274046b3dc48257b890021e9f2?OpenDocument&amp;Highlight=0,%E9%81%B8%E8%AA%B2" rel="noopener noreferrer" target="_blank">TKU Students Mid-Term Course Dropout Policies</a>.&nbsp;</p>

<p>
	<br>
</p>

<p>6. &nbsp; &nbsp;English Department Graduation Benchmarks</p>

<p>Alternative courses (advanced English) applications are only available for seniors (including delayed undergraduates) who “registered for any English Certification Examination but did not meet the department’s graduation benchmark”.&nbsp;</p>

<p><strong>From the 2020 academic year, in the second semester please bring your grade transcript to the first week to the Department assistant for registration</strong>. (Updated 2020/ 5/26)</p>

<p>
	<br>
</p>

<p>7. &nbsp; &nbsp;English Department Elective Course- Apprentice Program, those who wish to select this program please contact the Department assistant during the first week of the semester. (provide your name, student ID number, mail, and phone number)&nbsp;</p>

<p>
	<br>
</p>

<h3>Course Selection Policies</h3>

<h3>
	<br>
</h3>

<table style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 33.3333%; text-align: center; background-color: rgb(210, 236, 255);">Form</td>
			<td style="width: 33.3333%; text-align: center; background-color: rgb(210, 236, 255);">Usage</td>
			<td style="width: 33.3333%; text-align: center; background-color: rgb(210, 236, 255);">Last Updated</td>
		</tr>
		<tr>
			<td>
				<br>
			</td>
			<td>
				<br>
			</td>
			<td>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 33.3333%;"><a class="fr-file" href="/storage/app/media/uploaded-files/Course%20Selection%20QA.pdf">Course Selection QA.pdf</a>
				<br>
			</td>
			<td style="width: 33.3333%; text-align: center;">Q&amp;A on Course Selections</td>
			<td style="width: 33.3333%; text-align: center;">2019-08-14</td>
		</tr>
		<tr>
			<td style="width: 33.3333%;">
				<br>
			</td>
			<td style="width: 33.3333%;">
				<br>
			</td>
			<td style="width: 33.3333%;">
				<br>
			</td>
		</tr>
	</tbody>
</table>

<h3>&nbsp;</h3>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>