<p>A. Strengthen students English listening, speaking, reading, and writing abilities.</p>

<p>
	<br>
</p>

<p>B. Develop students Chinese and English translation skills.</p>

<p>
	<br>
</p>

<p>C. Develop students critical thinking skills in an English language learning context.</p>

<p>
	<br>
</p>

<p>D. Enable students to comprehend and appreciate English language media.</p>

<p>
	<br>
</p>

<p>E. Strengthen students workplace English ability.</p>

<p>
	<br>
</p>

<p>F. Develop students professional abilities in linguistics and English teaching.</p>

<p>
	<br>
</p>

<p>G. Develop students ability to appreciate Anglophone literature in social, cultural, and historical contexts.</p>

<p>
	<br>
</p>

<p>H. Expand students international perspective.</p>

<p>
	<br>
</p>