<p style="text-align:center"><span style="font-family:Comic Sans MS,cursive"><span style="color:#0000ff"><span style="font-size:28px"><strong><span style="background-color:#ffff00">１０７學年（含）以後入學之「博生」取得學位七步曲</span></strong></span></span></span></p>

<p style="text-align:center"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:24px"><span style="color:#0000ff"><strong><span style="background-color:#ffff00">7 steps to obtain the degree for &ldquo;PhD Program Students&rdquo; since 2018(included)</span></strong></span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><strong><span style="background-color:#d3d3d3">一步曲／Step 1</span></strong></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">任務一：拿到２８個選修學分（必須註冊）</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#ffffff">任務一：</span><span style="background-color:#0000ff">（１０９學年起入學者須拿到３０個選修學分）</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">Mission 1 : Acquisition of 28 elective credits&nbsp;(Must be registered)</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#ffffff">Mission 1 :&nbsp;</span><span style="background-color:#0000ff">(Acquisition of&nbsp;30 elective credits for students from 2020)</span></strong></span></span></span></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">「文學研究方法與寫作」與「教學研究方法與寫作」必須擇一選修。</span></span></strong></p>

<p style="margin-left:80px"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><strong>Elective courses&nbsp;&quot;Research Writing and Methodology in Literary Studies&quot; and &quot;Research Writing and Methodology in Language Teaching&quot;, students must take one.</strong></span></span></p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">任務二：參加３場學術研討會與５場學術演講</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">Mission 2 : Participation of 3 academic seminars and 5 academic lectures</span></strong></span></span></span></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">證據：</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Supporting documents :</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">研討會照片：一、開幕式；二、綜合座談；三、名牌+手冊。</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Photos of academic seminars: 1) Opening ceremony ; 2) Discussion session ; 3) Name tag &amp; Conference program.</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">演講照片：一、演講會海報；二、演講中的講者。</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Photos of academic lectures: 1) Lecture poster ; 2) Speaker during the speech.</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">將上述照片讓系助理看，系助理就會登記。</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Administrative assistant will record them after being shown these photos.</span></span></strong></p>

<p>&nbsp;</p>

<p><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><strong><span style="background-color:#d3d3d3">二步曲／Step 2</span></strong></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">任務：通過學科考試（可休學辦理）</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">Mission : Pass the Comprehensive Examinations (Students can apply during suspended semester)</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#000000">★前題：修畢學分</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#000000">★Precondition : Completed credits</span></strong></span></span></span></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">申請資料：</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Application documents :</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">文件一：歷年成績。</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Document 1 : transcripts of all semesters</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">文件二：上系網頁下載並填妥「<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">淡江大學英文學系碩博士班學科考試申請表</span></a></u>」</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Document 2 : Download and complete the &ldquo;<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">Comprehensive Examination Application Form</span></a></u>&rdquo; on the website of the department.</span></span></strong></p>

<p style="margin-left:80px">&nbsp;</p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">考試科目：與博士論文相關，由指導教授協助學生依研究領域共擬書單與範圍，提交系課程委員會核可後始得進行命題。</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">The advisor will help the student to darft a book list and the scope of comprehensive exam based on the student&rsquo;s field of research and present it to the department&rsquo;s Curriculum Committee. After receiving the committee&rsquo;s approval, the student&#39;s advisor can proceed with the formulation of comprehensive exam questions.</span></span></strong></p>

<p style="margin-left:80px">&nbsp;</p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">申請時間：欲在期中考週考試者，在每學期第５週結束前申請；欲在期末考週考試者，在每學期第１１週結束前申請。</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Application time :</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#ff0000">Before the end of the 5<sup>th</sup> week</span> of each semester if students want to take the exam during <span style="color:#ff0000">midterm-exam week</span>;</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><span style="color:#ff0000">Before the end of the 11<sup>th</sup> week</span> of each semester if students want to take the exam during <span style="color:#ff0000">final-exam week</span>.</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">考試時間：第１０週或第１６週</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Examination time : One day during the 10<sup>th</sup> or the 16<sup>th</sup> week</span></span></strong></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#000000">★重要：</span></strong></span></span><span style="font-size:20px"><strong><u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff"><span style="background-color:#ffff00">論文刊登於具審稿制度之國內、外學術期刊</span></span></a><span style="color:#0000ff"><span style="background-color:#ffff00">或具審查制度的專書章節</span></span></u></strong></span><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#000000">，經本系課程會審查核可，得抵免綜合考試。此論文不同於博士候選資格所需之論文。</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#000000">★Importnat : If a student&rsquo;s paper is published in&nbsp;</span></strong></span></span><a href="https://www.tflx.tku.edu.tw/english/file/476"><u><span style="color:#0000ff"><span style="font-size:20px"><strong><span style="background-color:#ffff00">a domestic or international peer reviewed academic journal</span></strong></span></span></u></a><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#000000">&nbsp;and has undergone the approval of the department&rsquo;s Curriculum Committee, then, the student can be exempted from the comprehensive examination. This paper is different from the one submitted for doctoral candidacy.</span></strong></span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><strong><span style="background-color:#d3d3d3">三步曲／Step 3</span></strong></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">任務：提交論文大綱（可休學辦理）</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">Mission : Submission of dissertation proposal (Students can apply during suspended semester)</span></strong></span></span></span></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">大綱內容：導論＋各章大綱＋書目</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Content of Outline : Introduction + Main point of each chapiter + bibliographies</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">提交資料一：<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">指導教授申請表</span></a></u><span style="color:#000000">（確定在當學期提交論文大綱者才申請）</span></span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Required document 1: <u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">Application form for applying for advisor</span></a></u><span style="color:#0000ff">&nbsp;</span><span style="color:#000000">(Only students are determined to submit the dissertation proposal&nbsp;in the current semester can apply)</span></span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">提交時間：每學期初。請注意系網頁公告。</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Submission period : At the beginning of each semester. Please pay attention to the latest news&nbsp;from the website of the department.</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">提交資料二：<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">封面</span></a></u>經指導教授簽名的整本大綱</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Required document 2: <u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">The cover page of thesis or dessertation proposal</span></a></u> signed by the advisor, and a complete disseration proposal.</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">提交時間：</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Submission period:</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">一、當學期<u><span style="color:#0000ff">要</span></u>申請論文口試者：當學期期中考週結束前，審查需時最多３週。</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Students <u><span style="color:#0000ff">who will</span></u> apply for the oral defense in the same semester should submit the proposal <span style="color:#0000ff">before the end of midterm-exam week of the&nbsp;semester</span>, the review process will take up to 3 weeks.</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">二、當學期<span style="color:#ff0000"><u>不</u></span>申請論文口試者：當學期第14週結束前，審查需時最多3週。</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Students <span style="color:#ff0000"><u>who will not</u></span> apply for the oral defense in the same semester should submit the proposal <span style="color:#ff0000">before the end of the 14th week&nbsp;of the&nbsp;semester</span>, the review process will take up to 3 weeks.</span></span></strong></p>

<p>&nbsp;</p>

<p><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><strong><span style="background-color:#d3d3d3">四步曲／Step 4</span></strong></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">任務：論文大綱發表（可休學辦理）</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">Mission : Presentation of dissertation proposal&nbsp;(Students can apply during suspended semester)</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#000000">★前題：完成論文大綱審查</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#000000">★Precondition : Completion of the review of dissertation proposal.</span></strong></span></span></span></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">發表時間：</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Presentation time :</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">論文大綱審查通過的當學期結束前</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Before the end of the semester after the dissertation proposal has passed the review.</span></span></strong></p>

<p style="margin-left:80px">&nbsp;</p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">準備資料：</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Required documents :</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">發表會七日前自系網頁下載、填妥及印出「<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">淡江大學英文學系博士班論文大綱發表會公告</span></a></u>」後交給系助理</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">After downloading, completing and printing 「<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">Dissertation proposal hearing announcement</span></a></u>」on the website of department, hand it over to the administrative assistant of department 7 days before the presentation.</span></span></strong></p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#000000">★注意：指導教授及論文大綱審查教授皆須在發表公告上簽名並出席。</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#000000">★Notice : The advisor and all the professors who reviewed the disseration proposal must be present and they all must signe on the 「淡江大學英文系博士班論文大綱發表會公告」.</span></strong></span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><strong><span style="background-color:#d3d3d3">五步曲／Step 5</span></strong></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">任務：取得博士候選資格</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">Mission : Obtain a doctoral candidacy</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><span style="background-color:#000000">★</span><strong><span style="background-color:#000000">前題：通過綜合考試</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><span style="background-color:#000000">★</span><strong><span style="background-color:#000000">Precondition : Pass the Comprehensive Examinations</span></strong></span></span></span></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">提交資料：</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Required documents:</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">１篇論文：須發表於具審稿制度且印製於論文集之研討會或刊登於<a href="https://www.tflx.tku.edu.tw/english/file/476"><u><span style="color:#0000ff"><span style="background-color:#ffff00">具審稿制度之國內、外學術期刊</span></span></u></a>。</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">1 paper : Published in <a href="https://www.tflx.tku.edu.tw/english/file/476"><u><span style="color:#0000ff"><span style="background-color:#ffff00">a domestic or international peer reviewed academic journal</span></span></u></a> or conference proceeding.</span></span></strong></p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">經本系課程委員會審查核可後，得由本系推薦為博士資格候選人。</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">After undergoing the approval of the department&rsquo;s Curriculum Committee, the student can be recommended as a doctoral candidate.</span></span></strong></p>

<p>&nbsp;</p>

<p><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><strong><span style="background-color:#d3d3d3">六步曲／Step 6</span></strong></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">任務：申請論文口試（必須註冊）</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">Mission : Application of Oral Defense(Must be registered)</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><span style="background-color:#000000">★</span><strong><span style="background-color:#000000">前題：完成論文大綱審查</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><span style="background-color:#000000">★</span><strong><span style="background-color:#000000">Precondition : Completion of the review of dissertation proposal and the entire dissertation.</span></strong></span></span></span></p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="color:#00ff00"><span style="font-size:20px"><span style="background-color:#008000">口試前／Before Oral Defense</span></span></span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">申請資料：</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Application documents:</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">文件一：上「<u><a href="http://w4.emis.tku.edu.tw/thesis/"><span style="color:#0000ff">研究生論文題目暨指導教授登錄系統</span></a></u>」填妥論文題目</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Document 1 : Complete all fields in the system on <u><a href="http://w4.emis.tku.edu.tw/thesis/"><span style="color:#0000ff">http://w4.emis.tku.edu.tw/thesis/</span></a></u>.</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">文件二：上系網頁下載並填妥「<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">淡江大學英文學系碩博士班學位考試委員名冊推薦表</span></a></u>」後印出</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Document 2 : Download and complete 「<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">Recommendation form of oral defense committee members-must ONLY in Chinese</span></a></u>」on the website of the department.</span></span></strong></p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">申請時間：第１學期約第８至１２週，第２學期約第５至１０週。請注意電郵通知及系網最新消息。</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Application time : About the 8</span><sup><span style="font-size:16.6667px">th</span></sup><span style="font-size:20px">&nbsp;to 12</span><sup>th</sup><span style="font-size:20px">&nbsp;week of the 1<sup>st</sup> semester and the 5<sup>th</sup> to 10<sup>th</sup> week of the 2<sup>nd</sup> semester.&nbsp;Please pay attention to the informations from your E-mail and the latest news from website of department.</span></span></strong></p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="color:#00ff00"><span style="font-size:20px"><span style="background-color:#008000">口試時／For Oral Defense</span></span></span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">準備資料：</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Required documents:</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">上教務處註冊組網頁下載以下資料：</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Download the following documents in the system on <u><a href="http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=306"><span style="color:#0000ff">http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=306</span></a></u> :</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">資料一：「<span style="color:#ff0000">A7-淡江大學研究生學位考試評分表ATRX-Q03-001-FM034</span>」至少５份，同口試委員人數</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Document 1 : At least&nbsp;5 oral defense score sheets(ONLY in Chinese)，according to the number of committee.</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">資料二：「<span style="color:#ff0000">A8-淡江大學研究生學位考試成績通知單ATRX-Q03-001-FM035</span>」１份</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Document 2 : 1 oral defense result notice(ONLY in Chinese)</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">資料三：「<span style="color:#ff0000">A11-淡江大學博士班學位考試委員簽名單ATRX-Q03-001-FM039</span>」至少２份並事先打上口試日期</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Document 3 : At least 2 oral defense committee signature forms in Chinese and the date of oral defense should be typed on before printed</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">上系網頁下載以下資料：</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Download the following paper from the website of department :</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">資料四：上系網頁下載「<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">博士學位考試委員簽名表-英文版</span></a></u>」至少２份並事先打上口試日期</span></span></strong></p>

<p style="margin-left:160px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Document 4 : At least 2 &ldquo;<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">PhD oral defense committee signature forms in English</span></a></u>&rdquo;&nbsp;and the date of oral defense should be typed on before printed</span></span></strong></p>

<p style="margin-left:80px">&nbsp;</p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="color:#00ff00"><span style="font-size:20px"><span style="background-color:#008000">口試後／After Oral Examination</span></span></span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">將上述資料交給系助理</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Hand over all the abovementioned documents to the administrative assistant of the department</span></span></strong></p>

<p style="margin-left:40px">&nbsp;</p>

<p><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px"><strong><span style="background-color:#d3d3d3">七步曲／Step 7</span></strong></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">任務：完成論文並取得畢業證書（必須註冊）</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">Mission : Complete the dissertation and obtain the diploma(Must be registered)</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><span style="background-color:#000000">★</span><strong><span style="background-color:#000000">前題：完成論文口試</span></strong></span></span></span></p>

<p style="margin-left:40px"><span style="font-family:Comic Sans MS,cursive"><span style="color:#ffffff"><span style="font-size:20px"><span style="background-color:#000000">★</span><strong><span style="background-color:#000000">Precondition : Accomplish the Oral Defense.</span></strong></span></span></span></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">期限：一個月內完成論文並上傳，必要時可寫<u><a href="http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=302"><span style="color:#0000ff">淡江大學教務處學生報告用紙</span></a></u>延長一個月</span></span></strong></p>

<p style="margin-left:80px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Time limit : finish the thesis and upload to the system in one month, may be extended for another one if necessary with a <u><a href="http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=302"><span style="color:#0000ff">Student Report</span></a></u>.</span></span></strong></p>

<p style="margin-left:120px">&nbsp;</p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">程序一：經指導教授簽署「<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">淡江大學英文學系碩博士論文上傳同意書</span></a></u>」後交給系助理或請指導教授透過電郵將同意書內容寄給系助理</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Procedure 1 : Hand over to the adminstrative assistant &ldquo;<u><a href="https://www.tflx.tku.edu.tw/english/file/476"><span style="color:#0000ff">Consent of uploading thesis or dessertation</span></a></u>&rdquo; signed by the advisor, or the advisor sends the same content of &ldquo;thesis upload consent form&rdquo; by E-mail to the adminstrative assistant.</span></span></strong></p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">程序二：將校徽浮水印設定在論文電子檔後上傳至圖書館的「<u><a href="http://etds.lib.tku.edu.tw/etdsystem/submit/submitLogin"><span style="color:#0000ff">淡江大學電子學位論文服務系統</span></a></u>」</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Procedure 2 : After setting the school badge watermark, upload</span></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">&nbsp;the electronic file of the dissertation to the library&#39;s &ldquo;<u><a href="http://etds.lib.tku.edu.tw/etdsystem/submit/submitLogin"><span style="color:#0000ff">Electronic theses &amp; Dissertations Service</span></a></u>&rdquo; (http://etds.lib.tku.edu.tw/en/etdsystem/submit/submitLogin).</span></span></strong></p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">程序三：至系辦領回考試委員簽名表後依規定印製５本論文，２本內附考試委員簽名表正本，３本內附考試委員簽名表影本。</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Procedure 3 : After taking back the Oral Defense committee signature forms from the department, print 5 copies of dissertation according to the regulations (2 copies of dissertation with the original signature forms from the Oral Defense committee members and the other 3 with the copied signature forms from the oral defense committee members).</span></span></strong></p>

<p style="margin-left:120px">&nbsp;</p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">程序四：持論文與「<u><a href="http://sinfo.ais.tku.edu.tw/tkuGrd/"><span style="color:#0000ff">畢業離校單</span></a></u>」辦理離校手續</span></span></strong></p>

<p style="margin-left:120px"><strong><span style="font-family:Comic Sans MS,cursive"><span style="font-size:20px">Procedure 4 : Proceed with the graduation procedure with the dissertation and &ldquo;<u><a href="http://sinfo.ais.tku.edu.tw/tkuGrd/"><span style="color:#0000ff">Graduation Procedure List for Graduate School Student</span></a></u>&rdquo; (http://sinfo.ais.tku.edu.tw/tkuGrd/HomeE)</span></span></strong></p>

<p>&nbsp;</p>

<p style="text-align:center"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:24px"><span style="color:#0000ff"><strong><span style="background-color:#ffff00">恭喜！Congratulations !</span></strong></span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Comic Sans MS,cursive"><img class="fr-dii fr-fic" src="/storage/app/media/English/Iris/qualification-exam-for-phd1061.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/English/Iris/qualification-exam-for-phd1062.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/English/Iris/qualification-exam-for-phd1063.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/English/Iris/qualification-exam-for-phd1064.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/English/Iris/qualification-exam-for-phd1065.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/English/Iris/qualification-exam-for-phd1066.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/English/Iris/qualification-exam-for-phd1067.jpg" /></span></p>

<p>&nbsp;</p>