<p>現有師資共計35位專任，其中有博士學位者<strong>34</strong>位。兼任教師共82位。師資來源，採開放原則，中外並重，並考慮學術專長之平衡。</p>

<p>&nbsp;</p>

<p><strong>專任師資現況：</strong></p>

<p>&nbsp;專任教師35人，計有</p>

<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:581px">
	<tbody>
		<tr>
			<td><strong>教授&nbsp;</strong></td>
			<td><strong>副教授</strong></td>
			<td><strong>助理教授&nbsp;</strong></td>
			<td><strong>講師&nbsp;</strong></td>
			<td><strong>外籍教師&nbsp;</strong></td>
			<td><strong>博士學位</strong></td>
			<td><strong>碩士學位&nbsp;</strong></td>
		</tr>
		<tr>
			<td>5人</td>
			<td>22人</td>
			<td>7人</td>
			<td>1 人</td>
			<td>&nbsp;6人</td>
			<td>34人</td>
			<td>1人</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><strong>兼</strong><strong>任師資現況：</strong><br />
兼任教師82人，計有：</p>

<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:404px">
	<tbody>
		<tr>
			<td><strong>教授&nbsp;</strong></td>
			<td><strong>副教授</strong></td>
			<td><strong>助理教授&nbsp;</strong></td>
			<td><strong>講師&nbsp;</strong></td>
			<td><strong>外籍教師&nbsp;</strong></td>
		</tr>
		<tr>
			<td>1人</td>
			<td>6人</td>
			<td>15人</td>
			<td>60人</td>
			<td>7人</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>（<strong>2021.10.13</strong>更新）</p>