<p style="text-align: center;"><span style="font-size:24px;"><span style="font-family:Comic Sans MS,cursive;"><strong>4 steps to obtain the degree for "Master's Program Students" since 2018&nbsp;(included)</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Step 1</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Mission 1 : Acquisition of 4 required credits and 26 elective credits(Must be registered)</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>(Acquisition of 24&nbsp;elective credits for students from 2020)</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Mission 2 : Participation of 1 academic seminars and 3 academic lectures</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Supporting documents :</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Photos of academic seminars : 1) Opening ceremony ; 2) Discussion session ; 3) Name tag &amp; Conference program</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Photos of academic lectures : 1) Lecture poster ; 2) Speaker during the speech</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Step 2</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Mission : Submission of thesis proposal(Students can apply during suspended semester)</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Contents of thesis proposal : Introduction + Main point of each chapter + bibliographies/references</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Required document 1: <u><a href="https://www.tflx.tku.edu.tw/english/file/476">Application form for applying for advisor</a></u> (Only students are determined to submit the dissertation proposal&nbsp;in the current semester can apply)</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Submission period : At the beginning of each semester. Please pay attention to the latest news&nbsp;from the website of the department.</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Required document 2: <u><a href="https://www.tflx.tku.edu.tw/english/file/476">The cover page of thesis or dessertation proposal</a></u> signed by the advisor, and a complete disseration proposal.</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Submission period : Before the end of midterm exam of&nbsp;each semester, the review process will take up to 3 weeks.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Step 3</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Mission : Application of Oral Defense(Must be registered)</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>★Precondition : Completion of the review of thesis proposal</strong></span></span></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;">Before oral defense</span></span></strong></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Application documents :</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Document 1 : Download and print after completing all fields in the system on <u><a href="http://w4.emis.tku.edu.tw/thesis/">http://w4.emis.tku.edu.tw/thesis/</a></u>.</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Document 2 : Download and complete 「<u><a href="https://www.tflx.tku.edu.tw/english/file/476">Recommendation form of oral defense committee members-must ONLY in Chinese</a></u>」on the website of the department.</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Application time: Around the 8<sup>nd</sup> to 12<sup>th</sup> week of the 1<sup>st</sup> semester and the 5<sup>th</sup> to 10<sup>th</sup> week of the 2<sup>nd</sup> semester. Please pay attention to the notice from your E-mail and the latest news from the website of department.</strong></span></span></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;">For oral defense</span></span></strong></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Documents for oral defense :</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Download the following documents in the system on <u><a href="http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=306">http://www.acad.tku.edu.tw/RS/downs3/archive.php@class=306</a></u> :</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Paper 1 : 3 oral defense score sheets&nbsp;「A7-淡江大學研究生學位考試評分表ATRX-Q03-001-FM034」</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Paper 2 : 1 oral defense result notice「A8-淡江大學研究生學位考試成績通知單ATRX-Q03-001-FM035」</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Paper 3 : 2 oral defense committee signature forms in Chinese「A9-淡江大學碩士班學位考試委員簽名單ATRX-Q03-001-FM032」</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Download the following paper from the website of department :</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Paper 4 : 2 <u><a href="https://www.tflx.tku.edu.tw/english/file/476">Master oral defense committee signature forms in English</a></u> and the date of oral defense should be typed on before printed</strong></span></span></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;">After oral defense</span></span></strong></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Hand over all the abovementioned documents to the administrative assistant of the department.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Step 4</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Mission : Complete the thesis and obtain the diploma(Must be registered)</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>★Precondition : Completion of the oral defense</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Time limit : Finish the thesis and upload to the system in one month, may be extended for another month if necessary with a <u><a href="http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=302">Student Report</a></u>.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Procedure 1 : Hand over to the adminstrative assistant "<u><a href="https://www.tflx.tku.edu.tw/english/file/476">Consent of uploading thesis or dessertation</a></u>" signed by the advisor, or the advisor sends the same content of "thesis upload consent form" by E-mail to the adminstrative assistant.</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Procedure 2 : After setting the school badge watermark, upload the electronic file of the thesis to the library's "<u><a href="http://etds.lib.tku.edu.tw/etdsystem/submit/submitLogin">Electronic theses &amp; Dissertations Service</a></u>" (http://etds.lib.tku.edu.tw/en/etdsystem/submit/submitLogin).</strong></span></span></p>

<p><strong>Procedure 3 : After taking back the oral defense committee signature forms from the department, print 4 copies of dissertation according to the regulations (2 copies of dissertation with the original signature forms from the oral defense committee members and the other 2 with the copied signature forms from the oral defense committee members).</strong></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Procedure 4 : Proceed with the graduation procedure with the thesis and "<u><a href="http://sinfo.ais.tku.edu.tw/tkuGrd/">Graduation Procedure List for Graduate School Student</a></u>" (http://sinfo.ais.tku.edu.tw/tkuGrd/HomeE).</strong></span></span></p>

<p>&nbsp;</p>

<p style="text-align: center;"><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>恭喜！Congratulations !</strong></span></span></p>

<p>&nbsp;</p>