<p>一、「英文（一）」（含實習）：</p>

<ol>
	<li>課程查詢：課程查詢系統／其他查詢／輸入「T0466」。</li>
	<li>為1學年課程，搭配實習課授課。</li>
	<li>「英文（一）」（含實習）原則上皆以網路選課，以實習課之「開課序號」選課；選課成功時，系統會自動帶出正課含實習課之資料。</li>
	<li>網路選課時，日間部學生可以選日間部任一學系開設之「英文（一）」（含實習）課程；進學班學生可以選進學班任一學系開設之「英文（一）」（含實習）課程。日間部各學系開設之「英文（一）」（含實習）並無程度之分，僅使用之教材不同；進學班亦然，惟各學系使用之教材則皆相同。</li>
	<li>若因實習課額滿、衝堂而無法以網路加選「英文（一）」者，才以人工加選方式辦理。人工加選的意思是正課任選一班，實習課則另改於星期二第11-12節（晚上6-8點）特別增開的班級上課。請不用找授課教師加簽，於每學期開學前，依<a href="http://www.tflx.tku.edu.tw/english/opinion/1175">英文系網頁／最新消息／通識外語學門</a>公告辦理。</li>
	<li><span style="color:#ff0000">英語專班之「英文（一）」，不搭配實習課授課，其課程僅限英語專班學生修習。</span></li>
</ol>

<p>二、「英文（二）」：</p>

<ol>
	<li>課程查詢：課程查詢系統／其他查詢／輸入「A0050」。</li>
	<li>為1學年課程，無實習課。</li>
	<li>「英文（二）」因採能力分班上課，本校目前尚無法以選課系統判斷學生程度，故一律皆以人工加選（<span style="color:#ff0000">當學年度入學的轉學生例外，請見以下第4點說明</span>）。請不用找授課教師加簽，於每學期開學前，依<a href="http://www.tflx.tku.edu.tw/english/opinion/1175">英文系網頁／最新消息／通識外語學門</a>公告辦理。</li>
	<li>當學年度入學的轉學生，可於入學當學期的<span style="color:#ff0000">初選期間</span>自行上網加選「英文（二）」（過了初選期間、隔年、隔一學期就都不行），分班成績計算方式為<span style="color:#ff0000"><strong><u>原校英文課成績（修幾科就算幾科）</u></strong>與<strong><u>淡江大學轉學考英文成績（若沒有考英文則不用列計）</u></strong>總和之平均</span>。</li>
</ol>

<ul style="margin-left:40px">
	<li>80分以上為第1等級（level 1）</li>
	<li>60分至79分為第2等級（level 2）</li>
	<li>59分以下為第3等級（level 3）</li>
	<li>進學班皆為第3等級（level 3）</li>
	<li>請自行上網加選所屬學院對應等級之班級。各學院「英文（二）」開課時間、各班分級對照表、使用教材等，請見<a href="https://www.tflx.tku.edu.tw/english/opinion/1175">英文系網頁／最新消息／通識外語學門</a>有關當學期「初選」和「加退選」外國語文學門課程之公告。</li>
</ul>

<ol start="5">
	<li><span style="color:#ff0000">英語專班不分班，皆已由教務處代選，如要退選，請審慎考慮。</span></li>
</ol>

<p>三、其他說明：</p>

<ol>
	<li>依選課規定，大二～大四擬修習大一課程者，請於加退選期間選課。由於「英文（一）」為大一新生之必修課，故第1學期初選期間必須先將該課程保留給大一新生加選，暫不開放2年級以上學生加選；2年級以上學生欲加選「英文（一）」者，請於加退選期間選課。第2學期則無此限制。</li>
	<li>僅管「英文（一）」、「英文（二）」無擋修制度，學生可以在同一學年同時修習「英文（一）」和「英文（二）」，但考量此二課程有內容深淺難易之分，因此不建議學生同時修習「英文（一）」和「英文（二）」或者先修「英文（二）」再修「英文（一）」。</li>
	<li>缺第1學期學分者，僅得重補修第1學期課程；缺第2學期學分者，僅得重補修第2學期課程。</li>
	<li>「英文（一）」、「英文（二）」暑修期間會開課，上、下期各開2班（日間部1班、進學班1班），能否成功開課則視報名人數是否達本校開課條件而定。<span style="color:#ff0000">請特別注意，「英文（一）」、「英文（二）」暑修之課程內容皆不包含「英文能力測驗」。</span>詳情與報名皆請見課務組公告（<span style="color:#ff0000">不是來英文系報名</span>）。</li>
</ol>