<p>&nbsp;</p>

<p>&nbsp;</p>

<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%">
	<tbody>
		<tr>
			<td style="width:17.62%">
			<p style="text-align: center;">&nbsp;<strong>校友姓名</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;<strong>服務單位&nbsp;&nbsp;</strong></p>
			</td>
			<td style="width:27.34%">
			<p>&nbsp;<strong>職稱&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></p>
			</td>
			<td style="width:20.94%">
			<p>&nbsp;<strong>成就領域 </strong></p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>侯登見</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">科見美語</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">董事長</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:20.94%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">社會服務</span></p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>&nbsp;　　侯先生畢業於英文系多年，畢業後創辦科見美語，嘉惠社會學子甚巨。侯先生曾任多屆英文系獎學金主任委員，致力幫助英文系清寒學子，當英文系學生有困難時，侯先生必適時幫助使英文系學生在課業上不必擔憂經濟問題。</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>&nbsp;蔡永興</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">啟台股份有限公司</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">董事長</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:20.94%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">社會服務</span></p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>　　蔡先生畢業於英文系之後成立啟台股份有限公司，網羅英文系學子輔導英文系學生就業，蔡先生亦是英文系獎學金委員之一，並成立啟均獎學金幫助英文系家境清寒學子。致力於社會服務幫助貧困之人，成立香園殘障育幼院幫助殘障同胞，致力於社會服務甚巨。<br />
			&nbsp;</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>&nbsp;朱天文</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">三三書坊</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">現代作家</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:20.94%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">社會服務</span></p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>　　朱小姐於英文系時期開辦三三集刊、三三書坊使英文系學子讀書風氣更盛，近幾年來朱小姐亦從事電影劇本寫作，為台灣新電影的重要編劇之一，亦是第一屆時報文學百萬小說得主，服務社會甚巨。</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>&nbsp;周家獻</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">寶威航運</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">總經理</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:20.94%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">社會服務</span></p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>　　周先生曾擔任英文系校友會會長及英文系獎學金主任委員，亦是中華民國船務代理商業同業公會全國聯合會理事長。周先生畢業於英文系之後對英文系幫忙甚大，常常贊助英文系經費，致力於幫助英文系清寒同學。</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>&nbsp;蕭集智</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">已退休</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">&nbsp;</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">社會服務</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>　　蕭先生於英文系畢業後全力支持成立英文系獎學金，不僅促成獎學金成立，同時亦成立金川獎學金，幫助英文系清寒同學。此外，蕭先生亦贊助英文系林亞倫老師出書經費，幫助英文系學生電腦教室上課軟體資源擴充，使英文系學生不斷擁有最新資訊接受新知，對英文系系務上幫助很大。</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center">&nbsp; <strong>&nbsp;汪國華</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">國泰世華聯合商業銀行</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">董事長</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">社會服務</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>　　汪先生是英文系獎學金創始人之一，目前亦是獎學金委員之一，汪先生始終致力於幫助英文系清寒同學。</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>&nbsp; &nbsp;黃天中</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">朝陽人文學院院長</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">院長</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">學術領域</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>　　黃先生曾任淡江大學研究學院院長，親民工商專科學校校長，目前任職朝陽人文學院院長。</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>呂明星</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">南興國民中學</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">校長</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">學術領域</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 呂先生畢業於英文系，目前任職於南興國民中學校長</p>

			<p><br />
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>侯建威</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">海山高工</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">校長</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">學術領域</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 侯先生畢業於英文系後，目前任職於省立海山高級工業職業學校校長。<br />
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>廖萬連</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">省立關山工商職校</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">校長</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">學術領域</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 廖先生目前任職於省立關山工商職校校長。</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>鄭寶娟</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">中國時報藝文組</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">記者兼現代作家</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">社會服務</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 鄭小姐英文系畢業後致力於小說寫作，擴展書香社會，創作小說。</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>&nbsp;陳敏聰</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">二林國民中學</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">校長</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">學術領域</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 陳先生畢業於英文系，目前任職於彰化縣立二林國民中學校長</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>趙慧芳</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">大理國民中學</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">校長</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">學術領域</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 趙小姐畢業於英文系，目前任職於台北市市立大理國民中學。</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>賴維新</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">萬國電器工業股份有限公司</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">董事長</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">社會服務</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>　　賴先生畢業於英文系，是英文系獎學金委員之一。致力於社會服務幫助貧困之人，對英文系幫忙甚大，常常贊助英文系經費幫助英文系清寒同學。</p>

			<p>&nbsp;</p>

			<p><br />
			&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>王儀君</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">中山大學英文系</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">教授</span></p>
			</td>
			<td style="width:20.94%">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 中山大學前文學院院長</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>張嘉如</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">紐約市立大學</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">教授</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">學術領域</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 嘉如學姊畢業后，到美國東部的羅格斯--紐澤西州立大學修習視覺藝術。拿到了藝術碩士之后，繼續留在羅格斯大學攻讀比較文學博士。在寫論文的最后一年當中，申請到佛羅里達大學去教一年書。拿到博士后，轉到德州三立大學現代語言文學系教了三年書。之后，又換到維吉尼亞州的華李大學的東亞語言文學系去教了一年書。目前在紐約市立大學布魯克林學院的現代語言文學系教書并且擔任美國ASLE 學會的參事。<br />
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>吳紹銓</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">英國New Castle大學</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">翻譯研文所所長</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">學術領域</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 吳紹銓先生於1988年畢業於淡江大學英文系。畢業服兵役期間申請到獎學金，於退役後赴美國紐約聖若望大學東亞研究學院(East Asian Institute, St. John&rsquo;s University, New York)研讀東亞研究碩士；取得碩士後，於1991年續申請至美國加州的蒙特瑞國際研究學院(Monterey Institute of International Studies)研讀中英口筆譯碩士。1993年畢業回國後受聘於高雄文藻外語學院英文系擔任講師，教授口筆譯課程並擔任該校翻譯中心主任，在文藻任教期間，除透過翻譯中心持續在南台灣發展口筆譯市場業務之外，並協助發展該校六年制專科翻譯組課程，為今日文藻翻譯系之濫觴。<br />
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1997年英國新堡大學(Newcastle University, UK)成立兩年制中英文口筆譯碩士班，於翌年邀請吳老師至新堡大學任教並協助發展該碩士課程，十年來該課程發展穩健，課程品質獲得兩岸學生肯定，由最初12名學生成長至目前每年約有40名研究生就讀。吳老師現任該中英文口筆譯碩士課程主任，致力發展e-learning口譯教學平台，提高口譯學習動機，增進教學成效。與此同時，吳老師仍然與台灣口筆譯界保持合作關係，曾擔任台灣師範大學翻譯研究所與輔仁大學翻譯研究所聯合專業口譯考試之考試委員，以及教育部舉辦的國家口筆譯考試命題委員。</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>徐璐</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">中華電信基金會</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">執行長</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">社會服務</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 美國哥倫比亞大學訪問學人<br />
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 英國社區大學City College of Lit：網路經營與電影藝術</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:17.62%">
			<p style="text-align:center"><strong>白小琳</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">美國駐武漢總領事館</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">第一任總領事</span></p>
			</td>
			<td style="width:20.94%">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" style="width:82.38%">
			<p>淡江大學英文系畢業，美國威斯康辛大學碩士。<br />
			&nbsp;白小琳曾在美國駐中國大陸的使領館服務，包括在駐瀋陽、駐廣州等地的總領館擔任新聞領事。其間，她也曾在美國國務院的國際新聞總署等部門工作。目前為美國駐武漢總領事。</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:17.62%">
			<p style="text-align:center"><strong>趙亞林</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p>&nbsp;</p>

			<p><span style="color:#0000ff">美國HUGE ENTERPRISE</span></p>

			<p><span style="color:#0000ff">巨業公司</span></p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">CEO</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">社會服務</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:17.62%">
			<p style="text-align:center"><strong>李嘉寶</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p>&nbsp;</p>

			<p>台灣區遠洋魚類輸出業同業公會</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p>總幹事</p>
			</td>
			<td style="width:20.94%">
			<p>社會服務</p>
			</td>
		</tr>
		<tr>
			<td style="width:17.62%">
			<p style="text-align:center"><strong>史書美</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p>&nbsp;</p>

			<p><span style="color:#0000ff">美國加州大學洛杉磯分校亞洲語言文化係及比較文學系</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">教授</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">學術領域</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:17.62%">
			<p style="text-align:center"><strong>郭岱宗</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p>&nbsp;</p>

			<p>口譯專家、淡江大學英文系</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p>副教授</p>
			</td>
			<td style="width:20.94%">
			<p>學術領域</p>
			</td>
		</tr>
		<tr>
			<td style="width:17.62%">
			<p style="text-align:center"><strong>莫洛夫</strong></p>
			</td>
			<td colspan="3" style="width:82.38%">
			<p><span style="color:#0000ff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>

			<p>&nbsp;</p>

			<p><span style="color:#0000ff">現代詩詩魔。民國43年與張默創辦《創世紀》詩刊，58年發起組成「詩宗社」。曾獲中國詩人聯誼會優秀詩人獎、國軍新文藝運動光華獎、《中國時報》敘事詩推薦獎、中山文藝獎詩創作獎、吳三連文藝獎、國家文藝獎等。</span></p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:17.62%">
			<p>&nbsp;</p>

			<p style="text-align:center"><strong>黃玉佩</strong></p>

			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p>佳音美語</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p>&nbsp;</p>

			<p>教學總監</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:20.94%">
			<p>&nbsp;</p>

			<p>社會服務</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:17.62%">
			<p style="text-align:center"><strong>吳美君</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">台灣Timberland</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">總經理</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">社會服務</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:17.62%">
			<p style="text-align:center"><strong>張治平</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p>法務部調查局洗錢防制處</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p>處長</p>
			</td>
			<td style="width:20.94%">
			<p>社會服務</p>
			</td>
		</tr>
		<tr>
			<td style="width:17.62%">
			<p style="text-align:center"><strong>吳繡鴛</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">昱捷股份有限公司</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">監察人</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">社會服務</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:17.62%">
			<p style="text-align:center"><strong>任逸翔</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p>亞洲週刊、英文中國日報</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p>&nbsp;</p>

			<p>前亞洲週刊駐台特派員、前英文中國日報副總編輯</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:20.94%">
			<p>社會服務</p>
			</td>
		</tr>
		<tr>
			<td style="width:17.62%">
			<p style="text-align:center"><strong>林信誠</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p><span style="color:#0000ff">長榮國際有限公司</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p><span style="color:#0000ff">旅業部副協理</span></p>
			</td>
			<td style="width:20.94%">
			<p><span style="color:#0000ff">社會服務</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:17.62%">
			<p style="text-align:center"><strong>呂學炯</strong></p>
			</td>
			<td style="width:34.1%">
			<p>&nbsp;</p>

			<p>日名國際藥品</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:27.34%">
			<p>總經理</p>
			</td>
			<td style="width:20.94%">
			<p>社會服務</p>
			</td>
		</tr>
	</tbody>
</table>