<p style="text-align: center;"><span style="font-size:24px;"><span style="font-family:Comic Sans MS,cursive;"><strong>7 steps to obtain the degree for “PhD Program Students” since 2018(included)</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Step 1</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Mission 1 : Acquisition of 28 elective credits&nbsp;(Must be registered)</strong></span></span></p>

<p style="margin-left: 120px;"><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>(Acquisition of&nbsp;30 elective credits for students from 2020)</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Elective courses&nbsp;"Research Writing and Methodology in Literary Studies" and "Research Writing and Methodology in Language Teaching", students must take one.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Mission 2 : Participation of 3 academic seminars and 5 academic lectures</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Supporting documents :</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Photos of academic seminars: 1) Opening ceremony ; 2) Discussion session ; 3) Name tag &amp; Conference program.</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Photos of academic lectures: 1) Lecture poster ; 2) Speaker during the speech.</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Administrative assistant will record them after being shown these photos.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Step 2</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Mission : Pass the Comprehensive Examinations (Students can apply during suspended semester)</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>★Precondition : Completed credits</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Application documents :</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Document 1 : transcripts of all semesters</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Document 2 : Download and complete the “<u><a href="https://www.tflx.tku.edu.tw/english/file/476">Comprehensive Examination Application Form</a></u>” on the website of the department.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>The advisor will help the student to darft a book list and the scope of comprehensive exam based on the student’s field of research and present it to the department’s Curriculum Committee. After receiving the committee’s approval, the student's advisor can proceed with the formulation of comprehensive exam questions.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Application time :</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Before the end of the 5<sup>th</sup> week of each semester if students want to take the exam during midterm-exam week;</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Before the end of the 11<sup>th</sup> week of each semester if students want to take the exam during final-exam week.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Examination time : One day during the 10<sup>th</sup> or the 16<sup>th</sup> week</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>★Importnat : If a student’s paper is published in&nbsp;</strong><a href="https://www.tflx.tku.edu.tw/english/file/476"><u><strong>a domestic or international peer reviewed academic journal</strong></u></a><strong>&nbsp;and has undergone the approval of the department’s Curriculum Committee, then, the student can be exempted from the comprehensive examination. This paper is different from the one submitted for doctoral candidacy.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Step 3</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Mission : Submission of dissertation proposal (Students can apply during suspended semester)</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Content of Outline : Introduction + Main point of each chapiter + bibliographies</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Required document 1: <u><a href="https://www.tflx.tku.edu.tw/english/file/476">Application form for applying for advisor</a></u> (Only students are determined to submit the dissertation proposal&nbsp;in the current semester can apply)</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Submission period : At the beginning of each semester. Please pay attention to the latest news&nbsp;from the website of the department.</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Required document 2: <u><a href="https://www.tflx.tku.edu.tw/english/file/476">The cover page of thesis or dessertation proposal</a></u> signed by the advisor, and a complete disseration proposal.</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Submission period : Before the end of midterm exam of&nbsp;each semester, the review process will take up to 3 weeks.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Step 4</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Mission : Presentation of dissertation proposal&nbsp;(Students can apply during suspended semester)</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>★Precondition : Completion of the review of dissertation proposal.</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Presentation time :</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Before the end of the semester after the dissertation proposal has passed the review.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Required documents :</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>After downloading, completing and printing 「<u><a href="https://www.tflx.tku.edu.tw/english/file/476">Dissertation proposal hearing announcement</a></u>」on the website of department, hand it over to the administrative assistant of department 7 days before the presentation.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>★Notice : The advisor and all the professors who reviewed the disseration proposal must be present and they all must signe on the 「淡江大學英文系博士班論文大綱發表會公告」.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Step 5</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Mission : Obtain a doctoral candidacy</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;">★<strong>Precondition : Pass the Comprehensive Examinations</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Required documents:</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>1 paper : Published in <a href="https://www.tflx.tku.edu.tw/english/file/476"><u>a domestic or international peer reviewed academic journal</u></a> or conference proceeding.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>After undergoing the approval of the department’s Curriculum Committee, the student can be recommended as a doctoral candidate.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Step 6</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Mission : Application of Oral Defense(Must be registered)</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;">★<strong>Precondition : Completion of the review of dissertation proposal and the entire dissertation.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Before Oral Defense</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Application documents:</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Document 1 : Download and print after completing all fields in the system on <u><a href="http://w4.emis.tku.edu.tw/thesis/">http://w4.emis.tku.edu.tw/thesis/</a></u>.</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Document 2 : Download and complete 「<u><a href="https://www.tflx.tku.edu.tw/english/file/476">Recommendation form of oral defense committee members-must ONLY in Chinese</a></u>」on the website of the department.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Application time : About the 8<sup>th</sup> to 12<sup>th</sup> week of the 1<sup>st</sup> semester and the 5<sup>th</sup> to 10<sup>th</sup> week of the 2<sup>nd</sup> semester.&nbsp;Please pay attention to the informations from your E-mail and the latest news from website of department.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>For Oral Defense</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Required documents:</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Download the following documents in the system on <u><a href="http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=306">http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=306</a></u> :</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Document 1 : At least&nbsp;5 oral defense score sheets(ONLY in Chinese)「A7-淡江大學研究生學位考試評分表ATRX-Q03-001-FM034」，according to the number of committee.</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Document 2 : 1 oral defense result notice(ONLY in Chinese)「A8-淡江大學研究生學位考試成績通知單ATRX-Q03-001-FM035」</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Document 3 : At least 2 oral defense committee signature forms in Chinese 「A11-淡江大學博士班學位考試委員簽名單ATRX-Q03-001-FM039」and the date of oral defense should be typed on before printed</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Download the following paper from the website of department :</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Document 4 : At least 2 “<u><a href="https://www.tflx.tku.edu.tw/english/file/476">PhD oral defense committee signature forms in English</a></u>”&nbsp;and the date of oral defense should be typed on before printed</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>After Oral Examination</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Hand over all the abovementioned documents to the administrative assistant of the department</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Step 7</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Mission : Complete the dissertation and obtain the diploma(Must be registered)</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;">★<strong>Precondition : Accomplish the Oral Defense.</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Time limit : finish the thesis and upload to the system in one month, may be extended for another one if necessary with a <u><a href="http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=302">Student Report</a></u>.</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Procedure 1 : Hand over to the adminstrative assistant “<u><a href="https://www.tflx.tku.edu.tw/english/file/476">Consent of uploading thesis or dessertation</a></u>” signed by the advisor, or the advisor sends the same content of “thesis upload consent form” by E-mail to the adminstrative assistant.</strong></span></span></p>

<p><strong>Procedure 2 : After setting the school badge watermark, upload the electronic file of the dissertation to the library's “<u><a href="http://etds.lib.tku.edu.tw/etdsystem/submit/submitLogin">Electronic theses &amp; Dissertations Service</a></u>” (http://etds.lib.tku.edu.tw/en/etdsystem/submit/submitLogin).</strong></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Procedure 3 : After taking back the Oral Defense committee signature forms from the department, print 5 copies of dissertation according to the regulations (2 copies of dissertation with the original signature forms from the Oral Defense committee members and the other 3 with the copied signature forms from the oral defense committee members).</strong></span></span></p>

<p><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>Procedure 4 : Proceed with the graduation procedure with the dissertation and “<u><a href="http://sinfo.ais.tku.edu.tw/tkuGrd/">Graduation Procedure List for Graduate School Student</a></u>” (http://sinfo.ais.tku.edu.tw/tkuGrd/HomeE)</strong></span></span></p>

<p>&nbsp;</p>

<p style="text-align: center;"><span style="font-size:20px;"><span style="font-family:Comic Sans MS,cursive;"><strong>恭喜！Congratulations !</strong></span></span></p>