<h3>(Process) Related Application Form Contents</h3>

<p>
	<br>
</p>

<p>English Department Graduation Benchmark Reviewing Process &amp; Handbook (Open document)</p>

<p>Last revised: 2021-09-26</p>

<p>(The handbook is suitable for students who enrolled in the year 2011 and after; please download and open the file.)</p>

<p>
	<br>
</p>

<table style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 100%; background-color: rgb(236, 216, 170);">
				<br>
				<div>Related Documents</div>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 100.0000%;">
				<br>
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 100.0000%;">
				<br><a class="fr-file" href="/storage/app/media/uploaded-files/English%20Department%20Graduation%20Benchmark%20Handbook%201100909.pdf">English Department Graduation Benchmark Handbook 1100909.pdf</a>
				<br>
				<br>
			</td>
		</tr>
	</tbody>
</table>