<p><span style="font-size:20px"><strong>109學年度 淡江大學英文學系考生須知（個人申請）</strong></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p>淡江大學訂於<span style="color:#ff0000"><strong>109年4月25-26日（星期六、日）</strong></span>辦理109學年度大學「個人申請」面試，本系採個別面試進行。</p>

<p>參加同學請於<u>面試前10分鐘至面試報到室（文學館L401室）報到</u>，俟監試人員安排進入面試準備室後即不可離開，隨時依監試人員指示進入面試教室。</p>

<p><span style="font-size:14px">面試序號請於4月22日後參閱本校招生策略中心網頁，各序號面試時間如下：</span></p>

<table align="center" border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="height:37px; width:54px">
			<p style="text-align:center">日期</p>
			</td>
			<td style="height:37px; width:155px">
			<p style="text-align:center">時間</p>
			</td>
			<td style="height:37px; width:120px">
			<p style="text-align:center">面試序號</p>
			</td>
			<td style="height:37px; width:55px">
			<p style="text-align:center">日期</p>
			</td>
			<td style="height:37px; width:158px">
			<p style="text-align:center">時間</p>
			</td>
			<td style="height:37px; width:114px">
			<p style="text-align:center">面試序號</p>
			</td>
		</tr>
		<tr>
			<td rowspan="9" style="height:37px; width:54px">
			<p style="text-align:center"><span style="color:#ff0000"><strong>4</strong></span></p>

			<p style="text-align:center"><span style="color:#ff0000"><strong>月</strong></span></p>

			<p style="text-align:center"><span style="color:#ff0000"><strong>25</strong></span></p>

			<p style="text-align:center"><span style="color:#ff0000"><strong>日</strong></span></p>

			<p style="text-align:center">&nbsp;</p>

			<p style="text-align:center"><span style="color:#ff0000"><strong>星</strong></span></p>

			<p style="text-align:center"><span style="color:#ff0000"><strong>期</strong></span></p>

			<p style="text-align:center"><span style="color:#ff0000"><strong>六</strong></span></p>
			</td>
			<td style="height:37px; width:155px">
			<p style="text-align:center">08：00起</p>
			</td>
			<td style="height:37px; width:120px">
			<p style="margin-left:-6pt; text-align:center">原住民、金門</p>
			</td>
			<td rowspan="7" style="height:37px; width:55px">
			<p style="text-align:center"><span style="color:#ff0000"><strong>4</strong></span></p>

			<p style="text-align:center"><span style="color:#ff0000"><strong>月</strong></span></p>

			<p style="text-align:center"><span style="color:#ff0000"><strong>26</strong></span></p>

			<p style="text-align:center"><span style="color:#ff0000"><strong>日</strong></span></p>

			<p style="text-align:center">&nbsp;</p>

			<p style="text-align:center"><span style="color:#ff0000"><strong>星</strong></span></p>

			<p style="text-align:center"><span style="color:#ff0000"><strong>期</strong></span></p>

			<p style="text-align:center"><span style="color:#ff0000"><strong>日</strong></span></p>
			</td>
			<td style="height:37px; width:158px">
			<p style="text-align:center">08：00起</p>
			</td>
			<td style="height:37px; width:114px">
			<p style="text-align:center">97-108</p>
			</td>
		</tr>
		<tr>
			<td style="height:37px; width:155px">
			<p style="text-align:center">09：00起</p>
			</td>
			<td style="height:37px; width:120px">
			<p style="margin-left:-6pt; text-align:center">1-12</p>
			</td>
			<td style="height:37px; width:158px">
			<p style="text-align:center">09：00起</p>
			</td>
			<td style="height:37px; width:114px">
			<p style="text-align:center">109-120</p>
			</td>
		</tr>
		<tr>
			<td style="height:37px; width:155px">
			<p style="text-align:center">10：00起</p>
			</td>
			<td style="height:37px; width:120px">
			<p style="text-align:center">13-24</p>
			</td>
			<td style="height:37px; width:158px">
			<p style="text-align:center">10：00起</p>
			</td>
			<td style="height:37px; width:114px">
			<p style="text-align:center">121-134</p>
			</td>
		</tr>
		<tr>
			<td style="height:37px; width:155px">
			<p style="text-align:center">11：00起</p>
			</td>
			<td style="height:37px; width:120px">
			<p style="text-align:center">25-36</p>
			</td>
			<td colspan="2" rowspan="4" style="height:37px; width:272px">
			<p style="text-align:center"><span style="color:#0000ff"><strong>參加同學請於<u>面試前10分鐘至</u></strong></span></p>

			<p style="text-align:center"><span style="color:#0000ff"><strong><u>面試報到室 (L401) 報到</u></strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="height:37px; width:155px">
			<p style="text-align:center">13：00起</p>
			</td>
			<td style="height:37px; width:120px">
			<p style="text-align:center">37-48</p>
			</td>
		</tr>
		<tr>
			<td style="height:37px; width:155px">
			<p style="text-align:center">14：00起</p>
			</td>
			<td style="height:37px; width:120px">
			<p style="text-align:center">49-60</p>
			</td>
		</tr>
		<tr>
			<td style="height:37px; width:155px">
			<p style="text-align:center">15：00起</p>
			</td>
			<td style="height:37px; width:120px">
			<p style="text-align:center">61-72</p>
			</td>
		</tr>
		<tr>
			<td style="height:37px; width:155px">
			<p style="text-align:center">16：00起</p>
			</td>
			<td style="height:37px; width:120px">
			<p style="text-align:center">73-84</p>
			</td>
			<td colspan="3" rowspan="2" style="height:37px; width:327px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:37px; width:155px">
			<p style="text-align:center">17：00 起</p>
			</td>
			<td style="height:37px; width:120px">
			<p style="text-align:center">85-96</p>
			</td>
		</tr>
	</tbody>
</table>

<div style="clear: both; text-align: center;">&nbsp;</div>

<p><span style="color:#ff0000"><strong>若</strong><strong>與他校</strong><strong>/</strong><strong>系</strong><strong>考試衝突需調整面試時間者，報到時</strong><strong>請</strong><strong>出示他校</strong><strong>/</strong><strong>准考證（或面試通知），以便安排更改</strong><strong>面</strong><strong>試時間。</strong></span></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;</strong>例1：原面試時間為4月25日14：00，欲更改至4月26日10：00梯次面試，最晚請於4月26日9：40前報到（提前20分鐘）。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;例2：原面試時間為4月26日9：00，欲更改至4月25日14：00梯次面試，請於4月25日13：40前報到。</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>淡江大學英文學系　啟</p>

<p>&nbsp;</p>