<p><strong>壹、 未來目標與學校特色之契合度</strong></p>

<p>近三十多年來，本校的辦學方向有計畫地邁向國際化、資訊化及未來化。為配合學校辦學目標，本系將繼續致力推動教學電腦化、行政資訊化、研究網路化，並致力推動網路教學，現已落實並進行與日本早稻田大學之遠距教學課程。國際交流方面，希望再多增加教學與研究的交流，擴大學生的交換，不但師資國際化，學生也國際化，希冀招收更多交換生及外籍生。</p>

<p>貳、 研究策略</p>

<p>本系特別重視資訊化之學術研究，有老師研究多媒體教學之應用等課程研究；亦有研究生發表此類論文，此為發展方向之一。教師之研究，依個人興趣而有所不同，但整體而言，文學組教師多從文學理論出發，檢驗文本；教學組之研究，則以教學與教材為研究重點，並進入網路之研究與網路教學之應用。本系與美國賓州印第安那大學、美國維諾那大學及美國佛羅里達中央大學也有密切的合作關係，將來可以推行合作研究、互訪或短期研究。</p>