<p><strong>英文學系-大學部課程</strong></p>

<table border="1" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th rowspan="2" style="height:44px; width:200px">
			<p style="margin-left:14.2pt">科目名稱</p>
			</th>
			<th rowspan="2" style="height:44px; width:28px">
			<p>學分</p>
			</th>
			<th colspan="2" style="height:44px; width:55px">
			<p style="margin-left:2.85pt">第１</p>

			<p style="margin-left:2.85pt">學年</p>
			</th>
			<th colspan="2" style="height:44px; width:55px">
			<p style="margin-left:2.85pt">第２</p>

			<p style="margin-left:2.85pt">學年</p>
			</th>
			<th colspan="2" style="height:44px; width:55px">
			<p style="margin-left:2.85pt">第３</p>

			<p style="margin-left:2.85pt">學年</p>
			</th>
			<th colspan="2" style="height:44px; width:55px">
			<p style="margin-left:2.85pt">第４</p>

			<p style="margin-left:2.85pt">學年</p>
			</th>
			<th colspan="2" style="height:44px; width:55px">
			<p style="margin-left:2.85pt">第５</p>

			<p style="margin-left:2.85pt">學年</p>
			</th>
			<th rowspan="2" style="height:44px; width:134px">
			<p style="margin-left:5.65pt">備註</p>
			</th>
		</tr>
		<tr>
			<th style="height:23px; width:27px">
			<p>上</p>
			</th>
			<th style="height:23px; width:27px">
			<p>下</p>
			</th>
			<th style="height:23px; width:27px">
			<p>上</p>
			</th>
			<th style="height:23px; width:27px">
			<p>下</p>
			</th>
			<th style="height:23px; width:27px">
			<p>上</p>
			</th>
			<th style="height:23px; width:27px">
			<p>下</p>
			</th>
			<th style="height:23px; width:27px">
			<p>上</p>
			</th>
			<th style="height:23px; width:27px">
			<p>下</p>
			</th>
			<th style="height:23px; width:27px">
			<p>上</p>
			</th>
			<th style="height:23px; width:27px">
			<p>下</p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:200px">
			<p style="text-align:center">大一英文</p>

			<p style="text-align:center">Freshman English</p>
			</td>
			<td style="width:28px">
			<p style="text-align:center">4</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center">文學作品讀法</p>

			<p style="margin-left:5.5pt; text-align:center">Appr. To the Study of Literature</p>
			</td>
			<td style="width:28px">
			<p style="text-align:center">4</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center">西洋文學概論</p>

			<p style="text-align:center">Introduction to Western Literature</p>
			</td>
			<td style="width:28px">
			<p style="text-align:center">4</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center">英作文(一)</p>

			<p style="text-align:center">English Composition <strong>(I)</strong></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center">4</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center">英語會話</p>

			<p style="text-align:center">English Conversation</p>
			</td>
			<td style="width:28px">
			<p style="text-align:center">4</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center">英語口語表達</p>

			<p style="text-align:center">Oral Communication</p>
			</td>
			<td style="width:28px">
			<p style="text-align:center">4</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center">英作文(二)</p>

			<p style="text-align:center">English Composition<strong>(II)</strong></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center">4</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center">英語語言學概論</p>

			<p style="text-align:center">Introduction to English Linguistics</p>
			</td>
			<td style="width:28px">
			<p style="text-align:center">4</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center">英國文學(一)</p>

			<p style="text-align:center">English Literature <strong>(I)</strong></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center">6</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">3</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">3</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center">英國文學(二)</p>

			<p style="text-align:center">English Literature <strong>(II)</strong></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center">6</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">3</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">3</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center">英語演講</p>

			<p style="text-align:center">Oral Presentation in English</p>
			</td>
			<td style="width:28px">
			<p style="text-align:center">4</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center">英作文(三)</p>

			<p style="text-align:center">English Composition<strong> (III)</strong></p>
			</td>
			<td style="width:28px">
			<p style="text-align:center">4</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center">美國文學</p>

			<p style="text-align:center">American Literature</p>
			</td>
			<td style="width:28px">
			<p style="text-align:center">6</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">3</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">3</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p style="text-align:center">英文翻譯</p>

			<p style="text-align:center">English Translation</p>
			</td>
			<td style="width:28px">
			<p style="text-align:center">4</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:27px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:134px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>