<p><span>獎學金種類</span></p>

<p>
	<br>1.學業獎項(附獎狀)：英萃書卷獎(每班第一名)、英萃獎、書林書籍獎</p>

<p>2.自強獎項(不附獎狀)：自強獎、互愛自強獎、碧清自強獎
	<br>
	<br>
	<br><span>申請資格<br></span><strong><span><br></span></strong>英文系(含進學班)大一~大四、研究所碩一~碩二學生，博士生可申請學校獎學金，請洽學生事務處生輔組。</p>