<p>法規彙編：<a href="/storage/app/media/English/Ellen/5-81.pdf">5-81淡江大學新生抵免英文（一）、英文（二）課程實施要點</a>（110.05.21修正）</p>

<p>　　　　　<a href="/storage/app/media/English/Ellen/5-90.pdf">5-90淡江大學新生抵免西班牙文（一）、西班牙文（二）課程實施要點</a>（110.05.21修正）</p>

<p>　　　　　<a href="/storage/app/media/English/Ellen/5-91.pdf">5-91淡江大學新生抵免法文（一）、法文（二）課程實施要點</a>（110.05.21修正）</p>

<p>　　　　　<a href="/storage/app/media/English/Ellen/5-92.pdf">5-92淡江大學新生抵免德文（一）、德文（二）課程實施要點</a>（110.05.21修正）</p>

<p>　　　　　<a href="/storage/app/media/English/Ellen/5-93.pdf">5-93淡江大學新生抵免日文（一）、日文（二）課程實施要點</a>（110.05.21修正）</p>

<p>　　　　　<a href="/storage/app/media/English/Ellen/5-94.pdf">5-94淡江大學新生抵免俄文（一）、俄文（二）課程實施要點</a>（110.05.21修正）</p>

<p>&nbsp;</p>

<p>一、申請流程：</p>

<ol>
	<li><span style="color:#ff0000">請先詳閱上列抵免各外文課程實施要點，「新生」包含轉學生新生。</span></li>
	<li>自109學年度起，新生欲抵免外文（一）、外文（二）課程者（意指免修通識教育課程外國語文學門各外文課程），請至「<a href="http://w3.emis.tku.edu.tw/">淡江大學學分抵免作業系統</a>」提出申請。</li>
	<li>登入學分抵免系統後，可點選「以語言檢定成績等其它條件申請抵免外文（一）/（二）」進入申請畫面。</li>
	<li>請依申請畫面顯示之流程說明與成績處理說明辦理。</li>
	<li><span style="color:#ff0000">因抵免只能於剛入學本校的那個學期申請，過了該學期則無法再次提出申請，也就是只有1次機會，故申請時，以成績能夠申請抵免的最高結果申請之。</span></li>
	<li>境外生、駐外人員子女請務必於申請條件點選「境外學生等特殊身分」。If you are an international student, overseas Chinese student, or&nbsp;a student&nbsp;from families in the diplomatic&nbsp;service, please choose &quot;International Students/Others&quot; for the &quot;Proof of Eligibility&quot; category.&nbsp;</li>
	<li>系統操作手冊：<a href="https://www.tflx.tku.edu.tw/storage/app/media/English/Ellen/1171%20%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8A-%E4%B8%AD%E6%96%87%E7%89%88.pdf">中文版</a>、<a href="https://www.tflx.tku.edu.tw/storage/app/media/English/Ellen/1171%20%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8A-English.pdf">英文版（instructions in English）</a>。</li>
	<li><span style="color:#ff0000">於系統提出申請後，必須繳交入學前取得之相關證明文件至外語學院各外語學系審核，才算完成程序。文件將於審核完畢後歸還申請者。</span></li>
	<li>110學年度9月入學之新生，申請時間為第1學期開學後2週內（至110年10月6日止）。110學年度2月入學之新生，申請時間為第2學期開學後2週內（暫定至111年3月7日止）。</li>
</ol>

<ul>
	<li><span style="color:#ff0000">因受疫情影響，110學年度第1學期抵免各外文課程者，欲繳交相關證明文件，請於10月6日前以電子郵件將文件電子檔（拍照或掃瞄皆可）寄至各外語學系信箱，並於郵件內註明系級、姓名、學號、連絡方式。</span>

	<ul>
		<li>英文系：<a href="mailto:tflx@oa.tku.edu.tw">tflx@oa.tku.edu.tw</a>。</li>
		<li>西語系：<a href="mailto:spanish@mail.tku.edu.tw">spanish@mail.tku.edu.tw</a>。</li>
		<li>法文系：<a href="mailto:tffx@oa.tku.edu.tw">tffx@oa.tku.edu.tw</a>。</li>
		<li>德文系：<a href="mailto:ger@mail.tku.edu.tw">ger@mail.tku.edu.tw</a>。</li>
		<li>日文系：<a href="mailto:tfjx@oa.tku.edu.tw">tfjx@oa.tku.edu.tw</a>。</li>
		<li>俄文系：<a href="mailto:tfux@gms.tku.edu.tw">tfux@gms.tku.edu.tw</a>。</li>
	</ul>
	</li>
	<li>若還有其他問題，欲抵免「英文（一）」、「英文（二）」課程者，請電(02) 26215656分機2342或寫信至<a href="mailto:tflx@oa.tku.edu.tw">tflx@oa.tku.edu.tw</a>；欲抵免其他免外文（一）、外文（二）課程者，請逕洽其他外語學系。</li>
</ul>

<p>二、確認審核結果：</p>

<ol>
	<li>請再次至「<a href="http://w3.emis.tku.edu.tw/">淡江大學學分抵免作業系統</a>」確認審核狀態或抵免結果。</li>
</ol>

<p>三、退選、成績、學分：</p>

<ol>
	<li>退選：審核通過者，隨即不用上課。記得自行退選抵免課程，亦可待課務組統一退選（但要等比較久）。</li>
	<li>成績與學分：成績單上的「成績」欄位將顯示為「抵免」，「學分」欄位會有學分數，無需再修習其他課程來替代、填補學分。</li>
</ol>

<p>四、其他說明：</p>

<ol>
	<li>107學年度以前入學之學生（不含107學年度）欲抵免「英文（一）」、「英文（二）」課程者，請仍以紙本申請。請至<a href="https://www.tflx.tku.edu.tw/english/file/1178">英文系網頁／表單下載／通識外語學門</a>下載申請表。</li>
</ol>

<p>&nbsp;</p>