description = "英文系Banner"
==
{% set contact = site.contact_info.0 %}
<header class="clearfix">
    <div class="header_top">
        <div class="top_bar">
            {% partial 'common_' ~ locale ~'/header_search' contact=contact%}
            <div class="yellow_line"></div>
        </div>
    </div>
    
    <div class="header_middle">
        {% partial layout_folder ~ '/logo'%}
    </div>
    
    <div class="header_bottom">
        <div class="container relative">
            <div class="header_link clearfix">
                {% if not unit_sites.isEmpty %}
                <div class="lang pull-left">
                    {% for unit_site in unit_sites%}
                        <a href="{{unit_site.rootMenu.linkHref}}" rel="noopener noreferre" target="_blank">{{unit_site.localeName|default('home')}}</a>
                        {% if not loop.last %}
                            　|　
                        {%endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="header_sitemap pull-right">
                   {% partial 'search'%}
                </div>
            </div>
        </div>
        <div class="fixed_layout">
            <div class="container">
                <div class="row">
                    {% partial layout_folder ~ '/dropdown_menu'%}
                </div>
            </div>
        </div>
    </div>
    
    {% if current.id == homeMenu.id %}
        {% partial layout_folder ~ '/slider' sliders=site.sliders%}
    {%else%}
        <div class="banner">
            <img src="{{site.inner_banner.path}}" alt="banner">
        </div>    
    {%endif%}
    
    <div class="under_line"></div>
</header>