description = "英文系logo"
==
<div class="container">
    <div class="logo">
        <a href="{{homeMenu.linkHref}}"><img src='{{"assets/#{style}/images/logo.png"|theme}}' alt="logo"></a>
    </div>
</div>