description = "學院標頭"
==
<head>
    <!-- meta
    ================================================== -->
    {% partial 'head_meta' %}

    <title>{{site.title}}</title>

    <!-- style
    ================================================== -->
    <link rel="stylesheet" href="{{[
        'assets/css/bootstrap.css',
        'assets/css/font-awesome.css',
        'assets/plugins/owl.carousel/owl.carousel.css',
        'assets/plugins/owl.carousel/owl.theme.default.css',
        'assets/css/jquery.mCustomScrollbar.css',
                    ]|theme}}">
    <link rel="stylesheet" href='{{"assets/css/department.css?v=1"|theme}}'>
    <link rel="stylesheet" href='{{"assets/#{style}/css/style.css?v=1"|theme}}'>

    {% styles %}
    <!--[if lt IE 9]>
        <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
        <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>