description = "推薦主題"
==
<h2 class="index_title">
    <span class="title_tw">推薦主題<span class="title_en"> / Recommand</span></span>
</h2>
<div class="area_layout">
    <div class="row recommand">
        {% for link in links %}
        <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
            <a href="{{link.url}}" target="{{link.link_target}}" title="{{link.title}}" class="recommand_link eqh-3">
                <span class="recommand_img">
                    <img src='{{ "#{link.picture}" |media}}'  alt="{{link.title}}">
                    <span class="recommand_layout"></span>
                </span>
                <span class="recommand_text">{{link.title}}</span>
            </a>
        </div>        
        {% endfor %}        
    </div>
</div>